<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name">
                            <!-- <small class="form-control-feedback"> This field has error. </small> -->
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label>Amount</label>
                            <input disabled type="text" class="form-control" formControlName="amount">
                            <!-- <small class="form-control-feedback"> This field has error. </small> -->
                        </div>
                    </div>
                    <div class="col-md-12 m-t-20">
                        <div class="form-group">
                            <label>Card Details</label>
                            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
                            </ngx-stripe-card>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-40 text-center">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Make Payment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>