<div class="col-lg-12 col-md-12">
  <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right m-t-5" style="padding-right: 0px;">
    <div class="d-flex justify-content-end align-items-center">
      <button (click)="openRule();auditTrack(1)" type="button" class="btn btn-warning d-lg-block m-l-15"><i
          class="fa fa-plus-circle"></i> Add Rules</button>
    </div>
  </div>
  <div class="table-responsive p-t-10">
    <app-apploader [Uloading]="loading" *ngIf="!isEdit && loading"></app-apploader>
    <table class="table table color-bordered-table table-striped success-bordered-table table-bordered">
      <thead class="text-center">
        <th>Rule Name</th>
        <th>Modified Date </th>
        <!-- <th>Courier </th>
        <th>Service</th> -->
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let ship of allShip">
          <td>{{ ship.ruleName }}</td>
          <td>{{ ship.modifiedDate | date: 'dd MMM yyyy' }}</td>
          <!-- <td><img height="30"
              src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhub{{ship.carrier}}.png"> </td>
          <td>{{ ship.service }}</td> -->
          <td><span *ngIf="ship.status">ENABLED</span></td>
          <!--<td >{{ import.status }} <span style="color: red; font-size: small;">{{ import.error }}</span></td> -->
          <td><button (click)="editRule(ship.id);auditTrack(2)" type="button"
              class="btn btn-circle btn-sm btn-success"><i class="fa fa-edit font-blue"></i></button> &nbsp;&nbsp;
            <button (click)="removeRule(ship.id);auditTrack(3)" type="button"
              class="btn btn-sm btn-circle btn-warning"><i class="fa fa-times font-red"> </i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="ship-modal" class="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">SHIPPING RULES
        </h2>

        <button type="button" class="close" (click)="modalclosed()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-md-12">
          <app-apploader [Uloading]="loading" *ngIf="isEdit && loading"></app-apploader>
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <!-- <h3 class="box-title">Condition</h3> -->
              <!-- <hr class="m-t-0 m-b-40"> -->
                  <h3 class="box-title">Condition</h3>
              <hr class="m-t-0 m-b-40">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Shipping Country:</label>
                      <div class="col-md-4">
                        <ng-multiselect-dropdown (onSelect)="onItemSelect($event)" [settings]="dropdownSettings_channel"
                          [placeholder]="'Select Country'" id="channel" name="channel" style="width: 100%;"
                          [data]="allChannels" ngDefaultControl [(ngModel)]="selectedCountries">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Shipping Postcode:</label>
                      <div class="col-md-4">
                        <input type="text" [(ngModel)]="shippostcode" name="shippostcode"
                          class="form-control form-control-danger" placeholder="Multiple Postcodes by Comma">
                      </div>
                    </div>
                  </div>
                  <!--/span -->
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Sales Channel Shipping Service:</label>
                      <div class="col-md-4">
                        <input type="text" [(ngModel)]="shippingServices" name="shipsaleservice"
                          class="form-control form-control-danger" placeholder="Multiple Shipping Service by Comma">
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Apply the rule to orders from the following sales
                        channel:</label>
                      <div class="col-md-4">
                        <select [(ngModel)]="shipapplyruleto" (click)="getsaleschannel($event)" name="shipapplyruleto"
                          class="form-control custom-select">
                          <option value="draft">Select Channel</option>
                          <option value="amazon">Amazon</option>
                          <option value="ebay">Ebay</option>
                          <option value="etsy">Etsy</option>
                          <option value="onbuy">OnBuy</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">SKU:</label>
                      <div class="col-md-4">
                        <ng-multiselect-dropdown [settings]="dropdownSettings_supplier" [placeholder]="'Select Sku'"
                          id="supplier" name="supplier" [data]="skuList" ngDefaultControl [(ngModel)]="selectedSku"
                          (onFilterChange)="getSkuList($event)" (onSelect)="setSelectedSku($event, selectedSku)">
                        </ng-multiselect-dropdown>
    
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Total Order Value (GBP):</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <input type="text" [(ngModel)]="totalordervalue1" name="totalordervalue1" class="form-control"
                            placeholder="Min Order Value">
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" [(ngModel)]="totalordervalue2" name="totalordervalue2" class="form-control"
                            placeholder="Max Order Value">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Shipping Charge (GBP):</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="minShippingCharge"
                            name="minShippingCharge">
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="maxShippingCharge"
                            name="maxShippingCharge">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Item Count:</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <select (change)="onitemCountChange($event)" class="form-control custom-select"
                            name="itemCondition" [(ngModel)]="itemCondition">
                            <option value="">Please Select Item Condition</option>
                            <option value="1">Greater than or equal to</option>
                            <option value="2">Less than or equal to</option>
                            <option value="3">Equals</option>
                          </select>
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" [(ngModel)]="itemCount" name="itemcountval2" class="form-control"
                            placeholder="Item Count">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Order Weight:</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <select (change)="onweightConditionChange($event)" class="form-control custom-select"
                            name="weightCondition" [(ngModel)]="weightCondition">
                            <option value="">Please Select Order Weight Condition</option>
                            <option value="1">Greater than or equal to</option>
                            <option value="2">Less than or equal to</option>
                            <option value="3">Equals</option>
                          </select>
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" [(ngModel)]="weightValue" name="weightValue" class="form-control"
                            placeholder="Order Weight">
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Weight (g):</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <input [(ngModel)]="weight1" name="weight1" type="text" class="form-control"
                            placeholder="Min Weight">
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input [(ngModel)]="weight2" name="weight2" type="text" class="form-control"
                            placeholder="Max Weight">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Length (cm):</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="minLength" name="minLength">
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="maxLength" name="maxLength">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Width (cm):</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="minWidth" name="minWidth">
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="maxWidth" name="maxWidth">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-3">Height (cm):</label>
                      <div class="col-md-9 col-lg-9 row">
                        <div class="col-md-6 col-lg-6">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="minHeight" name="minHeight">
                        </div>
                        <div class="col-md-6 col-lg-6 ">
                          <input type="text" class="form-control" placeholder="" [(ngModel)]="maxHeight" name="maxHeight">
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3 class="box-title">Action</h3>
              <hr class="m-t-0 m-b-40">
              <!--/row-->
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-3">Rule Name</label>
                    <div class="col-md-9">
                      <input placeholder="Enter Rule Name" [(ngModel)]="rulename" name="rulename" type="text"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-3">Shipping Carrier</label>
                    <div class="col-md-9">
                      <select [(ngModel)]="shipcarrier" (change)="onCarrierChange($event)"
                        class="form-control custom-select" name="shipcarrier">
                        <option value="allcarriers">All Carriers</option>
                        <option value="royalmail">royalmail</option>
                        <option value="yodel">yodel</option>
                        <option value="dpd">dpd</option>
                        <option value="RM Click & Drop">RM Click & Drop</option>
                        <option value="amazon">Amazon</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-3">Shipping Service</label>
                    <div class="col-md-9">
                      <select (change)="onServiceChange($event)" class="form-control custom-select" name="shippingService" [(ngModel)]="shippingservice">
                        <option value="-1">Please Select a Service?</option>
                        <option *ngFor="let service of shippingMethods[carrierOption]" value={{service.code}}>{{service.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-3">Service Format:</label>
                    <div class="col-md-9">
                      <input disabled type="text" disabled class="form-control" name="serviceFormat">
                    </div>
                  </div>
                </div>
                <!--/span-->
              </div>
              <!--/row-->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-3">Warehouse Location</label>
                    <div class="col-md-9">
                      <select (change)="onWarehouseChange($event)" class="form-control custom-select"
                        name="shippingService" [(ngModel)]="warehouseLocation">
                        <option value="-1">Please Select Warehouse Location</option>
                        <option *ngFor="let prod of allWarehouses" value={{prod.code}}>{{prod.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="custom-control custom-checkbox m-b-0 ml-2 mt-2">
                      <input type="checkbox" class="custom-control-input" name="username" placeholder="Enable"
                        [(ngModel)]="enableservice">
                      <span class="custom-control-label">Enable</span>
                    </label>
                  </div>
                </div>
                <!--/span-->
                <!-- <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label text-right col-md-3">Country</label>
                    <div class="col-md-9">
                      <select class="form-control custom-select">
                        <option>Country 1</option>
                        <option>Country 2</option>
                      </select>
                    </div>
                  </div>
                </div> -->
                <!--/span-->
              </div>
              
              <!--/span-->
              
              <!-- <div class="col-md-12">
                <div class="form-group row">
                  <label class="control-label text-left col-md-3">SKU :</label>
                  <div class="col-md-9">
                    <input type="text" [(ngModel)]="sku" name="sku" class="form-control form-control-danger">
                   <select class="form-control custom-select" [(ngModel)]="sku" name="sku">
                      <option value="-1">Select SKU</option>
                      <option value="0">None</option>
                    </select>
                  </div>
                </div>
              </div> -->
              <!--/span-->
              
              <!--/span-->
              
              <!--/row-->
            </div>
            <hr>
            <!-- <div class="form-actions">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button type="submit" class="btn btn-success">Submit</button>
                      <button type="button" class="btn btn-inverse">Cancel</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"> </div>
              </div>
            </div> -->
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="saveRule()" type="button" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal"
          (click)="modalclosed()">Close</button>
      </div>
    </div>
  </div>
</div>