
element.style {
}
.active .bs-stepper-circle {
    background-color: #007bff;
}
.bs-stepper-circle {
    display: -webkit-inline-box;
    display: inline-flex;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: 0.5em 0;
    margin: 0.25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d !important;
    border-radius: 1em;
}

.active .bs-stepper-circle{
    background-color: #007bff !important;
}

#my-file { visibility: hidden; }
.prod-img{
    max-height: 70px;
}
:host ::ng-deep .multiselect-dropdown .selected-item{
    max-width: 200px!important;
  }