<div class="container-fluid" style="margin-top: 2px">
    <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
        style="padding-right: 0px;">
        <div class="d-flex justify-content-end align-items-center">
            <div>
                <button (click)="openmodalMergeProd()" type="button" class="btn btn-success d-lg-block m-r-15"><i
                        class=" fas fa-download"></i> Merge
                    Product</button>
            </div>

            <div>
                <button (click)="duplicateProd()" type="button" class="btn btn-success d-lg-block m-r-15"><i
                        class=" fas fa-download"></i> Duplicate Product</button>
            </div>
            <div class="btn-group mr-1">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class=" fas fa-print"></i> More
                </button>
                <div class="dropdown-menu animated flipInX">
                    <a (click)="deleteProd()" class="dropdown-item" href="javascript:void(0)">Delete</a>
                    <a (click)="printProd()" class="dropdown-item" href="javascript:void(0)">Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
    <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Product Details</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">SKU Price & Quantity</span>
                </button>
            </div>
            <!-- <div class="line"></div> -->
            <!-- <div class="step" data-target="#test-l-3">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Variations</span>
                </button>
            </div> -->
            <div class="line"></div>
            <div class="step" data-target="#test-l-4">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">4</span>
                    <span class="bs-stepper-label">Product Image</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-5">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">5</span>
                    <span class="bs-stepper-label">Attributes</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form name="123">
                <div id="test-l-1" class="content">
                    <form action="#">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Title <span style="color:red">*</span></label>
                                        <input name="title" [(ngModel)]="title" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Stock keeping unit (SKU) <span style="color:red">*</span></label>
                                        <input name="sku" [(ngModel)]="sku" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description <span style="color:red">*</span></label>
                                        <!-- <angular-editor id="editor" [(ngModel)]="input" [config]="editorConfig"
                                            (focusout)="emithtml()">
                                        </angular-editor> -->
                                        <textarea name="desc" [(ngModel)]="desc" class="form-control"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Product Summary </label>
                                        <textarea name="productsummary" [(ngModel)]="productsummary"
                                            class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label text-right">Product Code: <span
                                                style="color:red">*</span> Please check the below relevant box to enter
                                            code</label>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label>Country Of Origin:</label>
                                    <ng-multiselect-dropdown (onSelect)="onItemSelectCountryBil($event)"
                                        [settings]="dropdownSettings_country" [placeholder]="'Select Country'"
                                        id="country" name="country" [data]="allCountries" ngDefaultControl
                                        [(ngModel)]="selectedCountry">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <!--/row-->
                            <div class="form-group row">
                                <div class="col-sm-9 col-md-3">
                                    <label class="custom-control custom-checkbox m-b-0">
                                        <input [checked]="isUpcSelected" (click)="upcSelected()" type="checkbox"
                                            class="custom-control-input">
                                        <span class="custom-control-label">UPC</span>
                                    </label>
                                </div>
                                <div class="col-sm-9 col-md-3">
                                    <label class="custom-control custom-checkbox m-b-0">
                                        <input [checked]="isEAN_FSNSelected" (click)="EAN_FSNSelected()" type="checkbox"
                                            class="custom-control-input">
                                        <span class="custom-control-label">EAN/FSN</span>
                                    </label>
                                </div>
                                <div class="col-sm-9 col-md-3">
                                    <label class="custom-control custom-checkbox m-b-0">
                                        <input [checked]="isISBNSelected" (click)="isbnSelected()" type="checkbox"
                                            class="custom-control-input">
                                        <span class="custom-control-label">ISBN</span>
                                    </label>
                                </div>
                                <div class="col-sm-9 col-md-3">
                                    <label class="custom-control custom-checkbox m-b-0">
                                        <input [checked]="isASINSelected" (click)="asinSelected()" type="checkbox"
                                            class="custom-control-input">
                                        <span class="custom-control-label">ASIN</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" *ngIf="isUpcSelected">
                                    <div class="form-group">
                                        <label>UPC</label>
                                        <input name="UPC" [(ngModel)]="UPC" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6" *ngIf="isEAN_FSNSelected">
                                    <div class="form-group">
                                        <label>EAN/FSN</label>
                                        <input name="ean_fsn" [(ngModel)]="ean_fsn" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6" *ngIf="isISBNSelected">
                                    <div class="form-group">
                                        <label>ISBN</label>
                                        <input name="ISBN" [(ngModel)]="ISBN" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="isASINSelected">
                                    <div class="form-group">
                                        <label>ASIN</label>
                                        <input name="ASIN" [(ngModel)]="ASIN" type="text" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 col-lg-12 text-right">
                        <button (click)="next('saveGeneralSetting')" class="btn btn-primary">Next</button>
                    </div>
                </div>
                <div id="test-l-2" class="content">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Selling Price (Inc Tax): <span style="color:red">*</span></label>
                                <input appDecimaNumberDirective [(ngModel)]="sellingprice" name='sellingprice'
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Selling Price (Excl Tax): </label>
                                <input appDecimaNumberDirective [(ngModel)]="sellingpriceExTax" name='sellingpriceExTax'
                                    type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Tax Rate </label>
                                <select [(ngModel)]="taxrate" name='taxrate' class="form-control custom-select">
                                    <option value="">--Select your Tax Rate--</option>
                                    <option value="{{tax.rate}}" *ngFor="let tax of taxRates">{{tax.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Cost Price </label>
                                <input appDecimaNumberDirective [(ngModel)]="costprice" name='costprice' type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Recommended Retail Price (RRP): </label>
                                <input appDecimaNumberDirective [(ngModel)]="recomRetailsPrice" name='recomRetailsPrice'
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Total Quantity:<span style="color:red">*</span></label>
                                <input appNumber [(ngModel)]="totlQty" name='totlQty' type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Minimum Qty: </label>
                                <input appNumber [(ngModel)]="minQty" name='minQty' type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Item Condition: </label>
                                <select [(ngModel)]="itemCond" name='itemCond' class="form-control custom-select">
                                    <option>--Select Item Condition--</option>
                                    <option value="New">New/Brand New/New with box/New with tags</option>
                                    <option value="10">New without tags/Unused item with no signs of wear/Packaging may
                                        be missing or opened.</option>
                                    <option value="5">New with defects/Collectible Like New</option>
                                    <option value="Used">Used/Pre-Owned</option>
                                    <option value="1">Used Like New</option>
                                    <option value="2">Used Very Good</option>
                                    <option value="3">Used Good</option>
                                    <option value="9">Good</option>
                                    <option value="4">Used Acceptable</option>
                                    <option value="6">Manufacturer refurbished/Collectible Very Good</option>
                                    <option value="7">Seller refurbished/Collectible Good</option>
                                    <option value="8">Collectible Acceptable</option>
                                    <option value="12">For parts or not working</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Condition Note: </label>
                                <input [(ngModel)]="condNotes" name='condNotes' type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Weight(KG): <span style="color:red">*</span></label>
                                <input appDecimaNumberDirective [(ngModel)]="weightkg" name='weightkg' type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Height(cm): <span style="color:red">*</span></label>
                                <input appNumber [(ngModel)]="heightkg" name='heightkg' type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Depth(cm): <span style="color:red">*</span></label>
                                <input appDecimaNumberDirective [(ngModel)]="depth" name='depth' type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>Width(cm): <span style="color:red">*</span></label>
                                <input appDecimaNumberDirective [(ngModel)]="width" name='width' type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 row ">
                        <div class="col-md-6 text-left">
                            <button (click)="pevious()" class="btn btn-primary">Previous</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button (click)="next('skuPrice')" class="btn btn-primary">Next</button>
                        </div>
                    </div>
                </div>
                <!-- <div id="test-l-3" class="content" style="min-height: 80vh;">
                    <div *ngIf="!isSaveVariationDone">
                        <div class="form-group row">
                            <div class="col-sm-9 col-md-3">
                                <label class="custom-control custom-checkbox m-b-0">
                                    <input (click)="changeVariation(false)" [checked]="!hasVariation" type="checkbox"
                                        class="custom-control-input">
                                    <span class="custom-control-label">No variations</span>
                                </label>
                            </div>
                            <div class="col-sm-9 col-md-3">
                                <label class="custom-control custom-checkbox m-b-0">
                                    <input (click)="changeVariation(true)" [checked]="hasVariation" type="checkbox"
                                        class="custom-control-input">
                                    <span class="custom-control-label">Had Variation</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group" *ngIf="hasVariation">
                            <label>Attributes:</label>
                            <ng-multiselect-dropdown (onDropDownClose)="onDropDownClose($event)"
                                [settings]="dropdownSettings_attributes" [placeholder]="'Select Attributes'"
                                id="attributes" name="attributes" [data]="attributes" ngDefaultControl
                                [(ngModel)]="selectedAttributes">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-12 col-lg-12 row" *ngIf="hasVariation && mappedAttributes.length>0">
                            <div class="col-md-6 col-lg-6" *ngFor="let vari of mappedAttributes">
                                <div class="form-group">
                                    <label>{{vari.name}} :</label>
                                    <ng-multiselect-dropdown [settings]="dropdownSettings_attributes_dynamic"
                                        [placeholder]="'Select Attributes'" id="attributes-{{vari.name}}"
                                        name="attributes-{{vari.name}}" ngDefaultControl [(ngModel)]="vari.selvalues"
                                        [data]="vari?.attributeValuesJson?.values">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" *ngIf="isSaveVariationDone">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>UPC</th>
                                    <th>EAN</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th *ngFor="let ma of mappedAttributes">{{ma.name}}</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tbf of tableFields">
                                    <td><input name="{{tbf.sku}}" disabled [value]="tbf.sku" type="text"
                                            class="form-control" placeholder=""></td>
                                    <td><input name="{{tbf.sku}}-UPC" type="text" [(ngModel)]="tbf.upc"
                                            class="form-control" placeholder=""></td>
                                    <td><input name="{{tbf.sku}}-EAN" type="text" [(ngModel)]="tbf.ean"
                                            class="form-control" placeholder=""></td>
                                    <td><input appDecimaNumberDirective name="{{tbf.sku}}-PRICE" type="text"
                                            [(ngModel)]="tbf.baseprice" class="form-control" placeholder=""></td>
                                    <td><input name="{{tbf.sku}}-QTY" type="text" [(ngModel)]="tbf.qty"
                                            class="form-control" placeholder=""></td>
                                    <td *ngFor='let cmb of tbf.combinationIpArray'>
                                        <input disabled [value]="cmb" type="text" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                        <button (click)="removeFromcombi(tbf)" type="button"
                                            class="btn btn-primary btn-circle"><i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-lg-12 row" *ngIf="this.hasVariation && !isSaveVariationDone">
                        <div class="col-md-6 col-lg-6 text-left">
                            <button (click)="pevious()" class="btn btn-primary">Previous</button>
                        </div>
                        <div class="col-md-6 col-lg-6 text-right">
                            <button (click)="genTableVariations()" class="btn btn-primary">Next</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 row" *ngIf="!this.hasVariation || isSaveVariationDone">
                        <div class="col-md-6 col-lg-6 text-left">
                            <button (click)="goBacktoVariation()" class="btn btn-primary">Previous</button>
                        </div>
                        <div class="col-md-6 col-lg-6 text-right">
                            <button (click)="next('variation')" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div> -->
                <div id="test-l-4" class="content ">
                    <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                        style="padding-right: 0px;">
                        <div class="d-flex justify-content-end align-items-center">
                            <div>
                                <input multiple accept="image/png, image/gif, image/jpeg" type="file"
                                    (change)="changeFiles($event)" name="my_file" id="my-file" style="display: none;" />
                                <button (click)="openuploadfun()" for="actual-btn" type="button"
                                    class="btn btn-success d-lg-block m-r-15"><i class="fas fa-upload"></i> Add
                                    Image</button>
                            </div>

                            <div>
                                <button (click)="gwtImagesForMapping()" type="button"
                                    class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-upload"></i> Associate
                                    Images to variations</button>
                            </div>
                           
                            <div>
                                <button type="button" class="btn btn-success d-lg-block m-r-15"><i
                                        class=" fas fa-sync"></i> Refresh</button>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive m-t-15" *ngIf="!isVarionImages">
                        <table class="table color-bordered-table success-bordered-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Gallery</th>
                                    <th>Sort Order</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let image of uploadedimages">
                                    <td><img src="{{image.url}}" class="img-responsive prod-img" /></td>
                                    <td>{{image.name}}</td>
                                    <td>
                                        <div class="col-md-12 col-lg-12 ">
                                            <label class="custom-control custom-checkbox m-b-0">
                                                <input [checked]="image.galleryImage" (click)="changeTheGallery(image)"
                                                    type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label">Gallery Image</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="image.sortorders" name="brand"
                                            class="form-control">
                                    </td>
                                    <td><button (click)="removeImage(image)" type="button"
                                            class="btn btn-primary btn-circle"><i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive m-t-15" *ngIf="isVarionImages && variations">
                        <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                            style="padding-right: 0px;">
                            <div class="d-flex justify-content-end align-items-center">
                                <button (click)="getBackToUplod()" type="button"
                                    class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-upload"></i> Back To
                                    Upload</button>
                            </div>
                        </div>
                        <table class="table color-bordered-table success-bordered-table">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Title</th>
                                    <th *ngFor="let img of variations?.imagelist;let i=index">Image {{i}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let childs of variations?.childproducts">
                                    <td>{{childs?.sku}}</td>
                                    <td>{{childs?.title}}</td>  
                                    <td *ngFor="let img of variations?.imagelist">
                                        <div class="col-md-12 col-lg-12">
                                            <label class="custom-control custom-checkbox m-b-0">
                                                <input (click)="saveChaildImage(childs,img)"
                                                    type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label"></span>
                                            </label>
                                        </div>
                                        <img src="{{img.url}}" class="img-responsive prod-img" />
                                    </td>                                 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-lg-12 row" *ngIf="!isVarionImages">
                        <div class="col-md-6 col-lg-6 text-left">
                            <button (click)="pevious()" class="btn btn-primary">Previous</button>
                        </div>
                        <div class="col-md-6 col-lg-6 text-right">
                            <button (click)="next('images')" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 row" *ngIf="isVarionImages">
                        <div class="col-md-6 col-lg-6 text-left">
                            <button (click)="pevious()" class="btn btn-primary">Previous</button>
                        </div>
                        <div class="col-md-6 col-lg-6 text-right">
                            <button (click)="next('variationimages')" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <div id="test-l-5" class="content ">
                    <div class="table-responsive">
                        <table class="table color-bordered-table success-bordered-table">
                            <thead>
                                <tr>
                                    <th>Attribute Name</th>
                                    <th>Value</th>
                                    <th>Available Values</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BRAND</td>
                                    <td><input type="text" [(ngModel)]="brand" name="brand" class="form-control"></td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control custom-select"
                                                data-placeholder="Choose a Category" tabindex="1">
                                                <option value="" disabled>--Please Select--</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MPN</td>
                                    <td><input type="text" [(ngModel)]="mpn" name="mpn" class="form-control"></td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control custom-select"
                                                data-placeholder="Choose a Category" tabindex="1">
                                                <option value="" disabled>--Please Select--</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Manufacturer</td>
                                    <td><input name="manfacturer" [(ngModel)]="manfacturer" type="text"
                                            class="form-control"></td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control custom-select"
                                                data-placeholder="Choose a Category" tabindex="1">
                                                <option value="" disabled>--Please Select--</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Model Number</td>
                                    <td><input [(ngModel)]="modelnumber" name="modelnumber" type="text"
                                            class="form-control"></td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control custom-select"
                                                data-placeholder="Choose a Category" tabindex="1">
                                                <option value="" disabled>--Please Select--</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-lg-12 text-right">
                        <button type="button" (click)="saveAttibutes()" class="btn btn-primary mt-5">Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<div id="imageurl-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Upload Images
                    from URL
                </h2>

                <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-lg-12">
                    <div class="col-md-12 col-lg-12 row">
                        <div class="form-group col-md-12 col-lg-12 ">
                            <label class="control-label">Image URL</label>
                            <input type="text" id="firstName" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 ">
                            <label class="control-label">Image URL</label>
                            <input type="text" id="firstName" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group col-md-12 col-lg-12  ">
                            <label class="control-label">Image URL</label>
                            <input type="text" id="firstName" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group col-md-12 col-lg-12  ">
                            <label class="control-label">Image URL</label>
                            <input type="text" id="firstName" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group col-md-12 col-lg-12 ">
                            <label class="control-label">Image URL</label>
                            <input type="text" id="firstName" class="form-control" placeholder="URL">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-lg-12 ">
                        <label class="custom-control custom-checkbox m-b-0">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Download Images to Kartzhub</span>
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-success">Upload</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="mergeProd-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Please select a product to merge
                    into
                </h2>

                <button type="button" class="close" data-dismiss="modal" (click)="modalclosedMerge()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive " style="clear: both;">
                    <table class="table table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>Image</th>
                                <th>SKU</th>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of mergedProds">
                                <td><img style="max-width: 37px;" [src]="prod?.imageUrl" class="img-responsive" /></td>
                                <td>{{prod.sku}}</td>
                                <td>{{prod.title}}</td>
                                <td class="text-center"><button (click)="mergeThisProd(prod)" type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-primary">Merge into this
                                        product</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3"
                    [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                </ngb-pagination>
            </div>
            <div class="modal-footer">
                <button (click)="modalclosedMerge()" type="button" class="btn btn-danger waves-effect"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

