ngb-pagination{
  float: right;
}

.prod-imgs{
  width:43% !important
}
.flipInY{
  top: 30px!important;
  left: -158px!important;
}
.prod-img{
  max-height: 40px;
  max-width: 70px;
}
.title{
  overflow: hidden !important;
  width:120px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  margin: auto;
}
.sku{
  overflow: hidden !important;
  /* width:100px !important; */
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  margin: auto;
}