<div class="card">
    <div class="card-body">
        <!-- <div class="col-lg-12 col-md-12 row option-alignment">
      <div class="col-lg-6 col-sm-12 col-md-6">
        <h4 class="card-title">Create New Order</h4>
      </div>
    </div> -->
        <div class="col-lg-12 col-md-12 row">
            <div class="col-lg-9 col-md-9">
                <div class="form-group disabled">
                    <label class="control-label">Channel</label>
                    <ng-multiselect-dropdown (onSelect)="onItemSelect($event)" [settings]="dropdownSettings_channel" [placeholder]="'Select Channel'" id="channel" name="channel" [data]="allChannels" ngDefaultControl [(ngModel)]="selectedChannle">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-3 m-t-30">
        <button (click)="createOrderByChannel()" type="button" class="btn btn-success d-lg-block m-l-15"><i
            class="fa fa-plus-circle"></i> Generate Order</button>
      </div> -->
        </div>
        <div class="row">
            <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
            <div class="col-lg-6">
                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <h4 class="m-b-0 text-white">Order Details</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal p-t-20 " autocomplete="off">
                            <div class="form-group row">
                                <label for="orderid" class="col-sm-3 control-label">Order #</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <label><b>{{orderid}}</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Channel" class="col-sm-3 control-label">Channel</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <label><b>{{Channel}}</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="orderDate" class="col-sm-3 control-label">Order Date</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <label><b>{{orderDate | date: 'dd/MM/yyyy'}}</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="orderstatus" class="col-sm-3 control-label">Order Status<span
                                        style="color:red">*</span></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <select [disabled]="true" [(ngModel)]="orderStatus" id="orderStatusselectid" class="form-control" name="orderStatus">
                                            <option [value]="'Draft'">Draft</option>
                                            <option [value]="'Unshipped'">Unshipped</option>
                                            <option [value]="'Shipped'">Shipped</option>
                                            <option [value]="'Pending'">Pending</option>
                                            <option [value]="'Canceled'">Canceled</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="currency" class="col-sm-3 control-label">Order Currency<span
                                        style="color:red">*</span></label>
                                <div class="col-sm-9">
                                    <ng-multiselect-dropdown (onSelect)="onItemSelectCurrency($event)" [settings]="dropdownSettings_currency" [placeholder]="'Select currency'" id="curencies1" name="curencies1" [data]="curencies" ngDefaultControl [(ngModel)]="selectedCurrency">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <h4 class="m-b-0 text-white">Customer Information</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal p-t-20">
                            <div class="form-group row">
                                <label for="customerName" class="col-sm-3 control-label">Customer Name<span
                                        style="color:red">*</span></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input [(ngModel)]="customerName" name="customerName" type="text" class="form-control" id="customerName" placeholder="Customer Name">
                                        <div (click)="openCustomerModal()" style="cursor: pointer;" class="input-group-append"><span class="input-group-text"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customerEmail" class="col-sm-3 control-label">Email<span
                                        style="color:red">*</span></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input name="customerEmail" [(ngModel)]="customerEmail" type="text" class="form-control" id="customerEmail" placeholder="Email">
                                        <div (click)="openCustomerModal()" style="cursor: pointer;" class="input-group-append"><span class="input-group-text"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customerPhone" class="col-sm-3 control-label">Phone Number</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input name="customerPhone" [(ngModel)]="customerPhone" type="text" class="form-control" id="customerPhone" placeholder="Phone Number">
                                        <div (click)="openCustomerModal()" style="cursor: pointer;" class="input-group-append"><span class="input-group-text"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-primary">
                  <div class="card-header bg-primary">
                    <h4 class="m-b-0 text-white">Billing Address</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="custom-control custom-checkbox m-b-0">
                        <input [(ngModel)]="isSameAsShipping" (click)="sameAsShipping($event)" type="checkbox" class="custom-control-input" [value]="isSameAsShipping"
                        [checked]="isSameAsShipping">
                        <span class="custom-control-label" >Same as shipping address</span>
                      </label>
                    </div>
                    <form class="form-horizontal p-t-20">
                      <div class="form-group row">
                        <label for="b_address_1" class="col-sm-3 control-label">Address Line 1 <span
                            style="color:red">*</span></label>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input [(ngModel)]="b_address_1" name="b_address_1" type="text" class="form-control" (input)="sameAsBillingCopy()"
                              id="b_address_1">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="b_address_2" class="col-sm-3 control-label">Address Line 2</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="b_address_2" name="b_address_2" type="text" class="form-control" (input)="sameAsBillingCopy()"
                              id="b_address_2">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="b_address_3" class="col-sm-3 control-label">Address Line 3</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="b_address_3" name="b_address_3" type="text" class="form-control" (input)="sameAsBillingCopy()"
                              id="b_address_3">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="b_city" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="b_city" name="b_city" type="text" class="form-control" id="b_city" (input)="sameAsBillingCopy()">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="b_state_country" class="col-sm-3 control-label">County</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="b_state_country" name="b_state_country" type="text" class="form-control" (input)="sameAsBillingCopy()"
                              id="b_state_country">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="b_postcode" class="col-sm-3 control-label">PostCode <span style="color:red">*</span></label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="b_postcode" name="b_postcode" type="text" class="form-control" (input)="sameAsBillingCopy()"
                              id="b_postcode">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword5" class="col-sm-3 control-label">Country <span style="color:red">*</span>
                        </label>
                        <div class="col-sm-9 col-nd-9 col-lg-9">
                          <ng-multiselect-dropdown (onSelect)="onItemSelectCountryBil($event);sameAsBillingCopy()"
                            [settings]="dropdownSettings_country" [placeholder]="'Select Country'" id="country"
                            name="country" [data]="allCountries" ngDefaultControl [(ngModel)]="selectedCountry">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card border-primary">
                  <div class="card-header bg-primary">
                    <h4 class="m-b-0 text-white">Shipping Address</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="custom-control custom-checkbox m-b-0">
                        <input [(ngModel)]="isSameAsBilling" type="checkbox" class="custom-control-input"  [value]="isSameAsBilling"
                        [checked]="isSameAsBilling" (click)="sameAsBilling($event)">
                        <span class="custom-control-label" >Same as billing address</span>
                      </label>
                    </div>
                    <form class="form-horizontal p-t-20">
                      <div class="form-group row">
                        <label for="s_address_1" class="col-sm-3 control-label">Address Line 1 <span
                            style="color:red">*</span></label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="s_address_1" name="s_address_1" type="text" class="form-control"  (input)="sameAsShippingCopy()"
                              id="s_address_1">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="s_address_2" class="col-sm-3 control-label">Address Line 2</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="s_address_2" name="s_address_2" type="text" class="form-control" (input)="sameAsShippingCopy()"
                              id="s_address_2">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="s_address_3" class="col-sm-3 control-label">Address Line 3</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="s_address_3" name="s_address_3" type="text" class="form-control" (input)="sameAsShippingCopy()"
                              id="s_address_3">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="s_city" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="s_city" name="s_city" type="text" class="form-control" id="s_city" (input)="sameAsShippingCopy()">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="s_state_country" class="col-sm-3 control-label">County</label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="s_state_country" name="s_state_country" type="text" class="form-control" (input)="sameAsShippingCopy()"
                              id="s_state_country">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="s_postcode" class="col-sm-3 control-label">PostCode <span
                            style="color:red">*</span></label>
                        <div class="col-sm-9">
                          <div class="input-group">

                            <input [(ngModel)]="s_postcode" name="s_postcode" type="text" class="form-control" (input)="sameAsShippingCopy()"
                              id="s_postcode">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword5" class="col-sm-3 control-label">Country <span
                            style="color:red">*</span></label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                          <ng-multiselect-dropdown (onSelect)="onItemSelectCountry($event);sameAsShippingCopy()"
                            [settings]="dropdownSettings_country" [placeholder]="'Select Country'" id="country_s"
                            name="country" [data]="allCountries" ngDefaultControl [(ngModel)]="selectedCountry_s">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            <div class="col-lg-12">
                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <h4 class="m-b-0 text-white">Sale Items</h4>
                    </div>
                    <div class="card-body" style="padding:0px">
                        <div class="col-lg-12 col-md-12 m-t-5 row option-alignment">
                            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right " style="padding-right: 0px;">
                                <div class="d-flex justify-content-end align-items-center">
                                    <button (click)="addnewItem()" type="button" class="btn btn-warning d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add
                                        new item</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 m-t-10" style="padding:0px">
                            <div class="table-responsive">
                                <table class="table color-table primary-table">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th style="min-width: 200px;">Product</th>
                                            <th>SKU</th>
                                            <th style="min-width: 90px;">Price</th>
                                            <th style="min-width: 90px;">Quantity</th>
                                            <th style="min-width: 90px;">Weight(KG)</th>
                                            <th style="min-width: 90px;">Length(cm)</th>
                                            <th style="min-width: 90px;">Depth(cm)</th>
                                            <th style="min-width: 90px;">Width(cm)</th>
                                            <th>Action</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let prod of addedProducts">
                                            <td><img [src]="prod.imageUrl"  style="width: 100px;"  class="img-responsive img-responsive2" />
                                            </td>
                                            <td>{{prod.title}}</td>
                                            <td>{{prod.sku}}</td>
                                            <td>
                                                <input (blur)="caluculateTotal()" [(ngModel)]="prod.itemPrice" [name]="prod.id+'price'" type="text" class="form-control" [id]="prod.id+'price'">
                                            </td>
                                            <td>
                                                <input (blur)="caluculateTotal()" [(ngModel)]="prod.quantityPurchased" [name]="prod.id+'price'" type="text" class="form-control" [id]="prod.id+'quan'">
                                            </td>
                                            <td>
                                                <input (blur)="caluculateTotal()" [(ngModel)]="prod.weight" [name]="prod.id+'price'"
                                                  type="text" class="form-control" [id]="prod.id+'quan'">
                                              </td>
                                              <td>
                                                <input (blur)="caluculateTotal()" [(ngModel)]="prod.length" [name]="prod.id+'price'"
                                                  type="text" class="form-control" [id]="prod.id+'quan'">
                                              </td>
                                              <td>
                                                <input (blur)="caluculateTotal()" [(ngModel)]="prod.depth" [name]="prod.id+'price'"
                                                  type="text" class="form-control" [id]="prod.id+'quan'">
                                              </td>
                                              <td>
                                                <input (blur)="caluculateTotal()" [(ngModel)]="prod.width" [name]="prod.id+'price'"
                                                  type="text" class="form-control" [id]="prod.id+'quan'">
                                              </td>
                                            <td>
                                                <div class="row">
                                                    <!-- <button (click)="saveProduct(prod)" title="Edit Order" type="button" class="btn btn-success btn-circle"><i
                              class=" fas fa-save"></i> </button> -->
                                                    <button (click)="deleteProduct(prod)" title="Remove Order" type="button" class="btn btn-primary btn-circle"><i
                                                            class="fa fa-times"></i> </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12">
                <div class="card border-primary">
                  <div class="card-header bg-primary">
                    <h4 class="m-b-0 text-white">Dimensions </h4>
                  </div>
                  <div class="card-body" style="padding:10px">
                    <div class="row">
                      <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Weight(KG):</label>
                            <input appDecimaNumberDirective [(ngModel)]="weightkg" name='weightkg' type="text"
                                class="form-control">
                        </div>
                    </div>
                      <div class="col-md-3 ">
                          <div class="form-group">
                              <label>Length(cm):</label>
                              <input appNumber [(ngModel)]="heightkg" name='heightkg' type="text"
                                  class="form-control">
                          </div>
                      </div>
                      <div class="col-md-3 ">
                          <div class="form-group">
                              <label>Depth(cm):</label>
                              <input appDecimaNumberDirective [(ngModel)]="depth" name='depth' type="text"
                                  class="form-control">
                          </div>
                      </div>
                      <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Width(cm):</label>
                            <input appDecimaNumberDirective [(ngModel)]="width" name='width' type="text"
                                class="form-control">
                        </div>
                    </div>
                  </div>
                  </div>
                </div>
            </div> -->
            <div class="col-lg-12 row">
                <div class="col-lg-4 col-md-4">
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h4 class="m-b-0 text-white">Shipping </h4>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                                <label>Shipping Charge:</label>
                                <input [(ngModel)]="shippingcharges" type="number" min="0" class="form-control" (blur)="caluculateTotal()">
                            </div>
                            <div class="form-group">
                                <label>Shipping Service:</label>
                                <input [(ngModel)]="shippingService" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h4 class="m-b-0 text-white">Payments</h4>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                                <label>Payment Method</label>
                                <select [(ngModel)]="paymentMethod" class="form-control custom-select">
                                    <option [value]="''">--Select Payment--</option>
                                    <option [value]="'card'">Card</option>
                                    <option [value]="'cash'">Cash</option>
                                    <option [value]="'other'">Other</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Paid</label>
                                <div class="col-md-9 row">
                                    <div class="custom-control custom-radio">
                                        <input [checked]="paymentStatus?.indexOf('Yes') > -1 " (click)="changePaymentStatus($event)" value="Yes" type="radio" id="customRadio3" name="member" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio3">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio m-l-10">
                                        <input [checked]="paymentStatus?.indexOf('No') > -1" (click)="changePaymentStatus($event)" value="No" type="radio" id="customRadio4" name="member" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio4">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h4 class="m-b-0 text-white">Total</h4>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group row">
                                <label for="orderid" class="col-sm-6 control-label">Sub Total:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label><b>{{subtotal?.toFixed(2)}}</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="orderid" class="col-sm-6 control-label">Shipping:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label><b>{{shippingcharges?.toFixed(2)}}</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="orderid" class="col-sm-6 control-label">Grand Total:</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label><b>{{total?.toFixed(2)}}</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 m-t-5 row option-alignment">
                <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right " style="padding-right: 0px;">
                    <div class="d-flex justify-content-end align-items-center">
                        <select style="width: 25%;" [(ngModel)]="orderStatusd" id="orderStatusd" class="form-control" name="orderStatusd">
                            <option disabled [ngValue]="null"
                                [selected]="orderStatusd == '' || orderStatusd == null || orderStatusd == undefined">
                                --Select Status--</option>
                            <option [value]="'Shipped'" [selected]="orderStatusd == 'Shipped'">Shipped</option>
                            <option [value]="'Unshipped'" [selected]="orderStatusd == 'Unshipped'">Unshipped</option>
                            <option [value]="'Pending'" [selected]="orderStatusd == 'Pending'">Pending</option>
                            <!-- <option value="Canceled">Canceled</option> -->
                        </select>
                        <button (click)="updateOrders()" type="button" class="btn btn-success d-lg-block m-l-15"><i
                                class="fas fa-save"></i> Update Order</button>
                        <button (click)="deleteOrder()" type="button" class="btn btn-warning d-lg-block m-l-15"><i
                                class="fa fa-times"></i> Delete Order</button>
                        <button (click)="closeOrder()" type="button" class="btn btn-danger d-lg-block m-l-15"><i
                                class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="products-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Search Products</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="productsModalClose()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="max-height: 70vh;overflow-y: scroll; padding-right: 0%;">
                <div class="table-responsive">

                    <table id="productstable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>SKU</th>
                                <th>Available Qty</th>
                                <th>Selling Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orders of AllProducts">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input (click)="individualselection(orders)" [checked]="orders.selected" type="checkbox" [id]="orders.sku" [value]="orders.selected" [name]="test" class="custom-control-input checkallP">
                                        <label class="custom-control-label" for="{{orders.sku}}"></label>
                                    </div>
                                </td>
                                <td><img [src]="orders.imageUrl"  style="width: 100px;"  class="img-responsive3 img-responsive" /></td>
                                <td>{{orders.title}}</td>
                                <td>{{orders.sku}}</td>
                                <td>{{orders.qty}}</td>
                                <td>{{orders.sellingPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-lg-12 col-md-12  align-self-center text-right">
                        <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" (click)="addToUserOrder()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger waves-effect" (click)="productsModalClose()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="customer-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Search Customer</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="customerModalClose()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" style="max-height: 70vh;overflow-y: scroll; padding-right: 0%;">
                <div class="table-responsive">

                    <table id="customerTable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S</th>
                                <th>First Name</th>
                                <!-- <th>Last Name</th> -->
                                <th>Email Address</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orders of existingCustomers">
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input (click)="individualselectionCustomer(orders)" [checked]="orders.selected" type="checkbox" [id]="orders.id" [value]="orders.selected" [name]="test" class="custom-control-input checkallP">
                                        <label class="custom-control-label" for="{{orders.id}}"></label>
                                    </div>
                                </td>
                                <td>{{orders.firstName}}</td>
                                <td>{{orders.email}}</td>
                                <td>{{orders.phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" (click)="addTocustomer()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger waves-effect" (click)="customerModalClose()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
