.img-responsive2 {
    max-width: 100% !important;
    height: 70px;
}

.img-responsive3 {
    max-width: 100% !important;
    height: 70px;
}
ngb-pagination{
  float: right;
}
.disabled{
  pointer-events: none;
}
:host ::ng-deep .multiselect-dropdown .selected-item{
  max-width: 200px!important;
}