<div class="card">
    <div class="card-body p-b-0">

        <div class="col-md-12 col-lg-12 text-center m-t-10">
            <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubyodel.png" alt="user"
                class="img-responsive img-fixed img-fluid">
        </div>

        <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right " style="padding-right: 0px;">
            <div class="d-flex justify-content-end align-items-center">
                <button *ngIf="!isEnabled" (click)="save()" type="button" class="btn btn-success d-lg-block m-l-15"><i
                        class="fa fa-check"></i> Save</button>

                <button *ngIf="isEnabled" (click)="save()" type="button" class="btn btn-success d-lg-block m-l-15"><i
                        class="fas fa-arrow-left"></i> Update</button>
            </div>
        </div>

        <ul class="nav nav-tabs customtab2" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#integration" role="tab"
                    aria-selected="false"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                        class="hidden-xs-down">
                        Integration</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#labelsettings" role="tab"
                    aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
                        class="hidden-xs-down">
                        Shipping Services</span></a> </li>
            <!-- <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#labelsettings" role="tab"
                    aria-selected="true"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span
                        class="hidden-xs-down">
                        Label Settings</span></a> </li> -->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="integration" role="tabpanel">
                <div class="col-md-12">
                    <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                    <div class="m-t-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card border-primary">
                                    <div class="card-header bg-primary">
                                        <h4 class="m-b-0 text-white">Yodel Account Details</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-horizontal mt-4" name="gty12212">
                                            <div class="form-group has-success">
                                                <label>Account Number</label>
                                                <input name="accountnumber" [(ngModel)]="accountnumber" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>API Username</label>
                                                <input name="username" [(ngModel)]="username" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>API Password</label>
                                                <input name="password" [(ngModel)]="password" type="password"
                                                    class="form-control">
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card border-primary">
                                    <div class="card-header bg-primary">
                                        <h4 class="m-b-0 text-white">Pickup Address Details</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-horizontal mt-4" name="gty212">
                                            <div class="form-group  has-success">
                                                <label>Contact Name <span style="color:red">*</span></label>
                                                <input name="contactname" [(ngModel)]="contactname" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>Company Name<span style="color:red">*</span></label>
                                                <input name="companyname" [(ngModel)]="companyname" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>Street Name<span style="color:red">*</span></label>
                                                <input name="streetname" [(ngModel)]="streetname" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>Pickup Town <span style="color:red">*</span></label>
                                                <input name="picktown" [(ngModel)]="picktown" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>Pickup Postcode <span style="color:red">*</span></label>
                                                <input name="pickpostcode" [(ngModel)]="pickpostcode" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group has-success">
                                                <label>Contact Phone Number<span style="color:red">*</span></label>
                                                <input name="pickphonenumber" [(ngModel)]="pickphonenumber" type="text"
                                                    class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane p-20" id="labelsettings" role="tabpanel">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>

                            <th>
                                Service Code
                            </th>

                            <th>
                                Service Name
                            </th>

                            <th>
                                Enabled
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1CN
                            </td>
                            <td>
                                XPRESS 24 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1CN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1CN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1CP
                            </td>
                            <td>
                                XPRESS 24 POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1CP')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" (click)="appendData($event)" value="1CP"
                                    type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2CMN
                            </td>
                            <td>
                                XPRESS MINI 48 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2CMN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2CMN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2CN
                            </td>
                            <td>
                                XPRESS 48 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2CN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2CN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2CP
                            </td>
                            <td>
                                XPRESS 48 POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2CP')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2CP" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VLN
                            </td>
                            <td>
                                XPECT 48 XL NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VLN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VLN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VLP
                            </td>
                            <td>
                                XPECT 48 XL POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VLP')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VLP" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VN
                            </td>
                            <td>
                                XPECT 48 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VP
                            </td>
                            <td>
                                XPECT 48 POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VP')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VP" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1CNNI
                            </td>
                            <td>
                                XPRESS 24 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1CNNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1CNNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1CPNI
                            </td>
                            <td>
                                XPRESS 24 POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1CPNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1CPNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2CMNNI
                            </td>
                            <td>
                                XPRESS MINI 48 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2CMNNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2CMNNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2CNNI
                            </td>
                            <td>
                                XPRESS 48 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2CNNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2CNNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2CPNI
                            </td>
                            <td>
                                XPRESS 48 POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2CPNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2CPNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VLNNI
                            </td>
                            <td>
                                XPECT 48 XL NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VLNNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VLNNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VLPNI
                            </td>
                            <td>
                                XPECT 48 XL POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VLPNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VLPNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VNNI
                            </td>
                            <td>
                                XPECT 48 NON POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VNNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VNNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2VPNI
                            </td>
                            <td>
                                XPECT 48 POD
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2VPNI')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2VPNI" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                DIA
                            </td>
                            <td>
                                Priority 10:00 (10)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('DIA')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="DIA" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NOON
                            </td>
                            <td>
                                Priority 12:00 (12)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('NOON')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="NOON" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SAT
                            </td>
                            <td>
                                Saturday 12:00 (12S)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('SAT')" [checked]="getCheckStatus('SAT')"
                                    (click)="appendData($event)" name="rmshippinglabelservicecode" value="SAT"
                                    type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1EXP
                            </td>
                            <td>
                                UK Expect 24 POD (1EXP)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1EXP')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1EXP" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ISLE
                            </td>
                            <td>
                                UK Express (Isle) (ISLE)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('ISLE')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="ISLE" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                STD
                            </td>
                            <td>
                                UK Express 24 (1E)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('STD')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="STD" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1EB
                            </td>
                            <td>
                                UK Express 24 NI INT (1EB)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1EB')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1EB" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1EU
                            </td>
                            <td>
                                UK Express 24 UK (1EU)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1EU')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1EU" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ECO
                            </td>
                            <td>
                                UK Express 48 (ECO)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('ECO')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="ECO" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NIS
                            </td>
                            <td>
                                UK Express 48 NI (2EN)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('NIS')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="NIS" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                STSA
                            </td>
                            <td>
                                UK Express Saturday 12 (1ES)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('STSA')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="STSA" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HDN
                            </td>
                            <td>
                                UK Home Delivery 24 (1H)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('HDN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="HDN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1HB
                            </td>
                            <td>
                                UK Home Delivery 24 BT (1HB)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('1HB')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="1HB" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HECO
                            </td>
                            <td>
                                UK Home Delivery 48 (HECO)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('HECO')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="HECO" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2HB
                            </td>
                            <td>
                                UK Home Delivery 48 BT (2HB)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2HB')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2HB" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2HN
                            </td>
                            <td>
                                UK Home Delivery 48 (NI)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('2HN')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="2HN" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HDPA
                            </td>
                            <td>
                                UK Home Delivery 72 (3H)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('HDPA')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="HDPA" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HIPA
                            </td>
                            <td>
                                UK Home Delivery 72 NI (3HN)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('HIPA')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="HIPA" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5HCT
                            </td>
                            <td>
                                UK Home Delivery Catalogue (5HCT)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('5HCT')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="5HCT" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HSAT
                            </td>
                            <td>
                                UK Home Delivery Saturday (HSAT)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('HSAT')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="HSAT" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PACK
                            </td>
                            <td>
                                UK Packet Service (3HPA)
                            </td>
                            <td>
                                <input [checked]="getCheckStatus('PACK')" (click)="appendData($event)"
                                    name="rmshippinglabelservicecode" value="PACK" type="checkbox" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane p-20" id="labelsettings" role="tabpanel">3</div>
        </div>
    </div>
</div>