<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea" id="printOnly">
                <h3 class="text-center">
                    <b>Purchase Order</b>
                    <!-- <span class="pull-right">#5669626</span> -->
                </h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger">Company Name :
                                        {{printPo?.user?.companyName}}</b></h3>
                                <p class="text-muted m-l-5">
                                    {{printPo?.user?.address1}},
                                    <br /> {{printPo?.user?.address2}},
                                    <br /> {{printPo?.user?.city}},
                                    <br /> {{printPo?.user?.state}},
                                    <br /> {{printPo?.user?.country}} - {{printPo?.user?.zipCode}}
                                    <br /> {{printPo?.user?.phoneNumber}}
                                    <br /> {{printPo?.user?.emailAddress}}
                                </p>
                            </address>
                        </div>
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger">P.O.Number :
                                        {{printPo?.purchaseOrderHeader?.poId}}</b></h3>
                                <p class="text-muted m-l-5">The Above Number Must Appear on all related
                                    correspondence, shipping papers, and invoives:</p>
                            </address>
                        </div>
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger"> Message To Supplier :
                                        {{printPo?.purchaseOrderHeader?.messageToSupplier}}</b></h3>
                            </address>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6 col-lg-6 pull-left text-left">
                            <address>
                                <h3>Supplier,</h3>
                                <p class="text-muted">{{printPo?.supplier?.addressline1}},
                                    <br />{{printPo?.supplier?.addressline1}},,
                                    <br />{{printPo?.supplier?.addressline2}},{{printPo?.supplier?.addressline3}},
                                    <br /> {{printPo?.supplier?.city}},
                                    <br /> {{printPo?.supplier?.state}},
                                    <br /> {{printPo?.supplier?.country}}-
                                    {{printPo?.supplier?.postcode}},
                                    <br /> {{printPo?.supplier?.phone}},
                                    <br /> {{printPo?.supplier?.email}}
                                </p>
                            </address>
                        </div>
                        <div class="col-md-6 col-lg-6 pull-right text-left" style="left: 25%;">
                            <address>
                                <h3>Deliver to,</h3>
                                <p class="text-muted">
                                    {{printPo?.purchaseOrderHeader?.shiptoAddressLine1}},
                                    <br />
                                    {{printPo?.purchaseOrderHeader?.shiptoAddressLine2}},{{printPo?.purchaseOrderHeader?.shiptoAddressLine3}},
                                    <br /> {{printPo?.purchaseOrderHeader?.shipToCity}},
                                    <br /> {{printPo?.purchaseOrderHeader?.shipToState}},
                                    <br /> {{printPo?.purchaseOrderHeader?.shipToCountry}} -
                                    {{printPo?.purchaseOrderHeader?.shipToPostCode}}
                                    <br /> {{printPo?.purchaseOrderHeader?.shipToState}}
                                    <br /> {{printPo?.purchaseOrderHeader?.supplierEmailId}}
                                </p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive  m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">SKU</th>
                                        <th>Description</th>
                                        <th class="text-right">Qty</th>
                                        <th class="text-right">Unit Price</th>
                                        <th class="text-right">Tax (%)</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let prod of printpoProd">
                                        <td class="text-center">{{prod.sku}}</td>
                                        <td>{{prod.title}}</td>
                                        <td class="text-right">{{prod.qty}}</td>
                                        <td class="text-right"> {{prod.costPrice}} </td>
                                        <td class="text-right"> {{prod.taxPercentage}} </td>
                                        <td class="text-right"> {{prod.lineTotalPrice?.toFixed(2)}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right">
                            <h3><b>Grand Total :</b> &#163; {{totalprice?.toFixed(2)}}</h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <!-- <div class="text-right">
                            <button (click)="sendEmail()" class="btn btn-danger btn-outline" type="button"> <span><i
                                        class="fas fa-envelope"></i> Send Email</span>
                            </button>
                            <button (click)="print()" class="btn btn-success m-l-10 btn-outline" type="button">
                                <span><i class="fa fa-print"></i> Print</span> </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>