
element.style {
}
.active .bs-stepper-circle {
    background-color: #007bff;
}
.bs-stepper-label {
  display: inline-block;
  margin: 0.25rem; 
}
.bs-stepper .step-trigger {
  
  padding: 1px; 
  
}
.bs-stepper-circle {
    display: -webkit-inline-box;
    display: inline-flex;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: 0.5em 0;
    margin: 0.25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d !important;
    border-radius: 1em;
}

.active .bs-stepper-circle{
    background-color: #007bff !important;
}

#my-file { visibility: hidden; }
.prod-img{
    max-height: 40px;
}
.create{
    float: right;
    color: white;
    background: #00c292;
}
:host ::ng-deep insertImage-editor{
  display: none;
}
:host ::ng-deep .angular-editor-textarea{
    height:  85px !important;
}
:host ::ng-deep .dropdown-list{
    position: inherit!important;
}
/* .dropdown-list{
    position: relative;
} */
.currency{
  min-width: 250px;
}
.multi-dropdown{
  min-width: 200px;
}
td{
  min-width: 100px;
}
/* #test-l-6-table{
  margin-bottom: 200px;
} */
