<div class="container-fluid" style="margin-top: 2px">

  <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
          <div class="step" data-target="#test-l-1">
              <button class="step-trigger">
                  <!-- <span class="bs-stepper-circle">1</span> -->
                  <span class="bs-stepper-label">Shipping plan details</span>
              </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-2">
              <button class="step-trigger">
                  <!-- <span class="bs-stepper-circle">2</span> -->
                  <span class="bs-stepper-label">Products</span>
              </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-3">
              <button class="step-trigger">
                  <!-- <span class="bs-stepper-circle">3</span> -->
                  <span class="bs-stepper-label">Prepare and label products</span>
              </button>
          </div>

          <!-- <div class="step" data-target="#test-l-7" >
              <button class="step-trigger">
                  <span class="bs-stepper-label">Product Tracking</span>
              </button>
          </div> -->
      </div>
      <div class="bs-stepper-content">
          <form name="123">
              <div id="test-l-1" class="content">
                  <form action="#">
                      <div class="form-body">

                        <div class="row mt-2">
                          <div class="col-md-6 ">
                            <div class="form-group">
                              <label class="control-label">Ship From <span style="color: red;">*</span></label>
                              <select id="select-type-basic" [(ngModel)]="selectedWareHouse" [ngModelOptions]="{standalone: true}"
                                class="form-control custom-select" >
                                <option value="">Please Select</option>
                                <option *ngFor="let list of allWH" value="{{list.id}}">
                                  {{list.name}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">Destination Warehouse <span style="color: red;">*</span></label>
                              <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="selectedChannel" [ngModelOptions]="{standalone: true}">
                                <option value="">Please Select</option>
                                <option *ngFor="let channel of allChannel" value="{{channel.id}}">
                                  {{channel.name}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>

                      </div>
                  </form>
                  <div class="col-md-12 col-lg-12 text-right">
                      <button (click)="next('shippingDetails')" class="btn btn-primary">Save</button>
                  </div>
              </div>
              <div id="test-l-2" class="content">
                <div class="row mt-2">
                <label>Packing type</label>
              </div>
                <div class="form-group row">

                  <div class="col-sm-9 col-md-3">
                      <label class="custom-control custom-checkbox m-b-0">
                          <input   type="checkbox" [(ngModel)] = "isIndividualProducts"
                              class="custom-control-input">
                          <span class="custom-control-label">Individual Products</span>
                      </label>
                  </div>
                  <div class="col-sm-9 col-md-3">
                      <label class="custom-control custom-checkbox m-b-0">
                          <input   type="checkbox" [(ngModel)] = "isCasePackedProducts"
                              class="custom-control-input" >
                          <span class="custom-control-label">Case Packed Products</span>
                      </label>
                  </div>

              </div>

              <div class="table-responsive">
                <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                          <th >
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkall" [checked]="isAllCheckedDown"
                                    name="checkall" class="custom-control-input checkallP">
                                <label (click)="selectall($event)" class="custom-control-label"
                                    for="checkall"></label>
                            </div>
                        </th>
                            <th>Product Details</th>
                            <th>Seller SKU</th>
                            <th>ASIN</th>
                            <th>Available Qty</th>
                            <th>Qty to Send</th>
                            <th>Who preps</th>
                            <th>Instructions</th>
                            <th>Who Labels</th>
                            <th>Label Type</th>
                            <th>Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of channelProducts">
                          <td>
                            <div class="custom-control custom-checkbox"
                                >
                                <input (change)="individualselection(prod)"
                                    [checked]="prod.selected" type="checkbox" [id]="prod.id"
                                    [value]="prod.selected" [name]="test"
                                    class="custom-control-input checkallP">
                                <label class="custom-control-label" for="{{prod.id}}"></label>
                            </div>
                        </td>
                            <td>{{prod.title}}</td>
                            <td>{{prod.sku}}</td>

                            <td>{{prod.asin}}</td>
                            <td>{{prod.qty}}</td>
                            <td>
                              <input appDecimaNumberDirective  type="number" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="prod.qtyToSend" class="form-control" placeholder="" max="{{prod.qty}}" min="0">

                                  </td>
                            <td>

                              <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="prod.whoPrep" [ngModelOptions]="{standalone: true}">
                                <option value="SELLER">Seller Label</option>
                                <option value="AMAZON">Amazon Label</option>

                              </select>
                            </td>

                            <td>
                              <select *ngIf="prod.instructions?.PrepInstructionList" class="form-control custom-select" [(ngModel)]="prod.instruction" [ngModelOptions]="{standalone: true}"
                              (change)="setFeeForProd(prod)">
                                <option *ngFor="let item of prod.instructions.PrepInstructionList" [value]="item">{{item}}</option>


                              </select>
                              <!-- <input type="text"
                              [(ngModel)]="prod.instruction" class="form-control" placeholder="" [ngModelOptions]="{standalone: true}"> -->
                              </td>
                              <td>
                                <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="prod.whoLabel" [ngModelOptions]="{standalone: true}">
                                  <option value="SELLER_LABEL">SELLER LABEL</option>
                                  <option value="AMAZON_LABEL_ONLY">AMAZON LABEL ONLY</option>
                                  <option value="AMAZON_LABEL_PREFERRED">AMAZON LABEL PREFERRED</option>

                                </select>

                              </td>
                            <td>
                              <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="prod.labelType" [ngModelOptions]="{standalone: true}">
                                <option value="NO_LABEL">NO LABEL</option>
                                <option value="SELLER_LABEL">SELLER LABEL</option>
                                <option value="AMAZON_LABEL">AMAZON LABEL</option>

                              </select>
                            </td>
                            <td>
                              {{prod.FeePerUnit}}
                                <!-- <input disabled [value]="cmb" type="text" class="form-control" placeholder=""> -->
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
              <div class="col-lg-12 col-sm-12 col-md-12 align-self-center text-right" style="padding-right: 0px;">
                <div  class="d-flex justify-content-end align-items-center">
                  <button type="button" class="btn btn-success d-lg-block m-l-15" (click)="onAddItem()">
                    <i  class="fa fa-plus-circle"></i> Add Items</button>
                  </div>
                </div>
                  <div class="col-md-12 col-lg-12 row mt-2">
                      <div class="col-md-6 text-left">
                          <button (click)="pevious()" class="btn btn-primary">Previous</button>
                      </div>
                      <div class="col-md-6 text-right">
                          <button (click)="next('products')" class="btn btn-primary" *ngIf="fbaState == 'CREATE_INBOUND'">Send Products to FBA</button>
                          <button (click)="next('products')" class="btn btn-primary" *ngIf="fbaState == 'PREP_INSTRUCTIONS'">Fetch Instrsutions</button>
                          <button (click)="next('products')" class="btn btn-primary" *ngIf="fbaState == 'GET_INBOUND_PLANS'">Fetch Plans</button>
                      </div>
                  </div>
              </div>
              <div id="test-l-3" class="content" style="min-height: 80vh;">
                <div class=" row">
                <div class="col-lg-6 col-sm-6 col-md-6 row pb-1" style="padding-right: 0px;">
                  <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                    style="padding-right: 0px;">
                    <div class="d-flex justify-content-left align-items-center">
                      <!-- <div>
                        <button type="button" (click)="openCurrencyConverterModal()"
                          class="btn btn-success d-lg-block m-r-15"><i class="fas fa-exchange-alt"></i> Currency
                          Convertor</button>
                      </div> -->
                      <div class=" row">
                       <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" [(ngModel)]="fliter" [ngModelOptions]="{standalone: true}" class="form-control" id="pass3"
                              placeholder="Enter Search Value">
                              <div class="input-group-append" ><span class="input-group-text"><i class="ti-search"></i></span>
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <button  type="button" class="btn btn-sm btn-warning d-lg-block m-l-5"><i
                            class="fas fa-filter"></i> Filter</button>
                        </div>
                        <div class="col-sm-3">
                          <button  type="button" class="btn btn-sm btn-warning d-lg-block m-l-5"><i
                            class="ti-settings"></i> Columns</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 row pb-1" style="padding-right: 0px;">
                  <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                    style="padding-right: 0px;">
                    <div class="d-flex justify-content-end align-items-center">


                        <!-- <div class="col-sm-6">
                          <button  type="button" class="btn btn-sm btn-warning d-lg-block m-l-5"><i
                            class="fa fa-plus-circle"></i> Print all amazon labels</button>
                        </div> -->
                      </div>
                      </div>

                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Product Details</th>
                            <th>Seller SKU</th>
                            <th>ASIN</th>
                            <th>Qty to Send</th>
                            <th>Who preps</th>
                            <th>Instructions</th>
                            <th>Who Labels</th>
                            <th>Label Type</th>
                            <th>Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of channelProducts">
                            <td>{{prod.sku}}</td>
                            <td>{{prod.sku}}</td>

                            <td>{{prod.asin}}</td>
                            <td>
                              <input appDecimaNumberDirective name="{{prod.sku}}-PRICE" type="text"
                                    [(ngModel)]="prod.qty" class="form-control" placeholder="">
                                  </td>
                            <td></td>
                            <td></td>
                            <td>
                              <select id="select-type-basic" class="form-control custom-select" >
                                <option value="">Seller Label</option>
                                <!-- <option *ngFor="let war of wareHouses" value="{{war.id}}">
                                  {{war.name}}
                                </option> -->
                              </select>
                                  </td>
                            <td>
                                <!-- <input disabled [value]="cmb" type="text" class="form-control" placeholder=""> -->
                            </td>
                            <td>
                                <!-- <input disabled [value]="cmb" type="text" class="form-control" placeholder=""> -->
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
                  <div class="col-md-12 col-lg-12 row" >
                      <div class="col-md-6 col-lg-6 text-left">
                          <button (click)="goBacktoProducts()" class="btn btn-primary">Previous</button>
                      </div>
                      <div class="col-md-6 col-lg-6 text-right">
                          <button (click)="next('labelProducts')" class="btn btn-primary">Save</button>
                      </div>
                  </div>

              </div>
          </form>
      </div>
  </div>
</div>
<div id="add-newitems-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="card-header bg-primary col-12">
            <h3 class="m-b-0 text-white">
              Add Items</h3>
          </div>
          <div class="card-body">
            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right " style="padding-right: 0px;">
              <div class="d-flex justify-content-end align-items-center">
                <div class=" row">
                  <select class="col-sm-6 form-control custom-select" [(ngModel)]="searchName" id="searchName">
                    <option class="form-control" value="0">Search By</option>
                    <option class="form-control" value="1">SKU</option>
                    <option class="form-control" value="3">TITLE</option>
                    <option class="form-control" value="101">VENDOR</option>
                    <option class="form-control" value="102">TAGS</option>
                    <option class="form-control" value="103">PRODUCTTYPE</option>
                    <option class="form-control" value="7">QTY</option>
                    <option class="form-control" value="8">Brand</option>
                  </select>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="text" [(ngModel)]="searchValue" class="form-control" id="pass3" placeholder="Enter Search Value">

                    </div>
                  </div>
                </div>
                <div class="m-l-5">
                  <select class="form-control custom-select" [(ngModel)]="searchChannel" name="channelType">
                    <option value="all" disabled>--Select Channel--</option>
                    <option class="form-control" *ngFor="let channel of channel" value="{{channel.id}}">
                      {{channel.type}}-{{channel.name}}</option>
                  </select>
                </div>
                <div class="m-l-5">
                  <select class="form-control custom-select" [(ngModel)]="fliter" name="fliter">
                    <option value="0" disabled>--Sort By--</option>
                    <option class="form-control" value="1">SKU Ascending</option>
                    <option class="form-control" value="2">SKU Descending</option>
                    <option class="form-control" value="3">Price low to high</option>
                    <option class="form-control" value="4">Price High to low</option>
                    <option class="form-control" value="5">Title A-Z</option>
                    <option class="form-control" value="6">Title Z-A</option>
                  </select>
                </div>
                <button (click)="refresh();" type="button" class="btn btn-success d-lg-block m-l-15"><i
                  class="fas fa-filter"></i> Apply Filter</button>
                <button (click)="reset();" type="button" class="btn btn-warning d-lg-block m-l-15"><i
                    class="fa fa-plus-circle"></i> Reset</button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table color-bordered-table success-bordered-table">
                <thead>
                  <th>
                    <div class="custom-control custom-checkbox">
                      <!-- <input type="checkbox" id="checkall" name="checkall" class="custom-control-input checkallP">
                      <label class="custom-control-label" for="checkall"></label> -->
                      <input type="checkbox" id="checkall" [checked]="!isAllChecked" name="checkall"
                        class="custom-control-input checkallP">
                      <label (click)="selectall($event)" class="custom-control-label" for="checkall"></label>
                    </div>
                  </th>
                  <th>IMAGE<span class="fas fa-sort"></span> </th>
                  <th>SKU<span class="fas fa-sort"></span> </th>
                  <th style="min-width: 200px;">TITLE<span class="fas fa-sort"></span></th>
                  <th>SELLING PRICE<span class="fas fa-sort"></span></th>

                  <th>LISTING QUANTITY<span class="fas fa-sort"></span></th>

                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let prod of channelProducts">
                    <td>
                      <div class="custom-control custom-checkbox">
                        <!-- <input class="custom-control-input checkallP">
                        <label class="custom-control-label"></label> -->
                        <input (click)="individualselection(prod)" [checked]="prod.selected" type="checkbox"
                          [id]="prod.id" [value]="prod.selected" [name]="test" class="custom-control-input checkallP">
                        <label class="custom-control-label" for="{{prod.id}}"></label>
                      </div>
                    </td>
                    <td><img [src]="prod.imageUrl" class="img-responsive prod-img"></td>
                    <td>{{ prod.sku }}</td>
                    <td class="text-left text-style">{{ prod.title }}</td>
                    <td>{{ prod.sellingPrice }}</td>

                    <!-- <td>{{ prod.listingQty }}
                    </td> -->
                    <td>{{ prod.qty }}
                      <!-- <i (click)="editChannelProduct(prod)" style="cursor: pointer;color: #fec107;"
                      class="m-l-5 fas fa-edit"></i> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row col-lg-12 col-md-12">
              <div  class="col-lg-6 col-md-6 ">
                <span >Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of {{collectionsize}} entries</span>
              </div>
              <div class="col-lg-6 col-md-6 text-right">
                <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3"
                  [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
              style="padding-right: 0px;">
              <div class="d-flex justify-content-end align-items-center">
                <div class="m-l-15 m-r-15">
                  <button title="Add Products" type="button" (click)="onTransfer()"
                    class="btn btn-primary">Transfer</button>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <button type="button" class="btn waves-effect waves-light btn-success">Add Products</button> -->
          <!-- <button type="button" *ngIf="isEdit" (click)="updateLocationsv2()"
            class="btn waves-effect waves-light btn-success">Update</button> -->

        </div>
      </div>
    </div>
  </div>
</div>


<div id="fba-plans-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="card-header bg-primary col-12">
            <h3 class="m-b-0 text-white">
              Inbound Plans</h3>
          </div>
          <div class="card-body">
            <label for="shipmentName" class="col-sm-3 control-label">shipmentName<span
              style="color:red">*</span></label>
            <input  name="shipmentName" type="text"  [ngModelOptions]="{standalone: true}"
            [(ngModel)]="shipmentName" class="form-control" placeholder="">
            <br/>
            <br/>
            <div class="table-responsive" *ngIf="inboundShipmentPlans.length > 0">
              <table class="table table color-bordered-table success-bordered-table">
                <thead>
                  <th>
                    <div class="custom-control custom-checkbox">

                    </div>
                  </th>
                  <th>ShipmentId</th>
                  <th>ShipToAddress </th>
                  <th style="min-width: 200px;">FeePerUnit</th>
                  <th style="min-width: 200px;">TotalUnits</th>
                  <th>TotalFee</th>


                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let plan of inboundShipmentPlans">
                    <td>


                        <input (click)="selectUnselectPlan($event,plan)" [checked]="plan.selected" type="radio"
                            [name]="test"  name="fba-plan">
                    </td>
                    <td>{{plan.ShipmentId}}</td>
                    <td>
                      {{ plan.ShipToAddress?.Name }}, <br/>
                      {{ plan.ShipToAddress?.AddressLine1 }}, {{ plan.ShipToAddress?.AddressLine2 }}, <br/>
                      {{ plan.ShipToAddress?.City }}, {{ plan.ShipToAddress?.CountryCode }}, <br/>
                      {{ plan.ShipToAddress?.PostalCode }} </td>
                    <td class="text-left text-style">{{ plan.EstimatedBoxContentsFee?.FeePerUnit?.Value }}</td>
                    <td>{{ plan.EstimatedBoxContentsFee?.TotalUnits }}</td>
                    <td>{{ plan.EstimatedBoxContentsFee?.TotalFee?.Value }}</td>


                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal();" type="button" class="btn btn-success d-lg-block m-l-15"><i
            class="fas fa-filter"></i> Cancel</button>
          <button (click)="saveFbaPlan();" type="button" class="btn btn-warning d-lg-block m-l-15"><i
              class="fa fa-plus-circle"></i> Save</button>

        </div>
      </div>
    </div>
  </div>
</div>
<app-apploader [Uloading]="loading" *ngIf="loading" ></app-apploader>
