<div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title">User Setting</h4> -->
  
          <!-- Nav tabs -->
          <ul class="nav nav-tabs customtab2" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#BI" role="tab"><span
                  class="hidden-sm-up"></span> <span class="hidden-xs-down"> Bulk Import</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#BE" role="tab"><span
                  class="hidden-sm-up"></span> <span class="hidden-xs-down"> Bulk Export</span></a> </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content tabcontent-border">
            <div class="tab-pane  active" id="BI" role="tabpanel">
                <app-bulk-actions></app-bulk-actions>
            </div>
            <div class="tab-pane" id="BE" role="tabpanel">
                <app-bulk-export></app-bulk-export>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  