<div class="row">

    <div class="col-md-12 col-sm-12">

                <div class="portlet transparent">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-book"></i>Manage Accounting Settings
                            </div>
                            <div class="actions">

                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="portlet transparent">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <img style="height:50px;" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubkashflow.jpg">
                                    </div>
                                    <div class="actions">
                                        <a onclick="savekashflow()" class="btn btn-success">Save</a>
                                        <a onclick="testconnection('kashflow')" class="tooltips btn btn-primary" data-container="body" data-placement="top" data-html="true" data-original-title="Test Connection">Test Connection</a>
                                        <a href="/accounting/index" class="btn red-mint">Close</a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <h4>Please enter login details and click on "Test Connection"</h4>
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Kashflow Login Name</label>
                                                        <div class="col-md-8">
                                                            <input id="kashflowloginid" type="text" value="" class="form-control" placeholder="Kashflow Login name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Kashflow Password</label>
                                                        <div class="col-md-8">
                                                            <input id="kashflowpasswordid" type="password" value="" class="form-control" placeholder="Kashflow Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                    <h4>Please select channels to enable for Kashflow Integration</h4>

                                    <div class="table-scrollable">
                                        <table class="table table-responsive table-striped table-bordered table-hover order-column dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>Enable</th>
                                                    <th>Channel</th>
                                                    <th>Payment Method</th>
                                                    <th>Bank Account</th>
                                                    <th>Source</th>
                                                    <th>Sales Code -Line Items</th>
                                                    <th>Sales Code - Shipping</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                        <tr>
                                                            <td>
                                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                    <input type="checkbox" onclick="enableaccountingforchannel(6401, 'kashflow')" id="6401channel">
                                                                    <span></span>
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtelesale.png" height="35"><br>
                                                                telesale -  Telesales_Demo
                                                                <input type="hidden" value="6401" name="channelid">

                                                            </td>
                                                            <td>
                                                                <input type="hidden" id="paymentmethodidinput6401" value="" name="paymentmethod">
                                                                <select id="paymentmethodid6401" onchange="applyvalue(6401,'paymentmethodid','paymentmethodidinput' )" class="form-control">
                                                                    <option value="1">Please select</option>
                                                                    
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="hidden" id="bankaccountidinput6401" value="" name="bankaccount">
                                                                <select id="bankaccountid6401" onchange="applyvalue(6401,'bankaccountid','bankaccountidinput' )" class="form-control">
                                                                    <option value="1">Please select</option>
                                                                    
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="hidden" id="sourceidinput6401" value="" name="source">
                                                            <select id="sourceid6401" onchange="applyvalue(6401,'sourceid','sourceidinput' )" class="form-control">
                                                                <option value="1">Please select</option>
                                                                
                                                            </select>

                                                            </td>

                                                            <td>
                                                                <input class="form-control" type="hidden" id="kashflowSalesCodeLineItems6401" name="kashflowSalesCodeLineItems" value="">

                                                                <select id="kashflowSalesCodeselect6401" onchange="applyvalue(6401,'kashflowSalesCodeselect','kashflowSalesCodeLineItems' )" class="form-control">
                                                                    <option value="1">Please select</option>
                                                                    
                                                                </select>

                                                            </td>
                                                            <td>

                                                                <input class="form-control" type="hidden" id="kashflowSalesCodeShipping6401" name="kashflowSalesCodeShipping" value="">

                                                                <select id="kashflowSalesCodeShippingselect6401" onchange="applyvalue(6401,'kashflowSalesCodeShippingselect','kashflowSalesCodeShipping' )" class="form-control">
                                                                    <option value="1">Please select</option>
                                                                    
                                                                </select>

                                                            </td>

                                                            
                                                        </tr>
                                                
                                            </tbody>

                                         </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            
        




    </div>

</div>