<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                <!-- <h4 class="card-title">User Setting</h4> -->
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="form-group">
                            <input (change)="addBarcode()" name="barcodes" [(ngModel)]="addbarcode" type="checkbox">&nbsp;<b>Automatically add unused barcodes to new products</b>
                            <!-- <label class="mt-checkbox-single mt-checkbox-outline">
                  <div class="checker" id="uniform-barcoeeautomaticallyadd"><span class="checked"><input id="barcoeeautomaticallyadd" value="true" type="checkbox" class="checkboxs" onchange="updateautomaticalladdbarcodes()" checked="" data-com.bitwarden.browser.user-edited="yes"></span></div> Automatically add unused barcodes to new products
                </label> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="pull-right">
                            <a class="btn btn-sm btn-success"><i class="fa fa-upload font-green"></i> Upload New Barcodes</a>
                        </div>
                    </div>

                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab2" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#UNB" role="tab"><span
                  class="hidden-sm-up"></span> <span class="hidden-xs-down"> Unused Barcode</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#UB" role="tab"><span
                  class="hidden-sm-up"></span> <span class="hidden-xs-down"> Used Barcode</span></a> </li>
                    <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#SKU" role="tab"><span
                        class="hidden-sm-up"></span> <span class="hidden-xs-down"> Convert SKU to Barcode</span></a> </li> -->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabcontent-border">
                    <div class="tab-pane  active" id="UNB" role="tabpanel">
                        <app-barcode-management></app-barcode-management>
                    </div>
                    <div class="tab-pane" id="UB" role="tabpanel">
                        <app-barcode-used></app-barcode-used>
                    </div>
                    <!-- <div class="tab-pane" id="SKU" role="tabpanel">
                        <app-barcode-convert-to-sku></app-barcode-convert-to-sku>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

