<!-- <div class="login-register" style="background-image:url(assets/images/login-bg3.jpeg);"> -->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7 padding">
                <img  [src]="'assets/images/sign in2.jpg'"
                alt="" class="images"/>
            </div>
            <div class="col-md-5 padding">
                <div class="login-box card">
                    <div class="card-body">
                        <img class='image-responsive m-l-50' src='assets/images/logo.png' />
                        <form *ngIf="!isForgotPassword" class="form-horizontal form-material" id="loginform"
                            autocomplete="off">
                            <h3 class="text-center m-b-20">Sign In</h3>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input autocomplete="off" [(ngModel)]='email' name='email' class="form-control"
                                        type="text" required="" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input autocomplete="off" [(ngModel)]='password' name='password'
                                        class="form-control" type="password" required="" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom: 20px;margin-top: 30px;">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Remember me</label>
                                        </div>
                                        <div class="ml-auto">
                                            <a (click)="gotpForgotPass()" href="javascript:void(0)" id="to-recover"
                                                class="text-muted"><i class="fas fa-lock m-r-5"></i> Forgot pwd?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button (click)="gotoDashboard()" class="btn btn-block btn-lg btn-gradient btn-rounded"
                                        type="submit">Log In</button>
                                </div>
                            </div>
                            <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <button class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>
                            <button style="margin-left: 20px" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </button>
                        </div>
                    </div>
                </div> -->
                            <div class="form-group m-b-0">
                                <div class="col-sm-12 text-center">
                                    Don't have an account? <a href="javascript:void(0)" (click)="gotoReg()"
                                        class="text-info m-l-5"><b>Sign Up</b></a>
                                </div>
                            </div>
                        </form>
                        <form *ngIf="isForgotPassword" class="form-horizontal" id="forgotpassword" action="index.html">
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <h3>Forgot your password</h3>
                                    <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input [(ngModel)]="femail" name="femail" class="form-control" type="text"
                                        required="" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group " *ngIf="isFpass">
                                <div class="col-xs-12">
                                    <input [(ngModel)]="otp" name="otp" class="form-control" type="text" required=""
                                        placeholder="OTP">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="isFpass">
                                <div class="col-xs-12">
                                    <input [(ngModel)]="fpassword" name="fpassword" class="form-control" type="password"
                                        required="" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="row">
                                    <div class="col-md-6" *ngIf="isFpass">
                                        <button (click)="updatePassword()"
                                            class="col-md-6 btn btn-success  waves-effect waves-light"
                                            type="button">Update</button>
                                    </div>
                                    <div class="col-md-6" *ngIf="!isFpass">
                                        <button (click)="sendResetEmail()"
                                            class="col-md-6 btn btn-success  waves-effect waves-light"
                                            type="button">Send OTP</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button (click)="backToLogin()"
                                            class="m-l-5 col-md-6 btn btn-danger  waves-effect waves-light"
                                            type="button">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- <app-apploader [Uloading]="loading"></app-apploader> -->