<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <div fxFlex="60">
    <img [src]="'assets/images/sign in2.jpg'" alt="" class="images" />
  </div>
  <div fxFlex="40">
    <div class="card">
      <img class="image-responsive m-l-50" src="assets/images/logo.png" />
      <h3 class="text-center m-b-20">Sign In</h3>
      <form
        *ngIf="!isForgotPassword"
        class="form-horizontal form-material"
        id="loginform"
        autocomplete="off"
      >
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <div fxFlex="97">
            <mat-form-field appearance="outline" class="user">
              <mat-label>Username</mat-label>
              <input
                autocomplete="off"
                matInput
                [(ngModel)]="email"
                name="email"
                class="form-control"
                type="text"
                placeholder="Username"
                required=""
              />
            </mat-form-field>
          </div>
          <div fxFlex="97">
            <mat-form-field appearance="outline" class="user">
              <mat-label>Password</mat-label>
              <input
                autocomplete="off"
                matInput
                [(ngModel)]="password"
                name="password"
                class="form-control"
                type="password"
                required=""
                placeholder="Password"
              />
            </mat-form-field>
          </div>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          style="margin-bottom: 20px; margin-top: 30px"
        >
          <div>
            <mat-checkbox
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
              >Remember me</mat-checkbox
            >
          </div>
          <div>
            <a
              (click)="gotpForgotPass()"
              href="javascript:void(0)"
              id="to-recover"
              class="text-muted"
              ><i class="fas fa-lock m-r-5"></i> Forgot pwd?</a
            >
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <div fxFlex="97" class="p-b-20">
            <button
              (click)="gotoDashboard()"
              mat-raised-button
              class="btn-gradient"
              type="submit"
            >
              Log In
            </button>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <div fxFlex="97" class="m-b-0 text-center">
            Don't have an account?
            <a
              href="javascript:void(0)"
              (click)="gotoReg()"
              class="text-info m-l-5"
              ><b>Sign Up</b></a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
