<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 row option-alignment">
              <div class="col-lg-6 col-sm-12 col-md-6">
                <h4 class="card-title">Upload File Status</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="">
                      <form class="form-horizontal" role="form">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Please select an export file type</label>
                                <select (change)="onSearchByFileType()" [(ngModel)]="fileformat" class="form-control" id="productexporttypeid" [ngModelOptions]="{standalone: true}">
                                    <option value="">Please select an export file type</option>
                                    <option value="general">Product Export File</option>
                                    <option value="EBAY_PRODUCT_EXPORT">Ebay Product Export File</option>
                                    <option value="qtysku">QTY SKU Product Export File</option>
                                    <option value="skubarcode">SKU Barcodes Export File</option>
                                    <option value="customers">Customer Export File</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-2">
                            <br>
                              <div class="pull-right">
                                <button class="btn btn-success" (click)="export()"><i class="fa fa-file-excel-o font-blue"></i>  Export </button>
                              </div>
                            </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>

            <div class="table-responsive">
              <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
              <table id="printabletable" class="display wrap table table-hover table-striped table-bordered"
                cellspacing="0" width="100%">
                <thead class="text-center">
                  <tr>
                    <th>Request Time</th>
                    <th>Export Type</th>
                    <th>Status</th>
                    <th>Download</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let export of allBulk">
                    <td>{{ export.uploadTime | date: 'dd MMM yyyy' }}</td>
                    <td>{{ export.exportType }}</td>
                    <td>{{ export.status }}</td>
                    <td ><a href="{{ export.downloadLink }}">{{ export.downloadLink }}</a></td>
                    <td><button (click)="removeBulkexport(export.id)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times font-red"> </i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="col-lg-12 col-md-12  align-self-center text-right">
                <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  
