<div class=" showoptions col-md-12 col-lg-12">
    <div class="hide text-right">
        <button type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm mr-1" title="Hide & Show" data-toggle="collapse" data-target="#demo"><i style="color:rgb(18, 180, 126) !important" class="far fa-sun"></i></button>
        <button type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm mr-1" title="Hide & Show" data-toggle="collapse" data-target="#demo"><i style="color:rgb(60, 121, 212) !important" class=" fas fa-long-arrow-alt-up"></i></button>
        <button type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm mr-1" title="Hide & Show" data-toggle="collapse" data-target="#demo"><i style="color:rgb(60, 121, 212) !important" class=" fas fa-long-arrow-alt-down"></i></button>
        <button (click)="delete()" type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm" title="Delete"><i class="fa fa-trash" style="color:red !important " ></i></button>
    </div>
    <div [id]="generateid('tableList')" cdkDropList [cdkDropListConnectedTo]="['tableList']" cdkDropListOrientation="horizontal" class="example-list" [cdkDropListData]="timePeriods" (cdkDropListDropped)="tabledrop($event)">
        <div class="button-group" style="margin-top: 10px;">
            <button *ngFor="let column of obj.columns" cdkDrag type="button" class="btn waves-effect waves-light btn-rounded btn-success"><i (click)="deleteColumn(column)" class="fas fa-trash-alt"></i>  {{column}}</button>
        </div>
    </div>
    <div class="table-responsive">
        <table [id]="generateid('table')" class="text-center display wrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th *ngFor="let column of obj.columns">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of getRows(obj.noOfrows)">
                    <th *ngFor="let column of obj.columns">XXX</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>