<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 style="font-weight: 400;">Release Notes</h3>
            </div>
            <div class="card-body" style="font-weight: 500;">
                <div class="col-md-12 col-lg-12 row color-header">
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4 style="font-weight: 500;">Date</h4>
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4 style="font-weight: 500;">Release Version</h4>
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4 style="font-weight: 500;">Details</h4>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-bordered">
                  <div class="col-md-4 col-lg-4 mt-2">
                      June 05, 2023
                  </div>
                  <div class="col-md-4 col-lg-4 mt-2">
                      SH_Release_05.06.2023_1.0.0.0
                  </div>
                  <div class="col-md-4 col-lg-4 mt-2">
                      <h4>Release Notes - SH_Release_05.06.2023_1.0.0.0</h4>
                      <sub><span>UI Enhancements in Orders and Products Page.
                          </span>&nbsp;<a
                              href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_05.06.2023_1.0.0.0.pdf"
                              target="_blank">More
                              info</a></sub>
                  </div>
                  <!-- <div class="col-md-4 col-lg-4 text-right">
          <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
            class="btn waves-effect waves-light btn-success">Integrate</button>
        </div> -->
              </div>
                <div class="col-md-12 col-lg-12 row color-bordered">
                    <div class="col-md-4 col-lg-4 mt-2">
                        May 04, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_04.05.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_04.05.2023_1.0.0.0</h4>
                        <sub><span>UI Enhancements in Orders and Products Page.
                            </span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_04.05.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-colored">
                    <div class="col-md-4 col-lg-4 mt-2">
                        Apr 21, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_21.04.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_21.04.2023_1.0.0.0</h4>
                        <sub><span>In dashboard we are added order summary details with status wise count beside
                            of sales by channels.
                            </span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_21.04.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-bordered">
                    <div class="col-md-4 col-lg-4 mt-2">
                        Mar 30, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_30.03.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_30.03.2023_1.0.0.0</h4>
                        <sub><span>Auto Split: When orders are downloaded into Sellershub, you can split one big order into multiple orders.
                            </span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_30.03.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-colored">
                    <div class="col-md-4 col-lg-4 mt-2">
                        Mar 20, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_20.03.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_20.03.2023_1.0.0.0</h4>
                        <sub><span>BOPIS is a new way for Sellers to list selection in Amazon's store and have Customers
                            come directly to Seller's store to pick-up their purchase.
                            </span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_20.03.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-bordered">
                    <div class="col-md-4 col-lg-4 mt-2">
                        Mar 09, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_09.03.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_09.03.2023_1.0.0.0</h4>
                        <sub><span>Auto Merge:
                            When an order is downloaded into Sellershub it may be desirable to merge multiple
orders into one or split orders to make shipping the orders more efficient.
                            </span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_09.03.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-colored">
                    <div class="col-md-4 col-lg-4 mt-2">
                        Feb 05, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_05.02.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_05.02.2023_1.0.0.0</h4>
                        <sub><span>Xero online accounting software for your business connects you to your bank,
                                accountant, bookkeeper,
                                and other business apps.
                            </span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes+-SH_Release_05.02.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>
                <div class="col-md-12 col-lg-12 row color-bordered">
                    <div class="col-md-4 col-lg-4 mt-2">
                        Jan 14, 2023
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        SH_Release_14.01.2023_1.0.0.0
                    </div>
                    <div class="col-md-4 col-lg-4 mt-2">
                        <h4>Release Notes - SH_Release_14.01.2023_1.0.0.0</h4>
                        <sub><span>Virtual printer is a free service that allows you to print invoices,packaging lists,
                                picklists and stock item
                                labels directly to your office printers from any where in the world</span>&nbsp;<a
                                href="https://khubweb.s3.us-west-1.amazonaws.com/web/Release+Notes-SH_Release_14.01.2023_1.0.0.0.pdf"
                                target="_blank">More
                                info</a></sub>
                    </div>
                    <!-- <div class="col-md-4 col-lg-4 text-right">
            <button (click)="openMarketplace(row)" data-dismiss="modal" type="button"
              class="btn waves-effect waves-light btn-success">Integrate</button>
          </div> -->
                </div>

                <!-- <div class="custom-control custom-checkbox">
          <input (click)="individualselection(row)" [checked]="row.selected" type="checkbox"
            [id]="row.channel_title+row.channel_id" [value]="row.selected" [name]="test"
            class="custom-control-input checkallP">
          <label class="custom-control-label" for="{{row.channel_title+row.channel_id}}"></label>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-12 text-center">
            <img src="{{ row.channel_logo }}" alt="user" class="img-responsive img-fixed img-fluid">
          </div>
          <div class="col-md-12 col-lg-12">
            <h3 class="box-title m-b-0">{{ row.channel_title }}</h3>
          </div>
        </div> -->
            </div>
        </div>
    </div>
</div>
<div id="release-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <img [src]="'assets/images/Frame 14s.jpg'" alt="royalmail-print-label" width="1000" height="600" />

            </div>
        </div>
    </div>
</div>
