<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
        <h4 class="card-title mt-3 ml-4">Inventory management</h4>
        <a title="Description" href="https://www.sellershub.io/userguide/inventory-management/" target="_blank"
            data-close-others="true" class="mt-2 mb-3 btn-sm m-l-15 btn btn-dark btn-circle text-white"><i
                class=" fas fa-info"></i> </a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="col-lg-6 col-md-6"></div>
                  <div class="col-lg-6 col-md-6  align-self-center text-right" style="margin-bottom: 10px;margin-left: 50%;">
                    
                </div> -->
                    <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right "
                        style="padding-right: 0px;">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="input-group col-md-3">
                                <input type="text" [(ngModel)]="freeFormSearch" class="form-control" id="pass333"
                                    placeholder="Sku/title/barcode">
                                <div class="input-group-append" (click)="refresh();auditTrack(1)"><span
                                        class="input-group-text"><i class="ti-search"></i></span>
                                </div>
                            </div>
                            <div class=" row m-l-15">
                                <select class="col-sm-6 form-control custom-select" [(ngModel)]="searchname"
                                    id="searchname">
                                    <option class="form-control" value="0">Search By</option>
                                    <option class="form-control" value="1">SKU</option>
                                    <option class="form-control" value="3">TITLE</option>
                                    <!-- <option class="form-control" value="101">VENDOR</option>
                                    <option class="form-control" value="102">TAGS</option>
                                    <option class="form-control" value="103">PRODUCTTYPE</option> -->
                                    <option class="form-control" value="7">QTY</option>
                                    <option class="form-control" value="401">Category</option>
                                    <!-- <option class="form-control" value="8">Brand</option> -->
                                </select>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="searchValue2" class="form-control" id="pass3"
                                            placeholder="Enter Search Value">
                                        <!-- <div class="input-group-append"><span class="input-group-text"><i class="ti-search"></i></span>
                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="m-l-5">
                                <select class="form-control custom-select" [(ngModel)]="channelType" name="channelType">
                                    <option value="all" disabled>--Select Channel--</option>
                                    <option class="form-control" *ngFor="let channel of channels"
                                        value="{{channel.id}}">
                                        {{channel.type}}-{{channel.name}}</option>
                                </select>
                            </div>
                            <div class="m-l-5">
                                <select class="form-control custom-select" [(ngModel)]="fliter" name="fliter">
                                    <option value="0" disabled>--Select Filter--</option>
                                    <option class="form-control" value="0">Sort By</option>
                                    <option class="form-control" value="1">SKU Ascending</option>
                                    <option class="form-control" value="2">SKU Descending</option>
                                    <option class="form-control" value="3">Price low to high</option>
                                    <option class="form-control" value="4">Price High to low</option>
                                    <option class="form-control" value="5">Title A-Z</option>
                                    <option class="form-control" value="6">Title Z-A</option>
                                </select>
                            </div>
                            <button (click)="refresh();auditTrack(1)" type="button"
                                class="btn btn-success btn-sm d-lg-block m-l-15"><i class="fas fa-filter"></i> Apply
                                Filter</button>
                            <button (click)="reset();auditTrack(2)" type="button"
                                class="btn btn-warning btn-sm d-lg-block m-l-15"><i
                                    class="fa fa-refresh fa-lg">&#xf021;</i>
                                Reset</button>

                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                        style="padding-right: 0px;">

                        <div class="d-flex justify-content-end align-items-center">
                            <div class=" row mr-2">
                                <!-- <ng-multiselect-dropdown [settings]="dropdownSettings_fil" [placeholder]="'Select Filter'" id="filyer" name="filyer" [data]="filterData">
                                </ng-multiselect-dropdown> -->
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input [checked]="showChannelInfo" (click)="select($event);" type="checkbox"
                                            class="custom-control-input" id="checkbox111" value="check">
                                        <label class="custom-control-label" for="checkbox111">Show Channel Info
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input [checked]="showParentProducts"
                                            (click)="showParentProducts=!showParentProducts;getProducts();"
                                            type="checkbox" class="custom-control-input" id="checkbox10" value="check">
                                        <label class="custom-control-label" for="checkbox10">Show Parent
                                            Products</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input [checked]="showZeroProducts"
                                            (click)="showZeroProducts=!showZeroProducts;getProducts();" type="checkbox"
                                            class="custom-control-input" id="checkbox11" value="check">
                                        <label class="custom-control-label" for="checkbox11">Including Zero Qty
                                            Products</label>
                                    </div>
                                </div>
                            </div>
                            <div class="m-r-15" style="width: 20%;">
                                <!-- <label>Country Of Origin:</label> -->
                                <ng-multiselect-dropdown (onSelect)="onItemSupplier($event)"
                                    [settings]="dropdownSettings_supplier" [placeholder]="'Select Supplier'"
                                    id="supplier" name="supplier" [data]="allSupplier" ngDefaultControl
                                    [(ngModel)]="selectedSupplier">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="form-group m-r-5" *ngIf="selectedSupplier?.length > 0">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input [(ngModel)]="isDefaultSupplier"
                                        (click)="isDefaultSupplier=!isDefaultSupplier;getProducts()" type="checkbox"
                                        class="custom-control-input" id="def-spplier" name="def-spplier">
                                    <label class="custom-control-label" for="def-spplier">Default Supplier</label>
                                </div>
                            </div>
                            <!-- <div class="m-r-5">
                                <button type="button" (click)="excludeSKUFromInven();auditTrack(3)"
                                    class="btn btn-success btn-xs d-lg-block m-r-5"> Exclude
                                    SKU From Inventory</button>
                            </div>
                            <div class="m-r-5">
                                <button type="button" (click)="addToChannel();auditTrack(4)"
                                    class="btn btn-success btn-xs d-lg-block m-r-5">
                                    Add to
                                    channel</button>
                            </div>
                            <div class="m-r-5">
                                <button type="button" (click)="removeProducts();auditTrack(5)"
                                    class="btn btn-success btn-xs d-lg-block m-r-5">Remove
                                    Products</button>
                            </div> -->
                            <!-- <div class="m-r-5">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Linked Products
                                    </button>
                                    <div class="dropdown-menu animated flipInX">
                                        <a (click)="linkProducts()" class="dropdown-item"
                                            href="javascript:void(0)">Create Link
                                            Products</a>
                                        <a (click)="linkProductsInv()" class="dropdown-item" href="javascript:void(0)">Link Inventory</a>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="m-r-5">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Bundle Products
                                    </button>
                                    <div class="dropdown-menu animated flipInX">
                                        <a (click)="convertSimpleToone()" class="dropdown-item"
                                            href="javascript:void(0)">Create Bundle</a>
                                        <a (click)="convertSimpleToone()" class="dropdown-item" href="javascript:void(0)">Convert Simple to Bundle</a>

                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="m-r-15">
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu animated flipInX">
                    <a (click)="removeProducts()" class="dropdown-item" href="javascript:void(0)">Remove</a>
                    <a (click)="addToChannel()" class="dropdown-item" href="javascript:void(0)">Add to channel</a>

                  </div>
                </div>
              </div> -->
                            <!-- <button type="button"
                  class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-download"></i> Export Orders</button>
                <div>
                  <button type="button"
                    class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-download"></i> Import Orders</button>
                </div> -->
                            <div class="btn-group mr-1">
                                <button type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-sun"></i>
                                    Actions
                                </button>
                                <div class="dropdown-menu animated flipInX">

                                    <a type="button" (click)="excludeSKUFromInven();auditTrack(3)"
                                        class="dropdown-item"> Exclude
                                        SKU From Inventory</a>
                                    <a type="button" (click)="addToChannel();auditTrack(4)" class="dropdown-item">
                                        Add to
                                        channel</a>
                                    <a type="button" (click)="removeProducts();auditTrack(5)"
                                        class="dropdown-item">Remove
                                        Products</a>
                                    <a (click)="linkProducts()" class="dropdown-item" href="javascript:void(0)">Create
                                        Link
                                        Products</a>
                                    <a (click)="convertSimpleToone()" class="dropdown-item"
                                        href="javascript:void(0)">Create Bundle</a>
                                    <a type="button" (click)="updateTrackingStatus();" class="dropdown-item">
                                        Tracked</a>
                                    <a type="button" (click)="untrackProducts();" class="dropdown-item">
                                        Untracked</a>
                                </div>
                            </div>
                            <div>
                                <button type="button" (click)="createProduct();auditTrack(6)"
                                    class="btn btn-success btn-sm d-lg-block m-r-15">
                                    <i class="fas fa-plus-circle"></i> Add Product</button>
                            </div>

                            <div>
                                <select (change)="getProducts()" class="form-control custom-select"
                                    [(ngModel)]="pageSize">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 text-right mt-2">
                        <div *ngIf="selectedItemsLength > 0">
                            <span style="font-weight: bold;" *ngIf="selectedItemsLength == 1">{{selectedItemsLength}}
                                product selected</span>
                            <span style="font-weight: bold;" *ngIf="selectedItemsLength > 1">{{selectedItemsLength}}
                                products selected</span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                        <table class="table table color-bordered-table success-bordered-table table-bordered">
                            <thead class="text-center">
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="checkall" [checked]="!isAllChecked" name="checkall"
                                            class="custom-control-input checkallP">
                                        <label (click)="selectall($event)" class="custom-control-label"
                                            for="checkall"></label>
                                    </div>
                                </th>
                                <th>Image </th>
                                <th>SKU </th>
                                <th>Variations</th>
                                <th style="min-width: 150px;">Channels</th>
                                <th style="min-width: 150px;">Title</th>
                                <th>Qty</th>
                                <th>Tracked</th>
                                <th style="min-width: 100px;">Price</th>
                                <!-- <th>Last Update</th> -->
                                <th>Actions</th>
                                <ng-container *ngIf="showChannelInfo">
                                    <th *ngFor="let channel of channleUsers">
                                        {{channel.name}}/{{channel.type}}
                                    </th>
                                </ng-container>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let prod of allProducts">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input (click)="individualselection(prod)" [checked]="prod.selected"
                                                type="checkbox" [id]="prod.id" [value]="prod.selected" [name]="test"
                                                class="custom-control-input checkallP">
                                            <label class="custom-control-label" for="{{prod.id}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <img [src]="prod?.imageUrl" class="img-responsive prod-img">
                                        <!-- <img [src]="prod?.imageUrl" class="img-responsive hide"> -->
                                    </td>
                                    <td>
                                        <i (click)="openProducts(prod)" *ngIf="prod.productType=='configurable'"
                                            style="cursor: pointer;color: #03a9f3;" class="fas fa-plus-circle"></i>

                                        <i (click)="openqtymodal(prod)" *ngIf="prod.productType=='bundle'"
                                            style="cursor: pointer;color: #fec107;" class="fas fa-plus-circle"></i>
                                        <span class="hover" (click)="editproduct(prod)">{{prod?.sku }}</span>
                                        <i (click)="openLinkInventory(prod.id)" *ngIf="prod.linkSku"
                                            style="cursor: pointer;color: #fec107;" class="fas fa-link"></i>
                                    </td>
                                    <td>
                                        <div class="text-white"
                                            [ngClass]="prod.productType=='simple'?'label label-table label-success':prod.productType=='configurable'?'label label-table label-info':'label label-table label-warning'">
                                            {{ prod?.productType }}</div>

                                    </td>
                                    <td>
                                        <ng-container *ngIf="prod.channelNames">
                                            <span *ngFor="let item of prod.channelNames">
                                                <img *ngIf="item"
                                                    src="https://s3-us-west-2.amazonaws.com/khubstatic/web/kartzhub{{item}}icon.png"
                                                    style="width: 25px;">

                                            </span>
                                        </ng-container>
                                    </td>
                                    <!-- <td [innerHTML]="prod.channels"></td> -->
                                    <!-- <td> <img [src]="https://s3-us-west-2.amazonaws.com/khubstatic/web/kartzhub{{ prod.channel }}icon.png" class="img-responsive"></td> -->
                                    <td><span class="hover" (click)="editproduct(prod)">{{ prod?.title }}</span></td>
                                    <td>
                                        <div>
                                            <div class="row ml-4">
                                                <div class="col-md-6">
                                                    <input class="form-control form-control-sm" type="text"
                                                        [(ngModel)]="prod.qty" name="qty">
                                                </div>
                                                <div class="col-md-2">
                                                    <div *ngIf="prod.productType != 'composit'">
                                                        <i title="Update Stock" (click)="updateQtyValue(prod)"
                                                            style="cursor: pointer;color: #fec107;"
                                                            class="fa fa-refresh fa-lg">&#xf021;</i>
                                                    </div>
                                                    <!-- <i    class="fas fa-refresh" aria-hidden="true"></i> -->
                                                    <!-- <button (click)="updateQtyValue(prod)" class="btn btn-warning d-md-block btn-sm"
                                                     title="Update Stock" ><i  class="fa fa-refresh fa-lg" style="
                                                     color: white;">&#xf021;</i></button> -->
                                                </div>
                                            </div>
                                        </div>


                                    </td>
                                    <td><i [ngClass]="(prod?.track == null || prod?.track == false)? 'icon-space-error' : 'icon-space'"
                                            (click)="upadteTracking(prod)" class=" fas fa-map-marker-alt fa-lg"
                                            [title]="(prod?.track == null || prod?.track == false)?'Not Tracked':'Tracked'"></i>
                                    </td>
                                    <td>{{ prod?.sellingPrice }}</td>
                                    <!-- <td>{{ prod?.lastModifiedDate | date:'dd/MM/yyyy H:mm:ss' }}</td> -->
                                    <!-- <td>{{ prod.sku }}</td> -->
                                    <td>
                                        <div class="row justify-content-center  align-items-center">
                                            <div>
                                                <i title="Edit product" (click)="editproduct(prod)"
                                                    style="cursor: pointer;color: #fec107;"
                                                    class="fa-lg fas fa-edit mr-1"></i>
                                            </div>
                                            <div>
                                                <i title="inventory track " (click)="openHisporyModal(prod)"
                                                    style="cursor: pointer;color: #00c292;"
                                                    class="fa-lg far fa-clock mr-1"></i>
                                            </div>
                                            <div>
                                                <i title="Edit product" *ngIf="prod.productType=='bundle'"
                                                    (click)="addProductTobundle(prod)"
                                                    style="cursor: pointer;color: #00c292;"
                                                    class="fa-lg  fas fa-plus-circle"></i>
                                            </div>
                                            <!-- <button  class="btn btn-sm mr-1 btn-warning d-md-block" (click)="editproduct(prod)"
                                         title="edit product"   ><i class="fa-lg fas fa-edit"></i></button>
                                        <button class="btn btn-sm btn-success d-md-block" (click)="openHisporyModal(prod)"
                                         title="inventory track " ><i  class="fa-lg far fa-clock"></i></button>
                                        <button class="btn btn-sm btn-success d-md-block" *ngIf="prod.productType=='bundle'"
                                            (click)="addProductTobundle(prod)"><i class="fa-lg  fas fa-plus-circle"></i></button> -->
                                            <!-- <button  type="button" class="btn btn-warning"> Edit
                    </button> -->
                                        </div>
                                    </td>
                                    <ng-container *ngIf="showChannelInfo">
                                        <td *ngFor="let channel of channleUsers">
                                            <span *ngIf="prod.channelIds.indexOf(channel.id)>-1">
                                                <span *ngFor="let item of prod.channelProductQuantities[channel.id ]">
                                                    {{item.qty}} - </span>
                                            </span>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6 ">
                            <span>Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of
                                    {{collectionsize}} entries</span>
                        </div>
                        <div class="col-lg-6 col-md-6 text-right">
                            <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page"
                                [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                            </ngb-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="channels-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Add To channel
                </h2>

                <button type="button" class="close" data-dismiss="modal" (click)="closeChannelsModal()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="    max-height: 65vh; overflow-y: scroll;">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <!-- <th>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="checkall" [checked]="!isAllChecked" name="checkall"
                      class="custom-control-input checkallP">
                    <label (click)="selectall($event)" class="custom-control-label" for="checkall"></label>
                  </div>
                </th> -->
                            <th>Add to Channel </th>
                            <th>Channel </th>
                            <th>Listing Template</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of addTochannelList">
                                <td>
                                    <div class="form-group" *ngIf="prod.templates.length>0">
                                        <label class="custom-control custom-checkbox m-b-0">
                                            <input (click)="changesCheckedStatus(prod)" type="checkbox"
                                                class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <!-- <td>
                                    <img [src]="getChannelImage(prod.type)" class="img-responsive prod-img"><br>
                                    <span class="custom-control-label">{{prod.name}}</span>
                                </td>
                                <td>
                                    <div class="form-group has-success">
                                        <select class="form-control custom-select" [(ngModel)]="prod.selectedTemplate"></select>
                                    </div>
                                </td> -->
                                <td><img [src]="getChannelImage(prod.type)" class="img-responsive prod-img"><br>
                                    <span>{{prod.name}}</span>
                                </td>
                                <td>
                                    <div class="form-group has-success">
                                        <select class="form-control custom-select" [(ngModel)]="prod.selectedTemplate">
                                            <option disabled value="">--Select template--</option>
                                            <option [value]="template.id" *ngFor="let template of  prod.templates">
                                                {{template.templateName}}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="saveTochannel();auditTrack(7)" type="button"
                    class="btn waves-effect waves-light btn-success">Save</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="link-products-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Please confirm below products to
                    link SKU's
                </h2>

                <button type="button" class="close" data-dismiss="modal" (click)="closeLinkProdModal()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <!-- <th>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="checkall" [checked]="!isAllChecked" name="checkall"
                      class="custom-control-input checkallP">
                    <label (click)="selectall($event)" class="custom-control-label" for="checkall"></label>
                  </div>
                </th> -->
                            <th>Image </th>
                            <th>SKU </th>
                            <th>Title</th>
                            <th>Linked SKU</th>
                            <th>Edit</th>
                            <th>Update Qty</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of linkedProds">
                                <td><img class="img-responsive prod-img" src="{{prod.imageUrl}}" /></td>
                                <td>{{prod.sku}}</td>
                                <td>{{prod.title}}</td>
                                <td>{{prod.linkSku}}</td>
                                <td><span class="badge badge-success badge-pill">{{prod.qty}}</span>
                                    <!-- <a href="javascript:void(0);"
                      (click)="editProduct()"> Edit </a> -->
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input appNumber type="text" class="form-control" name="{{prod.sku}}-name"
                                                [(ngModel)]="prod.qty" aria-label="Username">
                                            <div style="cursor: pointer;" class="input-group-append"
                                                (click)="updateQty(prod);">
                                                <span class="input-group-text">Update</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input (click)="updateThqtystatus();" type="checkbox" class="custom-control-input"
                            id="checkbox12" value="check">
                        <label class="custom-control-label" for="checkbox12">Enable Equal Qty</label>
                    </div>
                </div>
                <button type="button" (click)="confirmUnLinkProduct();auditTrack(8)"
                    class="btn waves-effect waves-light btn-warning">Unlink
                    Products</button>
                <button type="button" (click)="confirmLinkProduct();auditTrack(9)"
                    class="btn waves-effect waves-light btn-success">Link
                    Products</button>
                <button type="button" (click)="closeLinkProdModal();auditTrack(10)" class="btn btn-danger waves-effect"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="link-products-inven-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Linked Products Inventory</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="linkProductsInvModalClose()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <th>Image </th>
                            <th>Linked SKU</th>
                            <th>SKU </th>
                            <th>Title</th>
                            <th>Quantity</th>
                            <th>Total Quantity</th>
                            <th>Edit</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of linkedProdsInventory">
                                <td><img class="img-responsive prod-img" src="{{prod.imageUrl}}" /></td>
                                <td>{{prod.sku}}</td>
                                <td>{{prod.title}}</td>
                                <td>{{prod.linkSku}}</td>
                                <td>{{prod.linkSku}}</td>
                                <td>{{prod.linkSku}}</td>
                                <td><span class="badge badge-success badge-pill">{{prod.qty}}</span> <a
                                        href="javascript:void(0);" (click)="editProduct()"> Edit </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="link-products-inven-modal_v2" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Please confirm below products to
                    link SKU's
                </h2>
                <button type="button" class="close" data-dismiss="modal" (click)="linkProductsInvModalClosev2()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <th>Image </th>
                            <th>SKU </th>
                            <th>Title</th>
                            <th>Linked SKU</th>
                            <th>Edit</th>
                            <th>Update Qty</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of linkedProds">
                                <td><img class="img-responsive prod-img" src="{{prod.imageUrl}}" /></td>
                                <td>{{prod.sku}}</td>
                                <td>{{prod.title}}</td>
                                <td>{{prod.linkSku}}</td>
                                <td><span class="badge badge-success badge-pill">{{prod.qty}}</span>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input appNumber type="text" class="form-control" name="{{prod.sku}}-name"
                                                [(ngModel)]="prod.qty" aria-label="Username">
                                            <div style="cursor: pointer;" class="input-group-append"
                                                (click)="updateQty(prod);">
                                                <span class="input-group-text">Update</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="confirmUnLinkProductV2();auditTrack(11)"
                    class="btn waves-effect waves-light btn-warning">Unlink Products</button>
                <!-- <button type="button" (click)="confirmLinkProduct();" class="btn waves-effect waves-light btn-success">Link
            Products</button> -->
                <button type="button" (click)="linkProductsInvModalClosev2();auditTrack(12)"
                    class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="link-products-variation" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Product Variations</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="linkProductsInvModalClose()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <th>Image </th>
                            <th>SKU </th>
                            <!-- <th>Channel</th> -->
                            <th>Title</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of channelDet">
                                <td><img class="img-responsive prod-img" src="{{prod.imageUrl}}" /></td>
                                <td>{{prod.sku}}</td>
                                <!-- <td>{{prod.sku}}</td> -->
                                <td>{{prod.title}}</td>
                                <td>{{prod.qty}}</td>
                                <td>{{prod.sellingPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="bundle-products-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Add products to bundle</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="bdmodalclose()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right " style="padding-right: 0px;">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class=" row">
                            <div class="col-md-4 col-lg-4">
                                <div class="input-group">
                                    <input type="text" [(ngModel)]="title" class="form-control" id="pass3"
                                        placeholder="Enter Product Title">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="input-group">
                                    <input type="text" [(ngModel)]="skuip" class="form-control" id="pass3"
                                        placeholder="Enter SKU">
                                </div>
                            </div>
                            <button (click)="applFil();auditTrack(13)" type="button"
                                class="btn btn-success d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Apply
                                Filter</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive m-t-10">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <th>Image </th>
                            <th>SKU </th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of allProducts_b">
                                <td><img [src]='prod.imageUrl' height="40"></td>
                                <td>{{prod.sku}}</td>
                                <td>
                                    <div class="text-white"
                                        [ngClass]="prod.productType=='simple'?'label label-table label-success':prod.productType=='configurable'?'label label-table label-info':'label label-table label-warning'">
                                        {{ prod?.productType }}</div>
                                </td>
                                <td>{{prod.title}}</td>
                                <td> <button (click)="addtobundlev2(prod);" type="button"
                                        class="btn btn-warning btn-circle"><i class="fa fa-plus-circle"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 ">
                        <!-- <span >Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of {{collectionsize}} entries</span> -->
                    </div>
                    <div class="col-lg-6 col-md-6 text-right">
                        <ngb-pagination [collectionSize]="collectionsize_m" [pageSize]="pageSize_m" [(page)]="page_m"
                            [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage_m(page_m);">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn waves-effect waves-light btn-warning">Save</button> -->
                <button type="button" class="btn btn-danger waves-effect" (clic)="bdmodalclose()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="bundle-products-qty_update_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="color: rgb(255 165 0);font-weight: 400">Manage Products for the bundle
                    product below
                </h2>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModalbqty()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table color-bordered-table success-bordered-table">
                        <thead>
                            <th>Product</th>
                            <th>SKU </th>
                            <th>Available Qty</th>
                            <th>Assign Qty</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of prod_for_update">
                                <td><img [src]='prod.imageUrl' height="40"></td>
                                <td>{{prod.sku}}</td>
                                <td>{{prod.avaiableQty}}</td>
                                <td><input type="text" id="firstName" class="form-control" [(ngModel)]="prod.qty"></td>
                                <td>
                                    <button (click)="saveQty(prod)" type="button" class="btn btn-success btn-circle"><i
                                            class="fa fa-check"></i> </button>
                                    <button (click)="removeProductFromBundle(prod)" type="button"
                                        class="btn btn-warning btn-circle"><i class="fa fa-times"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn waves-effect waves-light btn-warning">Save</button> -->
                <button type="button" class="btn btn-danger waves-effect" (click)="closeModalbqty()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="inventoryTrackingmodal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Product Tracking</h3>
                <button type="button" class="close" data-dismiss="modal" (click)="trackingmodalclose()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <app-product-tracking [sku]="sku"></app-product-tracking>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn waves-effect waves-light btn-warning">Save</button> -->
                <button type="button" class="btn btn-danger waves-effect" (clic)="trackingmodalclose()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>