<div class="container-fluid" id="printOnly" style="margin-top: 2px">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row header-rep">
                        <div class="col-md-2 header-row">S.No</div>
                        <div class="col-md-2 header-row" *ngFor="let head of header">{{head.displaycolumn}}</div>

                    </div>
                    <ng-container *ngIf="channelsalessku.length>0">
                        <div class="row header-data" *ngFor="let order of channelsalessku;let i=index">
                            <div class="col-md-2 header-row highlight">
                                <span style="font-size: 20px;font-weight: 400;"> {{i+1}}</span>
                            </div>
                            <div class="col-md-2 header-row" *ngFor="let head of header" style="min-height: 30px;">
                                <span
                                    *ngIf="head.displaycolumn!='Image' && head.displaycolumn!='Barcode' && head.displaycolumn!='Order Date' && head.displaycolumn!='Category'">
                                    {{getValue(head,order)}}</span>
                                <span *ngIf="head.displaycolumn=='Order Date'"> {{order.purchaseDate |
                                    date:'dd/MM/yyyy'}}</span>
                                <span *ngIf="head.displaycolumn=='Category'"> {{order.category}}</span>
                                <img *ngIf="head.displaycolumn=='Image'" [src]="order?.imageUrl" height="40" />
                                <ngx-barcode [bc-value]="order.upc" [bc-display-value]="false" [bc-width]="1"
                                    [bc-height]="25" *ngIf="head.displaycolumn=='Barcode'"></ngx-barcode>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>