<div class="row">
  <!-- <div class="col-md-12 col-lg-12 text-right p-r-40">
    <button (click)="print()" type="button" class="btn  btn-info "><i class="fas fa-print"></i> Print
      Preview</button>
  </div> -->
  <div class="col-md-12 col-lg-12" id="section-to-print">
    <gridster [options]="options" class="page_a4 printableArea">
      <gridster-item [item]="item" *ngFor="let item of dashboard;let i=index" (itemChange)="itemChange($event)">
        <div [ngSwitch]="item?.type" class="gridster-item-content col-md-12 col-lg-12">
          <div *ngSwitchCase="'Image'">
            <div class="col-md-12 col-lg-12 text-center">
              <app-template-view-builder [childrens]="item.childs"> </app-template-view-builder>
            </div>
          </div>
          <div *ngSwitchCase="'GeneralDetails'">
            <div class="col-md-12 col-lg-12">
              <app-template-view-builder [childrens]="item.childs"> </app-template-view-builder>
            </div>
          </div>
          <div *ngSwitchCase="'Item'">
            <div class="col-md-12 col-lg-12 m-t-10">
              <div class="table-responsive">
                <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                <table class="table table-striped table-bordered table-hover color-table info-table">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>SKU</th>
                      <th>Title</th>
                      <th>Qty</th>
                      <th>Item Price</th>
                      <th>Item Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>XXXX</td>
                      <td>XXXX</td>
                      <td>XXXX</td>
                      <td>XXXX</td>
                      <td>XXXX</td>
                      <td>XXXX</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'Total'">
            <div class="col-md-12 col-lg-12 m-t-10 text-right">
              <h6>Postage & Package Charges :</h6>
              <h6>VAT :</h6>
              <h4>Total :</h4>
            </div>
          </div>
        </div>
      </gridster-item>
    </gridster>
  </div>
</div>

