<div class="row">
  <div *ngIf="!isView" class="col-md-12 col-lg-12 container-fluid">
    <div class=" row col-md-12 col-lg-12 text-center m-t-30">
      <div class="col-md-6 col-lg-6 p-l-30">
        <div class="form-group has-success">       
        </div>
      </div>
      <div class="col-md-6 col-lg-6 ">
        <button title="Add" (click)="openModal(item,'itemcard')" type="button" class="btn  btn-info"><i
            class="fas fa-plus-circle"></i> Add Grid</button>
        <button title="Title" (click)="viewItems()" type="button" class="btn m-l-5  btn-warning "><i
            class="fas fa-eye"></i>
          Preview</button>
        <button (click)="saveTemplateV2()" title="Title" type="button" class="btn m-l-5  btn-success "><i class="fas fa-eye"></i>
          Save Template</button>
      </div>
    </div>
    <gridster [options]="options" class="page_a4" id="section-to-print">
      <gridster-item [item]="item" *ngFor="let item of dashboard;let i=index" (itemChange)="itemChange($event)">
        <div [ngSwitch]="item?.type" class="gridster-item-content col-md-12 col-lg-12">
          <div *ngSwitchCase="'Image'">
            <div class="action-icons">
              <!-- <i style="cursor: pointer;color: rgb(39 39 39 / 52%);" (click)="openModal(item,'fromaddress')"
                class="fa-lg fas fa-edit"></i> -->
              <i style="cursor: pointer;color: rgb(39 39 39 / 52%);padding: 5px" (click)="remove(item)"
                class="fa-lg fas fa-trash"></i>
            </div>
            <div class="col-md-12 col-lg-12 text-center">
              <app-dynamic-uiuilder [childrens]="item?.childs">
              </app-dynamic-uiuilder>
            </div>
          </div>
          <div *ngSwitchCase="'GeneralDetails'">
            <div class="action-icons">
              <i style="cursor: pointer;color: rgb(39 39 39 / 52%);" (click)="openModal(item,'fromaddress')"
                class="fa-lg fas fa-plus-circle"></i>
              <i style="cursor: pointer;color: rgb(39 39 39 / 52%);padding: 5px" (click)="remove(item)"
                class="fa-lg fas fa-trash"></i>
            </div>
            <div class="col-md-12 col-lg-12">
              <app-dynamic-uiuilder (modalOpen)="openEditor(item,$event)" [childrens]="item?.childs">
              </app-dynamic-uiuilder>
            </div>
          </div>
          <div *ngSwitchCase="'Item'">
            <div class="action-icons">
              <i style="cursor: pointer;color: rgb(39 39 39 / 52%);" (click)="openModal(item,'itemdetails')"
                class="fa-lg fas fa-plus-circle"></i>
              <i style="cursor: pointer;color: rgb(39 39 39 / 52%);padding: 5px" (click)="remove(item)"
                class="fa-lg fas fa-trash"></i>
            </div>
            <div class="col-md-12 col-lg-12 m-t-10">
              <div class="table-responsive">
                <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                <table class="table table-striped table-bordered table-hover color-table info-table">
                  <thead>
                    <tr>
                      <th *ngFor="let it of selectedInvoice">{{it.value}}</th>                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let it of selectedInvoice">XXXX</td>                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'Total'">
            <div class="action-icons">
              <!-- <i style="cursor: pointer;color: rgb(39 39 39 / 52%);" (click)="openModal(item,'fromaddress')"
                class="fa-lg fas fa-plus-circle"></i> -->
              <i style="cursor: pointer;color: rgb(39 39 39 / 52%);padding: 5px" (click)="remove(item)"
                class="fa-lg fas fa-trash"></i>
            </div>
            <div class="col-md-12 col-lg-12 m-t-10 text-right">
              <h6>Postage & Package Charges : $package!</h6>
              <h6>VAT : $total_vat!</h6>
              <h4>Total : $total_price!</h4>
            </div>
          </div>
        </div>
      </gridster-item>
    </gridster>
  </div>
  <div *ngIf="isView" class="col-md-12 col-lg-12 container-fluid">
    <div class="m-b-10 col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
      style="padding-right: 0px;">
      <div class="d-flex justify-content-end align-items-center">
        <div>
          <button (click)="backtobuilder()" type="button" class="btn btn-waves btn-info"><i
              class="fas fa-plus-circle"></i>Back To Builder</button>
        </div>
      </div>
    </div>
    <app-package-slip-view [dashboard]="dashboard"></app-package-slip-view>
  </div>
</div>

<div id="template-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="activetype!='itemdetails'" class="modal-title" style="font-weight: 600">Add Fields</h4>
        <h4 *ngIf="activetype=='itemdetails'" class="modal-title" style="font-weight: 600">Add Invoice Columns</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideModal()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body" style="overflow-y: scroll;min-height: 65vh;">

        <div class="col-md-12" *ngIf="activetype=='itemcard'">
          <ng-multiselect-dropdown [settings]="dropdownSettings_item" [placeholder]="'Select Card Type'"
            id="allCardTypes" name="allCardTypes" style="width: 100%;" [data]="allCardTypes" ngDefaultControl
            [(ngModel)]="selectedCards">
          </ng-multiselect-dropdown>
        </div>

        <div class="col-md-12" *ngIf="activetype=='fromaddress'">
          <ng-multiselect-dropdown [settings]="dropdownSettings_from" [placeholder]="'Select Fields'" id="fromaddress"
            name="fromaddress" style="width: 100%;" [data]="allFromAddressFields" ngDefaultControl
            [(ngModel)]="selectedFromAddress">
          </ng-multiselect-dropdown>
        </div>

        <div class="col-md-12" *ngIf="activetype=='itemdetails'">
          <ng-multiselect-dropdown [settings]="dropdownSettings_from" [placeholder]="'Select Fields'" id="itemdetails"
            name="itemdetails" style="width: 100%;" [data]="allInvoiceDetails" ngDefaultControl
            [(ngModel)]="selectedInvoice">
          </ng-multiselect-dropdown>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="addFields()" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" (click)="hideModal()" class="btn btn-danger waves-effect"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="editor-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 600">Text Editor</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideModalEditor()"
          aria-hidden="true">×</button>
      </div>
      <div class="modal-body" *ngIf="isEditorOpened">
        <div class="col-md-12">
          <angular-editor name="editor_template_view123"  [(ngModel)]="selectedHtml" id="editor_template_view123"
           [config]="editorConfig"></angular-editor>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="saveEditorData()" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" (click)="hideModalEditor()" class="btn btn-danger waves-effect"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="savetemplate-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 600">Select channels which you want save this template</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideSaveTemp()"
          aria-hidden="true">×</button>
      </div>
      <div class="modal-body" style="min-height: 50vh;">
        <div class="col-md-12">
          <ng-multiselect-dropdown  (onDropDownClose)="onDropDownClose()"
           [settings]="dropdownSettings_template" [placeholder]="'Select Card Type'"
            id="apiData" name="apiData" style="width: 100%;" [data]="apiData" ngDefaultControl
            [(ngModel)]="selectedTemplates">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="saveTemplateData2()" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" (click)="hideSaveTemp()" class="btn btn-danger waves-effect"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

