<div class="card">
   <div class="card-body p-b-0">
      <div class="col-md-12 col-lg-12 text-center m-t-10">
         <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubdpd.png" alt="user"
            class="img-responsive img-fixed img-fluid">
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right " style="padding-right: 0px;">
         <div class="d-flex justify-content-end align-items-center">
            <button *ngIf="!isEnabled" (click)="save()" type="button" class="btn btn-success d-lg-block m-l-15"><i
                  class="fa fa-check"></i>
               Save</button>
            <button *ngIf="isEnabled" (click)="save()" type="button" class="btn btn-success d-lg-block m-l-15"><i
                  class="fa fa-check"></i>
               Update</button>
         </div>

      </div>
      <ul class="nav nav-tabs customtab2" role="tablist">
         <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#integration" role="tab"
               aria-selected="false"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                  class="hidden-xs-down">
                  Integration</span></a>
         </li>
         <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#shippingsettings" role="tab"
               aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
                  class="hidden-xs-down">
                  Shipping Services</span></a>
         <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#labelsetup" role="tab"
               aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
                  class="hidden-xs-down">
                  Label Setup</span></a>
         </li>
         <!-- <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#labelsettings" role="tab"
           aria-selected="true"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">
           Label Settings</span></a>  -->
         <!-- </li> -->
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
         <div class="tab-pane active" id="integration" role="tabpanel">
            <div class="col-md-12">
               <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
               <div class="m-t-5">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="card border-primary">
                           <div class="card-header bg-primary">
                              <h4 class="m-b-0 text-white">Dpd Account Details</h4>
                           </div>
                           <div class="card-body">
                              <form class="form-horizontal mt-4" name="dac">
                                 <div class="form-group has-success">
                                    <label>Customer Id</label>
                                    <input name="customerid" [(ngModel)]="customerid" type="text" class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>User Id</label>
                                    <input name="userid" [(ngModel)]="userid" type="text" class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Password</label>
                                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label class="control-label">Label Format <span style="color:red">*</span> </label>
                                    <select name="labelformat" [(ngModel)]="labelformat"
                                       class="form-control custom-select">
                                       <option disabled value="">--Select label--</option>
                                       <option value="a4">A4</option>
                                       <option value="4X6">4X6</option>
                                    </select>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card border-primary">
                           <div class="card-header bg-primary">
                              <h4 class="m-b-0 text-white">Pickup Address Details</h4>
                           </div>
                           <div class="card-body">
                              <form class="form-horizontal mt-4" name="pad">
                                 <div class="form-group  has-success">
                                    <label>Pickup Contact Name <span style="color:red">*</span></label>
                                    <input name="pickContactname" [(ngModel)]="pickContactname" type="text"
                                       class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Phone Number <span style="color:red">*</span></label>
                                    <input name="pickphonenum" [(ngModel)]="pickphonenum" type="text"
                                       class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Building <span style="color:red">*</span></label>
                                    <input name="pickbuilding" [(ngModel)]="pickbuilding" type="text"
                                       class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Street <span style="color:red">*</span></label>
                                    <input name="picstreet" [(ngModel)]="picstreet" type="text" class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Locality <span style="color:red">*</span></label>
                                    <input name="picklocality" [(ngModel)]="picklocality" type="text"
                                       class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Town <span style="color:red">*</span></label>
                                    <input name="picktown" [(ngModel)]="picktown" type="text" class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Postcode <span style="color:red">*</span></label>
                                    <input name="pickpostcode" [(ngModel)]="pickpostcode" type="text"
                                       class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Country<span style="color:red">*</span></label>
                                    <input name="pickcountry" [(ngModel)]="pickcountry" type="text"
                                       class="form-control">
                                 </div>
                                 <div class="form-group has-success">
                                    <label>Pickup Country Code <span style="color:red">*</span></label>
                                    <input name="pickcountrycode" [(ngModel)]="pickcountrycode" type="text"
                                       class="form-control">
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane p-20" id="shippingsettings" role="tabpanel">
            <table class="table  table-bordered  table-striped">
               <thead>
                  <tr>
                     <th style="max-width: 120px;">Service Code</th>
                     <th>Service Name</th>
                     <th>Enable</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1^01
                     </td>
                     <td>
                        PARCEL Sunday
                     </td>
                     <td><input [checked]="getCheckStatus('1^01')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^01" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^06
                     </td>
                     <td>
                        FREIGHT PARCEL Sunday
                     </td>
                     <td><input [checked]="getCheckStatus('1^06')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^06" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^08
                     </td>
                     <td>
                        PALLET Sunday
                     </td>
                     <td><input [checked]="getCheckStatus('1^08')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^08" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^09
                     </td>
                     <td>
                        EXPRESSPAK Sunday
                     </td>
                     <td><input [checked]="getCheckStatus('1^09')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^09" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^11
                     </td>
                     <td>
                        PARCEL Two Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^11')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^11" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^12
                     </td>
                     <td>
                        PARCEL Next Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^12')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^12" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^13
                     </td>
                     <td>
                        PARCEL Before 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^13')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^13" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^14
                     </td>
                     <td>
                        PARCEL Before 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^14')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^14" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^16
                     </td>
                     <td>
                        PARCEL Saturday
                     </td>
                     <td><input [checked]="getCheckStatus('1^16')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^16" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^17
                     </td>
                     <td>
                        PARCEL Sat by 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^17')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^17" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^18
                     </td>
                     <td>
                        PARCEL TSat by 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^18')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^18" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^19
                     </td>
                     <td>
                        Parcel - DPD Classic (2 to 3 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^19')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^19" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^21
                     </td>
                     <td>
                        Home EVE
                     </td>
                     <td><input [checked]="getCheckStatus('1^21')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^21" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^22
                     </td>
                     <td>
                        PARCEL RETURN TO SHOP
                     </td>
                     <td><input [checked]="getCheckStatus('1^22')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^22" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^23
                     </td>
                     <td>
                        Home AM
                     </td>
                     <td><input [checked]="getCheckStatus('1^23')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^23" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^25
                     </td>
                     <td>
                        Home PM
                     </td>
                     <td><input [checked]="getCheckStatus('1^25')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^25" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^29
                     </td>
                     <td>
                        PARCEL Sunday 12:00
                     </td>
                     <td><input [checked]="getCheckStatus('1^29')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^29" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^31
                     </td>
                     <td>
                        FREIGHT PARCEL Sunday 12:00
                     </td>
                     <td><input [checked]="getCheckStatus('1^31')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^31" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^32
                     </td>
                     <td>
                        ExpressPak Next Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^32')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^32" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^33
                     </td>
                     <td>
                        ExpressPak Before 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^33')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^33" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^34
                     </td>
                     <td>
                        ExpressPak Before 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^34')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^34" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^36
                     </td>
                     <td>
                        ExpressPak Saturday
                     </td>
                     <td><input [checked]="getCheckStatus('1^36')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^36" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^37
                     </td>
                     <td>
                        ExpressPak Sat by 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^37')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^37" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^38
                     </td>
                     <td>
                        ExpressPak Sat by 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^38')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^38" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^39
                     </td>
                     <td>
                        Expresspak - DPD Classic (2 to 3 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^39')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^39" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^41
                     </td>
                     <td>
                        Swapit Two Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^41')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^41" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^42
                     </td>
                     <td>
                        Swapit Next Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^42')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^42" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^43
                     </td>
                     <td>
                        Swapit Before 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^43')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^43" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^44
                     </td>
                     <td>
                        Swapit Before 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^44')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^44" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^46
                     </td>
                     <td>
                        Swapit Saturday
                     </td>
                     <td><input [checked]="getCheckStatus('1^46')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^46" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^47
                     </td>
                     <td>
                        Swapit Sat by 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^47')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^47" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^48
                     </td>
                     <td>
                        Swapit Sat by 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^48')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^48" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^50
                     </td>
                     <td>
                        Air Express (2 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^50')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^50" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^51
                     </td>
                     <td>
                        EXPRESSPAK Sunday 12:00
                     </td>
                     <td><input [checked]="getCheckStatus('1^51')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^51" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^59
                     </td>
                     <td>
                        Homecall
                     </td>
                     <td><input [checked]="getCheckStatus('1^59')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^59" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^60
                     </td>
                     <td>
                        Air Classic (3 to 4 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^60')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^60" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^69
                     </td>
                     <td>
                        PALLET Sunday 12:00
                     </td>
                     <td><input [checked]="getCheckStatus('1^69')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^69" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^71
                     </td>
                     <td>
                        Pallet Two Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^71')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^71" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^72
                     </td>
                     <td>
                        Pallet Next Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^72')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^72" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^73
                     </td>
                     <td>
                        Pallet Before 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^73')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^73" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^74
                     </td>
                     <td>
                        Pallet Before 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^74')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^74" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^76
                     </td>
                     <td>
                        Pallet Saturday
                     </td>
                     <td><input [checked]="getCheckStatus('1^76')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^76" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^77
                     </td>
                     <td>
                        Pallet Sat by 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^77')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^77" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^78
                     </td>
                     <td>
                        Pallet Sat by 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^78')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^78" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^79
                     </td>
                     <td>
                        Pallet - DPD Classic (2 to 3 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^79')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^79" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^81
                     </td>
                     <td>
                        Freight Two Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^81')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^81" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^82
                     </td>
                     <td>
                        Freight Next Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^82')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^82" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^83
                     </td>
                     <td>
                        Freight Before 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^83')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^83" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^84
                     </td>
                     <td>
                        Freight Before 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^84')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^84" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^86
                     </td>
                     <td>
                        Freight Saturday
                     </td>
                     <td><input [checked]="getCheckStatus('1^86')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^86" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^87
                     </td>
                     <td>
                        Freight Sat by 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^87')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^87" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^88
                     </td>
                     <td>
                        Freight Sat by 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^88')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^88" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^89
                     </td>
                     <td>
                        Freight Parcel - DPD Classic (2 to 3 days)
                     </td>
                     <td><input [checked]="getCheckStatus('1^89')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^89" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^91
                     </td>
                     <td>
                        Contract Pak Two Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^91')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^91" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^92
                     </td>
                     <td>
                        Contract Pak Next Day
                     </td>
                     <td><input [checked]="getCheckStatus('1^92')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^92" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^93
                     </td>
                     <td>
                        Contract Pak Before 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^93')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^93" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^94
                     </td>
                     <td>
                        Contract Pak Before 10
                     </td>
                     <td><input [checked]="getCheckStatus('1^94')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^94" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^96
                     </td>
                     <td>
                        Contract Pak Saturday
                     </td>
                     <td><input [checked]="getCheckStatus('1^96')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^96" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^97
                     </td>
                     <td>
                        Contract Pak Sat by 12
                     </td>
                     <td><input [checked]="getCheckStatus('1^97')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^97" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^98
                     </td>
                     <td>
                        Expak - Pickup Classic (2 to 3 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^98')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^98" type="checkbox">
                     </td>
                  </tr>
                  <tr>
                     <td>
                        1^99
                     </td>
                     <td>
                        Parcel - Pickup Classic (2 to 3 days) INTERNATIONAL
                     </td>
                     <td><input [checked]="getCheckStatus('1^99')" (click)="appendData($event)"
                           name="rmshippinglabelservicecode" value="1^99" type="checkbox">
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="tab-pane p-20" id="labelsetup" role="tabpanel">
            <div class="row">
               <div class="col-md-6 col-lg-6">
                  <app-label-template></app-label-template>
               </div>
               <div class="col-md-6">
                  <div class="card border-primary">
                     <div class="card-header bg-primary">
                        <h4 class="m-b-0 text-white">Available Fields</h4>
                     </div>
                     <div class="card-body">
                        <code ng-non-bindable> Shipping Name</code>
                        <!-- ${address_line1!}	Shipping Address Line One
                        ${address_line2!}	Shipping Address Line Two
                        ${address_line3!}	Shipping Address Line Three
                        ${city!}	Shipping City
                        ${state!}	Shipping State/County
                        ${postcode!}	Shipping Zip Code/Post Code
                        ${country!}	Shipping Country
                        ${ebay_record_number!}	eBay Order Record Number
                        ${total_price!}	Total Order Price
                        ${qty_sku_list!}	Quantity/SKU list
                        ${shipping_charge!}	Shipping Charge
                        ${order_id!}	Order Id
                        ${royalmail_ppi!}	Royal Mail PPI Image
                        ${checkout_message!}	Checkout Buyer Message
                        ${buyer_username!}	Buyer Username (e.g eBay user id)
                        ${order_notes!}	This is internal order notes.
                        ${invoice_no!}	Invoice No
                        ${order_date!}	Order Date
                        ${shipping_method!}	Shipping Service -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>