<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="display nowrap table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-left">Notification Type</th>
                <th class="text-left">Setting</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6>Low Stock Alert Email</h6>
                </td>
                <td class="text-left">
                  <div class="form-group">
                    <button (click)="notify1Model()" type="button" class="btn btn-sm btn-success"><i class="fa fa-cogs font-blue"></i> Settings</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h6>New Order Notification Email</h6>
                </td>
                <td class="text-left">
                  <div class="form-group">
                    <button (click)="notify2Model()" type="button" class="btn btn-sm btn-success"><i class="fa fa-cogs font-blue"></i> Settings</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <h6>New Order Notification SMS</h6>
                </td>
                <td class="text-left">
                  <div class="form-group">
                    <button (click)="notify3Model()" type="button" class="btn btn-sm btn-success"><i class="fa fa-cogs font-blue"></i> Settings</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <button type="button" class="btn btn-sm btn-success">Save</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-success">Test Connection</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-success">Remove Settings</button> -->
        </div>   
      </div>
    </div>
  </div>

    
  <div id="notify_1-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Enable Low Stock Alert Email
          </h2>
  
          <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body  box bg-warning text-center">
                    <h5 class="text-left text-white">Automated email will be sent when the stock is running low </h5>              
                </div>
            </div>
            <!-- <div>
                <p>Automated email will be sent when the stock is running low</p>
            </div> -->
          <div class="col-md-12 col-lg-12 row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">Minimum Stock Level</label>
                <input type="text" id="minimumstocklevelid" name="minimumstocklevelid" [(ngModel)]="minimumstocklevelid" class="form-control">
  
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">Alert Email</label>
                <input type="text" id="lowstockeamilid" name="lowstockeamilid" [(ngModel)]="lowstockeamilid" class="form-control">
  
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label>Enable</label>
                <input type="checkbox" checked="{{ enable }}" id="enable" class="form-control">
  
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    

  <div id="notify_2-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">New Order Email Notification
          </h2>
  
          <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body  box bg-warning text-center">
                    <h5 class="text-left text-white">Email will be set to the below email for new orders </h5>              
                </div>
            </div>
            <div class="table-responsive">

                <table id="printabletable" class="display nowrap table table-hover table-striped table-bordered"
                  cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th> Channel Name</th>
                      <th>To Email Address</th>
                      <th>Enable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let chn of allChannel">
                      <td> <img height="40" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhub{{ chn.type }}.png">  ({{ chn.name }})</td>
                      <!-- <td class="text-left">{{ chn.channelType }}</td> -->
                      <td><input type="text"></td>
                      <td><input type="checkbox"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    

  <div id="notify_3-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">New Order SMS Notification
          </h2>
  
          <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body  box bg-warning text-center">
                    <h5 class="text-left text-white">SMS will be sent to the below number for new orders</h5>              
                </div>
            </div>
            <div class="table-responsive">

                <table id="printabletable" class="display nowrap table table-hover table-striped table-bordered"
                  cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th> Channel Name</th>
                      <th>To Number</th>
                      <th>Enable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sms of allSMSnotify">
                      <td> <img height="40" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhub{{ sms.type }}.png">  ({{ sms.name }})</td>
                      <!-- <td class="text-left">{{ sms.channelType }}</td> -->
                      <td>string<br><input type="text"></td>
                      <td><input type="checkbox"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  