<div class="portlet box">

  <div class="portlet-body">
    <div class="col-md-12 col-lg-12 text-right m-b-10">
      <button type="button" *ngIf="!isEditTemplate" (click)="newTemplateObj()" class="btn btn-primary mr-1">
        <i class="fa fa-times-circle-o"></i>New Template
      </button>
      <button type="button" *ngIf="!isEditTemplate" (click)="close()" class="btn btn-danger ng-star-inserted">
        <i class="fa fa-times font-red"></i> Close </button>

      <button *ngIf="isEditTemplate" type="button" (click)="updateTemplate()" class="btn btn-primary mr-1">
        <i class="fa fa-times-circle-o"></i>Update
      </button>

    </div>

    <div class="portlet transparent" id="maintemplatelist">

      <div id="etsylistingtemplatediv1" class="table-scrollable" *ngIf="!newTemplate">
        <div class="col-md-12">
          <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
          <table class="table tableFixHead table-hover order-column v2 table-bordered">
            <thead>
              <tr>
                <th>
                  Template Name
                </th>
                <th>
                  Modified Date
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody *ngIf="templates?.length>0">
              <tr *ngFor="let item of templates">
                <td> {{item.templateName}}</td>
                <td> {{item.modifiedDate | date:short}}</td>
                <td>
                  <button class="btn btn-sm btn-success btn-circle-new" (click)="editTemplate(item)">Edit</button>
                  <button class="btn btn-sm btn-danger btn-circle-new" (click)="removeTemplate(item)">Remove</button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div id="etsylistingtemplatediv2" *ngIf="newTemplate">
        <div class="portlet-body">
          <div class="row">
            <div class="col-md-12">
              <div class="portlet transparent">
                <h4>Please enter Magento2 Listing details</h4>
                <div class="portlet-body form">
                  <form class="form-horizontal" role="form">
                    <div class="form-body">
                      <div class="col-md-6">
                        <div class="form-group has-success">
                          <label>Template Name</label>
                          <div>
                            <input type="text" [(ngModel)]="templateModel.name" name="name" class="form-control "
                              id="templatename" placeholder="Enter Template Name">
                          </div>
                        </div>

                        <div class="form-group has-success">
                          <label>Category Id</label>
                          <div>
                            <div class="input-group">
                              <input [(ngModel)]="templateModel.categoryId" name="categoryid" type="text" value=""
                                class="form-control" name="lazada_category" id="storecategoryidone"
                                placeholder="Enter Store Category Ids">
                              <span class="input-group-btn">
                                <a>
                                  <button class="btn-xs" type="button" (click)="categories()">Categories</button>
                                </a>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group has-success">
                          <label>Pricing Rule</label>
                          <div>
                            <input [(ngModel)]="templateModel.pricingRule" name="pricingrule" type="text" value=""
                              class="form-control " id="pricingRule" placeholder="Pricing Rule">
                            <div class="help-block" [innerHTML]="'<span>e.g  <strong>${cost_price!}*1.6 + 1 </strong></span><br>
                              <span>This make the selling price by multiplying cost price by 1.6 and add 1
                              Tags available are  <strong>${cost_price!} and ${selling_price!}</strong>
                              </span>'">
                            </div>
                          </div>
                        </div>
                        <div class="form-group has-success">
                          <div class="pull-right">
                            <button type="submit" (click)="saveMagento()"
                              class="btn btn-sm  btn-circle-new btn-default btn-success"><i class="fa fa-check"></i>
                              Save</button>
                            <button type="button" class="btn btn-sm  btn-circle-new btn-default btn-danger">
                              <i class="fa fa-times font-red"></i> Cancel</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">

                      </div>

                    </div>
                  </form>


                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal in" id="editattributemodal" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="alert alert-warning">
        <h4 class="modal-title">Manage Magento2 Categories</h4>
      </div>
      <div class="modal-body">
        <br>
        <div class="form-group has-success">
          <h4>Selected Category </h4><input type="text" class="form-control col-4" id="lazadacategoryid"
            value="undefined">
        </div>

        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-sm btn-circle-new btn-default btn-success"><i class="fa fa-check"></i>
          Save</button>
        <button type="button" class="btn btn-sm btn-circle-new btn-default btn-danger" data-dismiss="modal"><i
            class="fa fa-times font-red"></i> Close</button>
      </div>
    </div>
  </div>


</div>