<div class="container-fluid" *ngIf="!isEdit && !createWarehouse" style="margin-top: 2px">
    <div class="row">
        <h4 class="card-title mt-3 ml-4">Warehouses</h4>
        <a title="Description" href="https://www.sellershub.io/userguide/warehouse-management/" target="_blank" data-close-others="true" class="mt-2 mb-3 btn-sm m-l-15 btn btn-dark btn-circle text-white"><i
            class=" fas fa-info"></i> </a>
        </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="col-lg-12 col-md-12 row option-alignment">
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <h4 class="card-title">Please Manage Warehouses and Item Locations.</h4>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-12 col-md-12 ">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Description : </h5>
                      <p>This report contains a summary of all products that are low in stock. To calculate a low stock alert the available stock level must be lower than the set low stock alert level for a given SKU. If the low stock alert is empty, then all stock with quantity less than or equal to 1 will be returned.</p>
                  </div>
              </div>
          </div> -->
                    <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
                        <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment " style="padding-right: 0px;">
                            <div class="d-flex justify-content-end align-items-center">
                                <!-- <div class="form-group m-r-15"> -->
                                <!-- <label for="exampleInputuname">User Name</label> -->
                                <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="sku or product title" aria-label="Username">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="ti-search"></i></span>
                    </div>
                  </div>
                </div>
                <button type="button" data-toggle="modal" data-target="#responsive-modal"
                  class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-download"></i> Download Orders</button> -->
                                <div>
                                    <!-- <button type="button" (click)="openNewWarehouseModal()" class="btn btn-success d-lg-block m-r-15"><i
                      class=" far fa-money-bill-alt"></i> New</button> -->
                                    <button type="button" (click)="addwarehouse();auditTrack(1)" class="btn btn-warning d-lg-block m-l-15" style="margin-right: 10px;"><i class=" fas fa-plus-circle"></i> New</button>
                                </div>
                                <div>
                                    <!-- <label class="control-label">Page Size</label> -->
                                    <select (change)="getProducts()" class="form-control custom-select" [(ngModel)]="pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select>

                                </div>
                                <!-- <button type="button" data-toggle="modal" data-target="#search-modal"
                  class="btn btn-success d-lg-block m-l-15"><i class=" fas fa-search"></i> Search</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                        <table class="table table color-bordered-table success-bordered-table table-bordered">
                            <thead class="text-center">
                                <th>Warehouse<span class="fas fa-sort"></span> </th>
                                <th>Code<span class="fas fa-sort"></span> </th>
                                <th>Modified Date<span class="fas fa-sort"></span></th>
                                <th>Action<span class="fas fa-sort"></span></th>
                                <th>Email Configuration<span class="fas fa-sort"></span></th>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let prod of allProds">
                                    <td><span class="title">{{ prod.name }}</span></td>
                                    <td><span class="sku">{{ prod.code }}</span></td>
                                    <td>{{ prod.createdDate | date:'dd MMM yyyy' }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </button>
                                            <div class="dropdown-menu animated flipInX">
                                                <a (click)="editWarehouse(prod)" class="dropdown-item" href="javascript:void(0)">
                                                    <i class="fa-lg fas fa-edit"></i>Edit</a>
                                                <a (click)="removewarehouseModal(prod)" class="dropdown-item" href="javascript:void(0)">
                                                    <i class=" far fa-money-bill-alt"></i> Remove</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success " (click)="openEmailConfiguration(prod.id);auditTrack(2)" aria-haspopup="true" aria-expanded="false">
                        Email Configuration
                      </button>


                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="row col-lg-12 col-md-12">
            <div  class="col-lg-6 col-md-6 ">
              <span >Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of {{collectionsize}} entries</span>
            </div>
            <div class="col-lg-6 col-md-6 text-right">
              <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
              </ngb-pagination>
            </div>
          </div> -->

                </div>
            </div>
        </div>
    </div>
</div>

<div id="search-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Search Criteria
                </h2>

                <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-lg-12 row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <select class="form-control custom-select" aria-placeholder="filter By">
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" id="firstName" class="form-control" placeholder="John doe">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="removewarehouse-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Remove Warehouse
                </h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closewarehouseModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-lg-12 row">
                    <p>Are your sure for remove?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="removeWareHouse()" class="btn waves-effect waves-light btn-success">Ok</button>
                <button type="button" (click)="closewarehouseModal()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="editwarehouse-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Edit Warehouse
                </h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closeeditwarehouseModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-lg-12 row">
                    <p>Are your sure for edit?</p>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-success">Next</button>
                <button type="button" (click)="closeeditwarehouseModal()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="create-newwarehouse-modal" *ngIf="isEdit || createWarehouse" tabindex="-1">
    <div>
        <div>
            <div class="modal-header">
                <h2 *ngIf="!isEdit" class="modal-title">Add new warehouse</h2>
                <h2 *ngIf="isEdit" class="modal-title">Update warehouse</h2>
                <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 border border-left-0 border-bottom-0 border-top-0">

                                        <div class="col-md-12 col-lg-12 row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Warehouse Name</label>
                                                    <input type="text" [(ngModel)]="name" id="firstName" class="form-control" placeholder="Warehouse Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Warehouse Code</label>
                                                    <input type="text" [(ngModel)]="code" id="firstName" class="form-control" placeholder="Warehouse Code">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email Address</label>
                                                    <input type="text" [(ngModel)]="email" id="firstName" class="form-control" placeholder="Warehouse Email Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Contact Name</label>
                                                    <input [(ngModel)]="contactname" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Address Line1</label>
                                                    <input [(ngModel)]="addressline1" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Address Line2</label>
                                                    <input [(ngModel)]="addressline2" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12 row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Address Line3</label>
                                                    <input [(ngModel)]="addressline3" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">City</label>
                                                    <input [(ngModel)]="city" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12 row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">State</label>
                                                    <input [(ngModel)]="state" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Country</label>
                                                    <!-- <input [(ngModel)]="country" type="text" id="firstName" class="form-control" placeholder=""> -->
                                                    <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="selectedCountryvalue">
                            <option *ngFor="let list of country" value="{{list.name}}">
                              {{list.name}}
                            </option>
                          </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12 row">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">PostCode</label>
                                                    <input [(ngModel)]="postcode" type="text" id="firstName" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label">Default Warehouse</label>
                                                    <!-- <input [(ngModel)]="defaultWarehouse" type="text" id="firstName" class="form-control"
                        placeholder=""> -->
                                                    <input type="checkbox" [(ngModel)]="defaultWarehouse" id="firstName" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" *ngIf="!isEdit" (click)="saveOrUpdatewarehouse()" class="btn waves-effect waves-light btn-success">Save</button>
                                            <button type="button" *ngIf="isEdit" (click)="updateWarehouse()" class="btn waves-effect waves-light btn-success">Update</button>

                                            <!-- <button *ngIf="isEdit" type="button" data-toggle="modal" data-target="#create-assignproduct-modal"
                    (click)="assignproduct()" class="btn waves-effect waves-light btn-success"><i class=" fas fa-plus-circle"></i>
                    Assign Products To Warehouse</button> -->


                                            <button type="button" (click)="modalclosed()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="modal-header">
                                            <h2 *ngIf="!isEdit" class="modal-title">Please Manage Item Locations</h2>
                                        </div>

                                        <div class="col-md-12 col-lg-12 row">
                                            <!-- <button type="button" class="btn waves-effect waves-light btn-success">Create A New Location</button> -->

                                            <button *ngIf="isEdit" type="button" data-toggle="modal" data-target="#create-newlocation-modal" (click)="addNewLocation()" class="btn waves-effect waves-light btn-success"><i
                          class=" fas fa-plus-circle"></i> Create A New Location</button>

                                            <button *ngIf="isEdit" style="margin-left: 10px;" type="button" (click)="openUploadTab()" class="btn waves-effect waves-light btn-success">Upload
                        Location</button>
                                            <button *ngIf="isEdit"  type="button" (click)="openEmailConfiguration()" class="btn waves-effect waves-light btn-success ml-1">Email configuration
                        </button>
                                        </div>
                                        <div style="padding-top: 20px;">
                                            <div class="table-responsive">
                                                <table class="table table color-bordered-table success-bordered-table">
                                                    <thead>
                                                        <th>Id</th>
                                                        <th>Aisle-Bay-Shelf-Bin</th>
                                                        <th>MODIFIED DATE</th>
                                                        <th>ACTION</th>
                                                    </thead>
                                                    <tbody class="text-left">
                                                        <tr *ngFor="let allLocations of allwarehouseLocations">
                                                            <td>{{ allLocations.id }}</td>
                                                            <td>{{ allLocations.aisle }}-{{ allLocations.bay }}-{{ allLocations.shelf }}-{{ allLocations.bin }}</td>
                                                            <td>{{ allLocations.modifiedDate | date:'dd MMM yyyy' }}</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                  </button>
                                                                    <div class="dropdown-menu animated flipInX">
                                                                        <a class="dropdown-item" href="javascript:void(0)" (click)="editWarehouseLocation(allLocations)">
                                                                            <i title="Edit" style="cursor: pointer;" class="fa-lg fas fa-edit"></i> Edit</a>
                                                                        <a class="dropdown-item" href="javascript:void(0)" (click)="removeWarehouseLocation(allLocations)">
                                                                            <i class=" far fa-money-bill-alt" style="cursor: pointer;"></i> Remove</a>
                                                                        <a class="dropdown-item" href="javascript:void(0)" (click)="showproduct(allLocations)">
                                                                            <i class=" far fa-money-bill-alt" style="cursor: pointer;"></i> Show Products</a>

                                                                        <a class="dropdown-item" (click)="assignproduct(allLocations)">
                                                                            <i class=" far fa-money-bill-alt" style="cursor: pointer;"></i> Assign Products
                                                                        </a>


                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12  align-self-center text-right">
                                            <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





</div>


<div id="create-newlocation-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Edit Item Location
                </h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closenewLocationModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="col-md-12 col-lg-12 row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group" style="text-align: right; margin-top: 10px;">
                                            <label class="control-label">Aisla</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="text" [(ngModel)]="aisle" id="firstName" class="form-control" placeholder="Aisla">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <!-- <input type="text" [(ngModel)]="aisleList" id="firstName" class="form-control"
                        placeholder="Aisla list"> -->
                                            <select id="select-type-basic" class="form-control custom-select" (change)="aisleListChangeHandler($event)" [(ngModel)]="aisleList">
                        <option *ngFor="let list of aisleList" value="{{list}}">
                          {{list}}
                        </option>
                      </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12 row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group" style="text-align: right; margin-top: 10px">
                                            <label class="control-label">Bay</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="text" [(ngModel)]="bay" id="firstName" class="form-control" placeholder="bay">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <!-- <input type="text" [(ngModel)]="bayList" id="firstName" class="form-control"
                        placeholder="bay list"> -->
                                            <select id="select-type-basic" class="form-control custom-select" (change)="bayListChangeHandler($event)" [(ngModel)]="bayList">
                        <option value="">Please Select</option>
                        <option *ngFor="let list of bayList" value="{{list}}">
                          {{list}}
                        </option>
                      </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12 row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group" style="text-align: right; margin-top: 10px">
                                            <label class="control-label">Shelf</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="text" [(ngModel)]="shelf" id="firstName" class="form-control" placeholder="Shelf">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <!-- <input type="text" [(ngModel)]="shelfList" id="firstName" class="form-control"
                        placeholder="Shelf list"> -->
                                            <select id="select-type-basic" class="form-control custom-select" (change)="shelfListChangeHandler($event)" [(ngModel)]="shelfList">
                        <option value="">Please Select</option>
                        <option *ngFor="let list of shelfList" value="{{list}}">
                          {{list}}
                        </option>
                      </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12 row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group" style="text-align: right; margin-top: 10px">
                                            <label class="control-label">Bin</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="text" [(ngModel)]="bin" id="firstName" class="form-control" placeholder="Bin">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <!-- <input type="text" [(ngModel)]="binList" id="firstName" class="form-control"
                        placeholder="Bin list"> -->
                                            <select id="select-type-basic" class="form-control custom-select" (change)="binListChangeHandler($event)" [(ngModel)]="binList">
                        <option value="">Please Select</option>
                        <option *ngFor="let list of binList" value="{{list}}">
                          {{list}}
                        </option>
                      </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12 row">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group" style="text-align: right; margin-top: 10px">
                                            <label class="control-label">Default Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <input type="checkbox" [(ngModel)]="defaultLocation" id="firstName" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="saveOrUpdatewarehouseLocation()" class="btn waves-effect waves-light btn-success">Save</button>
                    <button type="button" (click)="closenewLocationModal()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="email-config-modal" data-backdrop="static" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Email Configuration
                </h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closeEmailConfigModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <ng-container *ngIf="emailConfigModel">
              <app-email-config [channelId]="emailConfigWarehouse" [type]="'WAREHOUSE'"></app-email-config>
            </ng-container>
            </div>


        </div>
    </div>
</div>
<div id="create-assignproduct-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Assign Warehouse Item Location
                </h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closeassignproductModal()" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">
                <div class="col-md-12 col-lg-12 row">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Product SKU</label>
                            <!-- <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="selectedProductvalue">
                <option *ngFor="let list of productDetails" value="{{list.title}}---{{list.id}}---{{list.qty}}">
                  {{list.sku}}
                </option>
              </select> -->
                            <ng-multiselect-dropdown (onSelect)="onItemSelect($event)" [settings]="dropdownSettings_channel" [placeholder]="'Select SKU'" id="channel" name="channel" [data]="productDetails" ngDefaultControl [(ngModel)]="selectedSKU">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <button type="button" (click)="ok()" class="btn waves-effect waves-light btn-success">Ok</button>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="table-responsive">

                    <table id="productstable" class="display nowrap table table-hover table-striped table-bordered"
                      cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>S</th>
                          <th>Image</th>
                          <th>Title</th>
                          <th>SKU</th>
                          <th>Available Qty</th>
                          <th>Selling Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let orders of AllProducts">
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input (click)="individualProdselection(orders)" [checked]="orders.selected" type="checkbox"
                                [id]="orders.sku" [value]="orders.selected" [name]="test" class="custom-control-input checkallP">
                              <label class="custom-control-label" for="{{orders.sku}}"></label>
                            </div>
                          </td>
                          <td><img [src]="orders.imageUrl" class="img-responsive3 img-responsive" /></td>
                          <td>{{orders.title}}</td>
                          <td>{{orders.sku}}</td>
                          <td>{{orders.qty}}</td>
                          <td>{{orders.sellingPrice}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-12 col-md-12  align-self-center text-right">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pagesize" [(page)]="Page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange(page);">
                    </ngb-pagination>
                </div> -->
                <div class="col-md-12 col-lg-12 row" *ngIf="selectedSKU.length>0">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Quantity</label>
                            <input type="text" [(ngModel)]="qty" id="firstName" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="control-label" [value]="title" disabled />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" (click)="save()" *ngIf="selectedSKU.length>0" class="btn waves-effect waves-light btn-success">Save</button>
                <button type="button" (click)="closeassignproductModal()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="SHOW-assignproduct-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Assign Warehouse Item Location
                </h3>
                <button type="button" class="close" data-dismiss="modal" (click)="closeShowproductModal()" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" (click)="save()" *ngIf="isskuSelected" class="btn waves-effect waves-light btn-success">Save</button>
                <button type="button" (click)="closeassignproductModal()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg in" id="SHOW-assigndproduct" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Products Stored in this Location</h4>
            </div>
            <div class="modal-body">

                <div class="">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>
                                    Image
                                </th>
                                <th>
                                    SKU
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Remaining Quantity
                                </th>
                                <!-- <th>
                              Action
                          </th> -->

                            </tr>
                        </thead>

                        <tbody *ngIf="assignedProds && assignedProds.locations">

                            <tr *ngFor="let loc of assignedProds.locations">
                                <td>
                                    <img style="width:50px" src="{{loc.image}}">

                                </td>
                                <td>
                                    <a href="/inventory/editproductbysku?sku={{loc.sku}}">{{loc.sku}}</a>
                                </td>
                                <td>
                                    {{loc.title}}
                                </td>
                                <td>
                                    <span class="badge badge-success"> {{loc.qty}}</span>
                                </td>

                                <!-- <td>
                                  <a href="javascript:void(0)" class="btn btn-sm btn-default btn-circle" (click)="removeitemlocationfromlocation(loc)"><i class="fa fa-times font-red"></i> Close Remove</a>
                              </td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="closenewLocationModal()" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>


