<app-opencart  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==1"></app-opencart>
<app-magento-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==2"></app-magento-inte>
<app-pretashop-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==3">
</app-pretashop-inte>
<app-shopify-inti [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==4">
</app-shopify-inti>
<app-bigcommerce [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==5"></app-bigcommerce>

<app-woocommerce-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==6">
</app-woocommerce-inte>

<app-volusion [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==7"></app-volusion>
<app-ekmpowershop [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==8"></app-ekmpowershop>
<app-bluepark [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==9"></app-bluepark>

<app-xcart [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==10"></app-xcart>
<app-magento2-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==11">
</app-magento2-inte>

<app-shop-wired [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==12"></app-shop-wired>





