

<div  class="container-fluid" style="margin-top: 2px;">
    <div  class="col-md-12 col-lg-12 text-center m-t-10">
        <img  src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubjet.png" alt="user" class="img-responsive img-fixed img-fluid"></div>
        <div  class="card-body p-b-0">
            <ul  role="tablist" class="nav nav-tabs customtab2">
                <li  class="nav-item">
                <a  data-toggle="tab" (click)="listing = false" role="tab" aria-selected="false" class="nav-link active">
                    <span  class="hidden-sm-up"><i  class="ti-home"></i></span>
                    <span  class="hidden-xs-down"> Integration</span></a></li>
                    <li  class="nav-item"><a  data-toggle="tab" (click)="listing = true" role="tab" aria-selected="true" class="nav-link">
                        <span  class="hidden-sm-up"><i  class="ti-user"></i></span>
                        <span  class="hidden-xs-down"> Listing Templates</span></a></li>
            </ul>
            <div  class="tab-content">
                <div class="active in" id="tab_1_1" *ngIf="!listing">


                    <div class="portlet light">
                        <div class="row">
                           
                            <div class="col-md-12">
                            <div class="pull-right">
                                <button  class="btn btn-success btn-sm  btn-circle-new sides"><i class="fa fa-check"></i> Activate Jet API</button>
                                <a class="btn btn-sm btn-success  btn-circle-new sides"><i class="fa fa-check"></i> Save</a>
                                <a href="javascript:void(0)" type="button"  class="btn btn-sm btn-default btn-success sides  btn-circle-new"><i class="fa fa-times font-red"></i> Remove All listings from Sellershub</a>
                                <a href="/settings/listchanelsettings" class="btn btn-sm btn-default  btn-circle-new btn-danger"><i class="fa fa-times font-red"></i> Close</a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form card-body">
                            


                        <div class="row">


                        <div class="col-md-12">


                        <form class="" role="form">

                        <div class="form-body">


                        <div class="form-group has-success">
                            <label class="" >Channel Name</label><br>
                                <input type="text" value="Jet.com Account" id="name" class="form-control " placeholder="Name to remember within KartzHub">
                        </div>

                        <div class="form-group has-success">
                            <label class="control-label">API User</label><br>
                                <input type="text" value="" id="apiusername" class="form-control " placeholder="Jet.com API User">
                        </div>


                        <div class="form-group has-success">
                            <label class="control-label">API Secret</label><br>
                                <input type="text" value="" id="apipassword" class="form-control ">
                        
                        </div>

                        <div class="form-group has-success">
                            <label class=" control-label">API Merchant Id</label><br>
                                <input type="text" value="" id="merchantIdentifier" class="form-control ">
                        </div>

                        <div class="form-group has-success">
                            <label class=" control-label">Fulfilment Centre Id </label><br>
                                <input type="text" value="" id="awsAccessKey" class="form-control ">
                        </div>

                        <div class="has-success">
                                <input type="checkbox"  value="true" id="downloadamazonorderid" >
                                <label class="control-label">Download the orders into Sellershub</label>
                        </div>

                        <div class=" has-success">
                                <input type="checkbox"  value="true" id="downloadamazoncatalogid" >
                                <label class=" control-label">Download the catalog into Sellershub</label>

                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group has-success">
                              <label class="control-label">Max Listed</label>
                              <input type="text"  name="username" class="form-control" placeholder="Max Listed">
                              
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group has-success">
                              <label class="control-label">Stock Percentage</label>
                              <input type="text"  name="username" class="form-control" placeholder="Stock Percentage">
                              
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group has-success">
                              <label class="control-label">End When</label>
                              <input type="text"  name="username" class="form-control" placeholder="End When">
                              
                            </div>
                          </div> -->





                        </div>

                        </form>
                        </div>

                        </div>


                        </div>
                    </div>
                <div  id="tab_1_2" role="tabpanel" class=" p-20"  *ngIf="listing">

                    <div class="portlet light" id="maintemplatelist">


                        <div class="tools">
                            <button (click)="newTemplate = true" class="btn btn-success btn-default btn-sm  btn-circle-new pull-right" >New Listing Template <i class="fa fa-angle-right"></i></button>
                
                        </div>
                
                    <div class="portlet-body">
                
                <div id="etsylistingtemplatediv1" class="table-scrollable" *ngIf="!newTemplate">
                
                
                <table class="table tableFixHead table-hover order-column v2">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Action
                    </th>
                
                </tr>
                </thead>
                <tbody>
                
                
                
                </tbody>
                
                </table>
                
                </div>
                
                <div id="etsylistingtemplatediv2"  *ngIf="newTemplate">
                
                <div class="alert alert-warning">Please enter Jet.com Listing Profile details</div>
                
                <div class="portlet-body form">
                
                    <form class="" role="form">
                
                        <div class="row form-body card-body">
                
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class=" control-label">Template Name</label>
                                    <input type="text" value="" class="form-control" id="jettemplatename" placeholder="Enter Template Name">
                            </div>
                         </div>
                
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        
                            <div class="form-group has-success">
                                <label class=" control-label">Pricing Rule</label>
                                    <input type="text" value="" class="form-control" id="pricingRule" placeholder="Pricing Rule">
                
                                    <div class="well" [innerHtml]="' <p>e.g  <strong>${cost_price!}*1.6 + 1 </strong></p><p>
                                    </p><p>
                                        This make the selling price by multiplying cost price by 1.6 and add 1
                                        Tags available are  <strong>${cost_price!} and ${selling_price!}</strong>
                                    </p>'">
                                        <!-- -->
                                    </div>
                
                            </div>
                        </div>	
                
                
                        </div>
                
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a  type="submit" class="btn  btn-circle-new btn-success btn-sm"><i class="fa fa-check"></i> Save</a>
                                    <a  type="button" class="btn btn-sm  btn-circle-new btn-default btn-danger"><i class="fa fa-times"></i> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                
                
                </div>
                
                
                        </div>
                
                    </div>
                </div>

            </div>

            </div>
   </div>         
         