<div class="container-fluid" style="margin-top: 2px">
    <div class="col-md-12 col-lg-12 text-center  m-t-10">
      <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubamazon.png" alt="user" class="img-responsive img-fixed img-fluid">
    </div>  
    <div class="card-body p-b-0">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs customtab2" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home7" role="tab" aria-selected="false"><span
              class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down"> Integration</span></a>
        </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile7" role="tab"
            aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
              class="hidden-xs-down"> Listing Templates</span></a> </li>
              <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#inte" role="tab"
                aria-selected="false"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span
                  class="hidden-xs-down"> Email Templates</span></a> </li> -->
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home7" role="tabpanel">
          <div class="p-20">
            <div class="col-md-12 col-lg-12 col-sm-12  m-t-10">
              <div class="col-md-12 col-lg-12 bg-primary text-white p-10">
                <h4>Please note that only Amazon Seller Central users can use this service to list products in to Amazon. You can
                  get more information from following Seller Central Urls.</h4>
              </div>
              <!-- <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 ">
                      <p> <a target="_blank" href="https://developer.amazonservices.com/"><img
                            src="https://s3-us-west-1.amazonaws.com/khubweb/web/US.png"> Amazon US Seller Central</a></p>
                      <p> <a target="_blank" href="https://developer.amazonservices.co.uk"><img
                            src="https://s3-us-west-1.amazonaws.com/khubweb/web/UK.png"> Amazon UK Seller Central</a></p>
                      <p><a target="_blank" href="https://developer.amazonservices.ca"> <img
                            src="https://s3-us-west-1.amazonaws.com/khubweb/web/CA.png"> Amazon Canada Seller Central</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4 ">
                      <p> <a target="_blank" href="https://developer.amazonservices.de/"><img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/DE.png"> Amazon Germany Seller Central</a></p>
                      <p><a target="_blank" href="https://developer.amazonservices.fr/"><img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/FR.png"> Amazon France Seller Central</a></p>
                      <p><a target="_blank" href="https://developer.amazonservices.it/"><img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/IT.png"> Amazon Italy Seller Central</a></p>
                      <p><a target="_blank" href="https://developer.amazonservices.es/"><img
                        src="https://s3-us-west-1.amazonaws.com/khubweb/web/ES.png"> Amazon Spain Seller Central</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4 ">
                      <p> <a class="external_link" target="_blank" href="https://developer.amazonservices.in"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/IN.png"> Amazon India</a> </p>
                      <p> <a class="external_link" target="_blank" href="https://sellercentral-japan.amazon.com/gp/homepage.html"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/JP.png"> Amazon Japan Seller Central</a> </p>
                      <p> <a class="external_link" target="_blank" href="https://sellercentral.amazon.com.mx/gp/homepage.html"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/MX.png"> Amazon Mexico Seller Central</a> </p>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-md-12 col-lg-12 text-right">
                <button *ngIf="isNewIntegration" (click)="saveAmazonData()" type="submit" class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Save</button>
                <button *ngIf="!isNewIntegration" (click)="updateAmazonData()" type="submit" class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Update</button>
                <button *ngIf="!isNewIntegration" (click)="testConnection()" type="submit" class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Test Connection</button>
                <button *ngIf="!isNewIntegration" (click)="testConnection()" type="submit" class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Test FBA Connection</button>
                <button *ngIf="!isNewIntegration" (click)="downloadOrders()" type="submit" class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Catalog</button>
                <button *ngIf="!isNewIntegration" (click)="deleteAmazonAccount()" type="submit" class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Remove</button>
                <button *ngIf="!isNewIntegration" type="button" class="btn btn-danger">Close</button>
              </div>
              <div class="col-md-12 col-lg-12 row m-t-20 ">
                <div class="col-md-6 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="form-body">
          
                        <div class="row p-t-20">
                          <div class="col-md-12">
                            <div class="form-group  has-success">
                              <label class="control-label">Account Name  <span style="color:red">*</span></label>
                              <input type="text" name="firstName" class="form-control" placeholder="" [(ngModel)]="accountName">
                            </div>
                          </div>
                          <!--/span-->
                          <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">Amazon Site  <span style="color:red">*</span></label>
                              <select name="amazonSite" class="form-control custom-select" [(ngModel)]="amazonSite">
                                <option disabled value="">--Select Site--</option>
                                <option value="{{country.country_code}}" *ngFor="let country of countriesWithAmazon">{{country.name}}</option>
                                <!-- <option value="BR">Brazil</option>
                                <option value="CA">Canada</option>
                                <option value="CN">China</option>
                                <option value="DE">Germany</option>
                                <option value="ES">Spain</option>
                                <option value="FR">France</option>
                                <option value="IN">India</option>
                                <option value="IT">Italy</option>
                                <option value="JP">Japan</option>
                                <option value="MX">Mexico</option>
                                <option value="UK">United Kingdom</option>
                                <option value="US">United States</option> -->
                              </select>
                            </div>
                          </div>
                          <!-- <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">Seller Id  <span style="color:red">*</span></label>
                              <input name="sellerId" type="text" id="sellerId" class="form-control" placeholder="" [(ngModel)]="sellerId">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">Marketplace ID  <span style="color:red">*</span></label>
                              <input name="marketPlaceID" type="text" id="marketPlaceID" class="form-control" placeholder="" [(ngModel)]="marketPlaceID">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">Sellershub Developer ID  <span style="color:red">*</span></label>
                              <input  name="kdevid"  type="text" id="kdevid" class="form-control" placeholder="" [(ngModel)]="kdevid">
                            </div>
                          </div> -->
                          <!--/span-->
                          <!-- <div class="col-md-12">
                            <div class="form-group  has-success">
                              <label class="control-label">AWS Secret Key/MWS Authorisation Token  <span style="color:red">*</span></label>
                              <input type="text" id="authtocken" class="form-control" placeholder="" [(ngModel)]="authtocken">
                            </div>
                          </div> -->
                          <!-- <div class="col-md-12">
                            <div class="form-group  has-success">
                              <label class="control-label">Affiliate Associate Tag  <span style="color:red">*</span></label>
                              <input name="assosiatetag" type="text" id="assosiatetag" class="form-control" placeholder="" [(ngModel)]="assosiatetag">
                            </div>
                          </div> -->
          
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="custom-control custom-checkbox m-b-0">
                                <input id="catLogIsChecked" (click)="catlogChanged('a')" [value]="catLogIsChecked"  [checked]="catLogIsChecked" type="checkbox" class="custom-control-input">
                                <span for="catLogIsChecked" class="custom-control-label">Download Amazon catalog into Sellershub</span>
                              </label>
                            </div>
                            <div class="form-group">
                              <label class="custom-control custom-checkbox m-b-0">
                                <input  id="ordersIsChecked" (click)="catlogChanged('b')" [value]="ordersIsChecked"  [checked]="ordersIsChecked" type="checkbox" class="custom-control-input">
                                <span for="ordersIsChecked" class="custom-control-label">Download Amazon Orders into Sellershub</span>
                              </label>
                            </div>
                            <div class="form-group">
                              <label class="custom-control custom-checkbox m-b-0">
                                <input  id="stockRepairChecked" (click)="catlogChanged('c')" [value]="stockRepairChecked"  [checked]="stockRepairChecked"  type="checkbox" class="custom-control-input">
                                <span for="stockRepairChecked" class="custom-control-label">Enable Amazon Stockrepricer</span>
                              </label>
                            </div>
                            <div class="form-group">
                              <label class="custom-control custom-checkbox m-b-0">
                                <input  id="fbaItemsChecked" (click)="catlogChanged('d')" [value]="fbaItemsChecked"  [checked]="fbaItemsChecked"  type="checkbox" class="custom-control-input">
                                <span for="fbaItemsChecked" class="custom-control-label">Download FBA Items into Sellershub.</span>
                              </label>
                            </div>
                          </div>
                          <!-- <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">Max Listed</label>
                              <input type="text"  name="username" class="form-control" placeholder="Max Listed">
                              
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">Stock Percentage</label>
                              <input type="text"  name="username" class="form-control" placeholder="Stock Percentage">
                              
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group has-success">
                              <label class="control-label">End When</label>
                              <input type="text"  name="username" class="form-control" placeholder="End When">
                              
                            </div>
                          </div> -->
                          <!--/span-->
                          <!-- <div class="col-md-12">
                            <div class="form-group  has-success">
                               <label>Amazon Member Since</label>
                             <app-app-date-picker (selectedDate)="memberSince($event)" lable="Amazon Member Since"></app-app-date-picker>
                            </div>
                          </div> -->
                          <!--/span-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6 col-lg-6">
                  <div class="card">
                    <div class="card-header bg-primary">
                      <h4 class="m-b-0 text-white">Please follow the below steps to connect your Amazon account with Sellershub :</h4></div>
                    <div class="card-body">
                      <ul>
                        <li> Login to Amazon MWS site from the above links.</li>
                        <li> Click sign-up to MWS and log in using your Amazon seller account.</li>
                        <li>On the MWS registration page</li>
                        <li> For Amazon US/Canada/Mexico and Europe , please click the button 'I want to use an application to
                          access my Amazon seller account with MWS'. Please use <b> Sellershub</b> for the Application Name and
                          following
                          Sellershub Amazon developer account.<br>
                          <p>
                            <b>US/Canada/Mexico </b>- 4304-1000-8493<br>
                            <b>Europe </b>- 1215-1069-3280.<br>
                            <b>India </b>- 1800-9274-1682.<br>
                            <b>Japan </b>- 3761-2855-7031.
                          </p>
                        </li>
                        <li> For other Amazon sites, please select , 'I want to access my own account option' (First Option).</li>
                        <li> Accept the Amazon MWS License Agreement and click the Next button.</li>
                        <li>Last page will show you the Seller ID, Marketplace Id, Access Key and Secrete Key/MWS Authorization
                          Token.</li>
                        <li> Copy these values into your Sellershub Amazon Integration form</li>
                        <li> Register to affiliate program to obtain associate tag, copy it to Sellershub associate tag field</li>
                      </ul>
                    </div>
                  </div>
                </div>
           -->
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane p-20" id="profile7" role="tabpanel">
          <app-amazon-listing-template></app-amazon-listing-template>
        </div>
        <!-- <div class="tab-pane p-20" id="inte" role="tabpanel">
          <app-template (selectedChannlesForsave)="selectedChannlesForsave($event)" [apiData]="apiData"></app-template>
        </div> -->
      </div>
    </div>
  </div>
  