.hover{
    cursor: pointer;
    color: #ae73da;
    overflow: hidden !important;
    // width:150px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
  }