<div class="container-fluid" style="margin-top: 2px">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
              style="padding-right: 0px;">
              <div class="d-flex justify-content-end align-items-center">
                <!-- <div class=" row">
                  <select class="col-sm-6 form-control custom-select" [(ngModel)]="searchname" id="searchname">
                    <option value="0">Search by</option>
																<option value="4">Order No</option>
																<option value="5">Supplier Email</option>
                  </select>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="text" [(ngModel)]="searchvalue" class="form-control" id="pass3"
                        placeholder="Enter Search Value">
                        <div class="input-group-append" (click)="getOrders()"><span class="input-group-text"><i class="ti-search"></i></span>
                        </div>
                    </div>
                  </div>
                </div> -->

               <!-- <div class="m-r-15">
                  <div class="input-group">
                    <div style="min-width:250px">
                    <input type="text" [(ngModel)]="searchvalue" class="form-control" placeholder="PO ID" aria-label="">
                    <ng-multiselect-dropdown (onSelect)="onSuplSelect($event)" [settings]="supldropdownSettings"
                    [placeholder]="'Select Supplier'" id="filter" name="filter" [data]="allSupl"
                    ngDefaultControl [(ngModel)]="searchvalue">
                  </ng-multiselect-dropdown>
                </div>
                    <div class="input-group-append">
                      <span class="input-group-text"><i (click)="getOrders()" class="ti-search"></i></span>
                    </div>
                  </div>
                </div> -->
                
                <div class="m-r-15 m-l-15">
                  <button (click)="createPO();auditTrack(1)" type="button" class="btn btn-success d-lg-block m-l-15"><i
                      class="fas fa-plus-circle"></i>
                    Create Purchase Order</button>
                </div>
                <div class="m-r-15">
                  <div style="min-width:250px">
                    <ng-multiselect-dropdown (onSelect)="onItemSelect($event)" [settings]="dropdownSettings"
                      [placeholder]="'Select Filter Type'" id="filter" name="filter" [data]="allFilters"
                      ngDefaultControl [(ngModel)]="selectedFilter">
                    </ng-multiselect-dropdown>
                  </div>
                </div>

                <div class="m-r-5 m-l-5">
                  <button (click)="reset()" type="button" class="btn btn-warning d-lg-block m-l-15"><i
                    class="fa fa-plus-circle"></i> Reset</button>

                </div>
                <div>
                  <select class="form-control custom-select" [(ngModel)]="pageSize" (change)="changePageSize()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
          <div class="table-responsive">
            <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
            <table class="table table color-bordered-table success-bordered-table  table-bordered">
              <thead class="text-center">
                <!-- <th>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="checkall" name="checkall" class="custom-control-input checkallP">
                          <label class="custom-control-label" for="checkall"></label>
                        </div>
                      </th> -->
                <th>Order No </th>
                <th>Supplier Email </th>
                <th>Order Status</th>
                <th>Order Placed Date</th>
                <th>Stock Expected On</th>
                <th>Amount</th>
                <th>Action</th>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let pr of allPurchaseOrders">
                  <td>{{pr.poId}}</td>
                  <td>{{pr.supplierEmailId}}</td>
                  <td>{{pr.orderStatus}}</td>
                  <td>{{pr.createdDate | date:'dd MMM yyyy'}}</td>
                  <td>{{pr.expectedReceiveDate | date:'dd MMM yyyy'}}</td>
                  <td>{{pr.totalOrderPrice?.toFixed(2)}}</td>
                  <td class="row ml-3">
                    <button (click)="editPO(pr);auditTrack(2)" title="Edit" type="button" class="btn btn-info btn-sm d-md-block mr-1"><i class="far fa-edit"></i> </button>
                    <button (click)="deletePo(pr);auditTrack(3)" type="button" title="Remove" class="btn btn-warning btn-sm d-md-block"><i class="fa fa-times"></i> </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6 ">
              <span>Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of {{collectionsize}}
                  entries</span>
            </div>
            <div class="col-lg-6 col-md-6 text-right">
              <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
              </ngb-pagination>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="search-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Search Criteria
        </h2>

        <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <select class="form-control custom-select" aria-placeholder="filter By">
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


