<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
              <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                style="padding-right: 0px;">
                <div class="d-flex justify-content-end align-items-center">
                  <div class=" row">
                    <select class="col-sm-6 form-control custom-select" [(ngModel)]="searchName" id="searchName">
                      <option value="0">Search by</option>
                          <option value="1">SKU</option>
                          <option value="2">Channel</option>
                          <option value="3">Title</option>
                    </select>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input type="text" [(ngModel)]="searchValue" class="form-control" id="pass3" placeholder="Enter Search Value">
                        <div class="input-group-append" (click)="getProducts()"><span class="input-group-text"><i class="ti-search"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="m-r-15">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="sku or product title" aria-label="Username">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="ti-search"></i></span>
                      </div>
                    </div>
                  </div>
                  <button type="button" data-toggle="modal" data-target="#responsive-modal"
                    class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-download"></i> Download Orders</button> -->
                    <div class="m-r-5 m-l-5">
                      <button (click)="reset()" type="button" class="btn btn-warning d-lg-block m-l-15"><i
                        class="fa fa-plus-circle"></i> Reset</button>

                    </div>
                  <div>
                    <!-- <label class="control-label">Page Size</label> -->
                    <select (change)="getProducts()" class="form-control custom-select" [(ngModel)]="pageSize">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                    <!-- <small class="form-control-feedback"> Select your gender </small> -->
                  </div>
                  <!-- <button type="button" data-toggle="modal" data-target="#search-modal"
                    class="btn btn-success d-lg-block m-l-15"><i class=" fas fa-search"></i> Filter</button> -->
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table color-bordered-table success-bordered-table">
                <thead>
                  <!-- <th>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="checkall" name="checkall" class="custom-control-input checkallP">
                      <label class="custom-control-label" for="checkall"></label>
                    </div>
                  </th> -->
                  <th>SHIPMENT ID<span class="fas fa-sort"></span> </th>
                  <th>NAME<span class="fas fa-sort"></span> </th>
                  <th>FROM ADDRESS<span class="fas fa-sort"></span></th>
                  <th>DESTINATION FULFILLMENT CENTER<span class="fas fa-sort"></span></th>
                  <th>STATUS<span class="fas fa-sort"></span></th>
                  <th>LABEL PREPTYPE<span class="fas fa-sort"></span></th>
                  <th>ACTION<span class="fas fa-sort"></span></th>
                </thead>
                <tbody class="text-left">
                  <tr *ngFor="let prod of allProducts">
                    <!-- <td>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkallP">
                        <label class="custom-control-label"></label>
                      </div>
                    </td> -->
                    <td>{{ prod.shipmentId }}</td>
                    <td>{{ prod.shipmentName }}</td>
                    <td>{{ prod.shipmentFromAddress }}</td>
                    <td>{{ prod.destinationFulfilmentcenter }}</td>
                    <td>{{ prod.status }}</td>
                    <td>{{ prod.labelPrepType }}</td>
                    <!-- <td>{{ prod.sku }}</td> -->
                    <td>
                      <!-- <button type="button" class="btn btn-success d-lg-block m-l-15">Action</button> -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu animated flipInX">
                          <a (click)="openProductsModal(prod)" class="dropdown-item" href="javascript:void(0)">
                            <i class=" far fa-money-bill-alt"></i> Show Products</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row col-lg-12 col-md-12">
              <div  class="col-lg-6 col-md-6 ">
                <span >Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of {{collectionsize}} entries</span>
              </div>
              <div class="col-lg-6 col-md-6 text-right">
                <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3"
                  [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                </ngb-pagination>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="search-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Search Criteria
          </h2>

          <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div class="col-md-12 col-lg-12 row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <select class="form-control custom-select" aria-placeholder="filter By">
                  <option value="">Male</option>
                  <option value="">Female</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="John doe">

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="showProducts-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">FBA Items for Shipment {{shipmentId}}
        </h3>
        <button type="button" class="close" data-dismiss="modal" (click)="closeProductsModal()"
          aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-lg-12 row">
          <div class="table-responsive">
            <table class="table table color-bordered-table success-bordered-table">
              <thead>
                <th>SKU</th>
                <th>Fulfillment Network SKU</th>
                <th>Quantity InCase</th>
                <th>Quantity Received</th>
                <th>Quantity Shipped</th>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let sprod of allSelectedProducts">
                  <td>{{ sprod.sellerSKU }}</td>
                  <td>{{ sprod.fulfillmentNetworkSKU }}</td>
                  <td>{{ sprod.quantityInCase }}</td>
                  <td>{{ sprod.quantityReceived }}</td>
                  <td>{{ sprod.quantityShipped }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <!-- <div class="modal-footer">
        <button type="button" (click)="onNext($event)" class="btn waves-effect waves-light btn-success">Next</button>
        <button type="button" (click)="closeBulkReviseModal()" class="btn btn-danger waves-effect"
          data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

  <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
