<div class=" showoptions col-md-12 col-lg-12">
    <div class="hide text-right">
        <button (click)="openmodal()" type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm mr-1" title="Hide & Show" data-toggle="collapse" data-target="#demo"><i style="color:rgb(18, 180, 126) !important" class="far fa-sun"></i></button>
        <button type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm mr-1" title="Hide & Show" data-toggle="collapse" data-target="#demo"><i style="color:rgb(60, 121, 212) !important" class=" fas fa-long-arrow-alt-up"></i></button>
        <button type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm mr-1" title="Hide & Show" data-toggle="collapse" data-target="#demo"><i style="color:rgb(60, 121, 212) !important" class=" fas fa-long-arrow-alt-down"></i></button>
        <button (click)="delete()" type="button" class="btn btn-icon btn-outline-secondary btn-outline-secondary btn-sm" title="Delete"><i class="fa fa-trash" style="color:red !important " ></i></button>
    </div>
    <div class="form-group">
        <label for="desc" class="control-label lable-weight">{{obj.lable}} : </label>
        <textarea rows="7" [(ngModel)]="obj.value" class="form-control" id="desc" required></textarea>
    </div>
</div>
<div id="modal-{{obj.id}}" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myLargeModalLabel" style="padding-left: 38%;color: rgb(255 165 0);font-weight: 600">Text Area Settings</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label lable-weight">Position :</label>
                    <select (change)="changePosition($event)" name="position" class="form-control custom-select" id="position">
                        <option value="0">Please Select Position </option>
                        <option value="text-left">Left </option>
                        <option value="text-right">Right </option>
                        <option value="text-center">Center</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label lable-weight">Background Color :</label>
                    <select (change)="changeBackground($event)" name="position" class="form-control custom-select" id="position">
                        <option value="0">Please Select Background Color </option>
                        <option value="red">Red </option>
                        <option value="green">Green </option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                        <option value="grey">Grey</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label lable-weight">Color :</label>
                    <select (change)="changeColor($event)" name="position" class="form-control custom-select" id="position">
                        <option value="0">Please Select Color </option>
                        <option value="red">Red </option>
                        <option value="green">Green </option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                        <option value="grey">Grey</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label lable-weight">Font Size :</label>
                    <select (change)="changeFontSize($event)" name="position" class="form-control custom-select" id="position">
                        <option value="0">Please Select Font Size </option>
                        <option value="10">10 </option>
                        <option value="12">12 </option>
                        <option value="14">14 </option>
                        <option value="16">16</option>
                        <option value="18">18 </option>
                        <option value="20">20 </option>
                        <option value="25">25 </option>
                        <option value="30">30 </option>
                        <option value="40">40 </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label lable-weight">Font Weight :</label>
                    <select (change)="changeWeight($event)" name="position" class="form-control custom-select" id="position">
                        <option value="0">Please Select Weight </option>
                        <option value="100">100 </option>
                        <option value="300">300 </option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-success" (click)="updateImagesettings()">Save</button>
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal" (click)="modalclosed()">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>