<div class="container-fluid" style="margin-top: 2px">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 col-md-12 row option-alignment">
            <div class="col-lg-6 col-sm-12 col-md-6">
              <h4 class="card-title">Transfers</h4>
            </div>
          </div>
          <!-- <div class="col-lg-12 col-md-12 ">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">descrption : </h5>
                      <p>This report contains a summary of all products that are low in stock. To calculate a low stock alert the available stock level must be lower than the set low stock alert level for a given SKU. If the low stock alert is empty, then all stock with quantity less than or equal to 1 will be returned.</p>
                  </div>
              </div>
          </div> -->
          <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
              style="padding-right: 0px;">
              <div class="d-flex justify-content-end align-items-center">
                <div class="m-l-15 m-r-15">
                  <button title="New Transfer" (click)="openModal();" type="button" class="btn btn-primary"><i
                      class="fa fa-plus"></i> New
                    Transfer</button>
                </div>
                <!-- <div class="form-group m-r-15"> -->
                <!-- <label for="exampleInputuname">User Name</label> -->
                <!-- <div class="input-group">
                      <input type="text" class="form-control" placeholder="sku or product title" aria-label="Username">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="ti-search"></i></span>
                      </div>
                    </div>
                  </div>
                  <button type="button" data-toggle="modal" data-target="#responsive-modal"
                    class="btn btn-success d-lg-block m-r-15"><i class=" fas fa-download"></i> Download Orders</button> -->
                <div>
                  <!-- <label class="control-label">Page Size</label> -->
                  <select (change)="getProducts()" class="form-control custom-select" [(ngModel)]="pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select>
                  <!-- <small class="form-control-feedback"> Select your gender </small> -->
                </div>
                <!-- <button type="button" data-toggle="modal" data-target="#search-modal"
                    class="btn btn-success d-lg-block m-l-15"><i class=" fas fa-search"></i> Search</button> -->
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
            <table class="table table color-bordered-table success-bordered-table table-bordered">
              <thead class="text-center">
                <th>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="checkall" [checked]="isAllChecked" name="checkall"
                    (click)="selectall($event)"  class="custom-control-input checkallP">
                    <label  class="custom-control-label"
                        for="checkall"></label>
                </div>
                </th>
                <th>IMAGE<span ></span> </th>
                <th>SKU<span ></span> </th>
                <!-- <th>MODIFIED DATE<span ></span></th> -->
                <th>TITLE<span ></span></th>
                <th>SOURCE<span ></span></th>
                <th>DESTINATION<span ></span></th>
                <th>QUANTITY<span ></span></th>
                <th>INITIATED ON<span ></span></th>
                <th>STATUS<span ></span></th>
                <th>ACTION<span ></span></th>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let prod of allProds">
                  <!-- <td><img [src]="prod.image" class="img-responsive"></td> -->
                  <td>
                    <div class="custom-control custom-checkbox">
                        <input (click)="individualselection(prod)" [checked]="prod.selected"
                            type="checkbox" [id]="prod.id" [value]="prod.selected" [name]="test"
                            class="custom-control-input checkallP">
                        <label class="custom-control-label" for="{{prod.id}}"></label>
                    </div>
                </td>
                  <td><img [src]="prod.imageUrl" class="img-responsive" style="max-width: 100%;height: 75px;"></td>
                  <td><span class="sku">{{ prod.sku }}</span></td>
                  <td><span class="title">{{ prod.title }}</span></td>
                  <td><span class="title">{{ prod.srcwarehousename }}</span> <br>
                    <span class="title">{{ prod.srclocation }}</span>
                  </td>
                  <td><span class="title">{{ prod.dstwarehousename }}</span>
                    <br>
                    <span class="title">{{ prod.dstlocation }}</span>
                  </td>
                  <td>{{ prod.transferQuantity }}</td>
                  <td>{{ prod.inititateDate | date:'dd MMM yyyy' }}</td>
                  <!-- <td>{{ prod.modifiedDate }}</td>  -->
                  <td>{{ prod.status }} {{ prod.completedDate | date:'dd/MM/yyyy' }}</td>
                  <td><button type="button" class="btn btn-sm btn-success" *ngIf="prod.status == 'NEW' || prod.status == 'IN PROGRESS'" (click)="onMarkComplete(prod);"> <i class="fa fa-edit"></i> Mark
                      Complete</button> <br>
                    <button type="button" class="btn btn-sm btn-success mt-1" *ngIf="prod.status == 'NEW'" (click)="onMarkInprogress(prod);"><i class="fa fa-edit"></i> Mark
                      Inprogress</button> <br>
                    <button type="button" class="btn btn-success btn-sm mt-1" *ngIf="prod.status == 'NEW' || prod.status == 'IN PROGRESS'" (click)="onCancel(prod);"><i class="fa fa-edit"></i>
                      Cancel</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6 ">
              <span>Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of {{collectionsize}}
                  entries</span>
            </div>
            <div class="col-lg-6 col-md-6 text-right">
              <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
              </ngb-pagination>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="search-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="padding-left: 30%;color: rgb(255 165 0);font-weight: 400">Search Criteria
        </h2>

        <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <select class="form-control custom-select" aria-placeholder="filter By">
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="create-newtransfers-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="card-header bg-primary col-12">
            <h3 class="m-b-0 text-white">
              Transfer Details</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 ">
                <div class="form-group">
                  <label class="control-label">Ship From <span style="color: red;">*</span></label>
                  <select id="select-type-basic" (change)="onSelectWarehouse($event.target.value)"
                    class="form-control custom-select" [(ngModel)]="shipfrom">
                    <option value="">Please Select</option>
                    <option *ngFor="let list of allWareHouses" value="{{list.id}}">
                      {{list.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Destination Warehouse <span style="color: red;">*</span></label>
                  <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="destwarehouse">
                    <option value="">Please Select</option>
                    <option *ngFor="let war of wareHouses" value="{{war.id}}">
                      {{war.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isWHSelected">
              <div class="col-md-6 ">
                <div class="form-group">
                  <label class="control-label">Warehouse Location <span style="color: red;">*</span></label>
                  <select id="select-type-basic" (change)="onSelectLocation($event.target.value)"
                    class="form-control custom-select" [(ngModel)]="location">
                    <option value="">Please Select</option>
                    <option *ngFor="let loc of allwarehouseLocations" value="{{loc.id}}">
                      {{loc.location}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Destination Location <span style="color: red;">*</span></label>
                  <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="destloc">
                    <option value="">Please Select</option>
                    <option *ngFor="let locs of locations" value="{{locs.id}}">
                      {{locs.location}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isLocSelected">
              <div class="col-md-6 ">
                <div class="form-group">
                  <label class="control-label">Products <span style="color: red;">*</span></label>
                  <ng-multiselect-dropdown (onSelect)="onSelectProduct()" [settings]="dropdownSettings_Product"
                    [placeholder]="'Select Product'" id="product" name="product" style="width: 100%;"
                    [data]="assignedProds" ngDefaultControl [(ngModel)]="selectedProduct">
                  </ng-multiselect-dropdown>

                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table color-bordered-table success-bordered-table">
                <thead>
                  <th>SKU </th>
                  <th>Product Name</th>
                  <th>Available Quantity</th>
                  <th>Transfered Quantity</th>
                </thead>
                <tbody>
                  <tr *ngFor="let prod of products">

                    <td>
                      {{ prod.sku }}
                    </td>

                    <!-- <td> <img [src]="https://s3-us-west-2.amazonaws.com/khubstatic/web/kartzhub{{ prod.channel }}icon.png" class="img-responsive"></td> -->
                    <td>{{ prod.title }}</td>
                    <td>{{ prod.aqty }}</td>
                    <td>
                      <div class="col-md-6">
                        <input class="form-control" type="text" (blur)="mapData()" [(ngModel)]="prod.qty" name="qty">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
              style="padding-right: 0px;">
              <div class="d-flex justify-content-end align-items-center">
                <div class="m-l-15 m-r-15">
                  <button title="Add Products" type="button" (click)="onTransfer()"
                    class="btn btn-primary">Transfer</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <button type="button" class="btn waves-effect waves-light btn-success">Add Products</button> -->
          <!-- <button type="button" *ngIf="isEdit" (click)="updateLocationsv2()"
            class="btn waves-effect waves-light btn-success">Update</button> -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="create-newproducts-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalclose()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="card-header bg-primary col-12">
            <h3 class="m-b-0 text-white">
              Add and pack products</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 row ">
                <div class="col-md-6 text-left">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="fliter" class="form-control" id="pass3"
                      placeholder="Enter Search Value">
                    <div class="input-group-append"><span class="input-group-text"><i class="ti-search"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <div class="row">
                    <div class="m-l-15 m-r-15">
                      <button title="Print picklist" type="button" class="btn btn-primary"><i class="fa fa-print"></i>
                        Print picklist</button>
                    </div>
                    <div class="m-l-15 m-r-15">
                      <button title="Import Products" type="button" class="btn btn-primary"><i class="fa fa-upload"></i>
                        Import products</button>
                    </div>
                    <div class="m-l-15 m-r-15">
                      <button title="Add Products" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add
                        Products</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive m-t-15">
                <table id="printabletable" class="table table color-bordered-table success-bordered-table"
                  cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="checkall" name="checkall" class="custom-control-input checkallP">
                          <label class="custom-control-label" for="checkall"></label>
                        </div>
                      </th>
                      <th>Product Information</th>
                      <th>Available
                        <br>
                        <small>Unit 1</small>
                      </th>
                      <th>Available
                        <br>
                        <small>Default</small>
                      </th>
                      <th>
                        Due
                        <br>
                        <small>Unit 1 <i class="fa fa-info-circle"></i></small>
                      </th>
                      <th>Qty to send</th>
                      <th>Batch Number</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cust of customerViews">
                          <td>{{ cust.viewName}}</td>
                          <td>{{ cust.viewDesc}}</td>
                          <td>{{ cust.isDefault }}</td>
                          <td>
                              <div class="row">
                                  <div>
                                      <i title="Edit" [ngClass]="activeTab==2?'active':''"
                                          (click)="editCustomerViews(cust)"
                                          style="cursor: pointer;color: #00c292;"
                                          class="fa-lg fas fa-edit"></i>
                                  </div>
                                  <div class="m-l-15">
                                      <i title="Remove" (click)="removeSuppliers(cust)"
                                          style="cursor: pointer;color: #e46a76;"
                                          class=" fa-lg fas fa-window-close"></i>
                                  </div>
                              </div>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
            <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                style="padding-right: 0px;">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="m-l-15 m-r-15">
                        <button (click)="openProductModal();" title="Add Products" type="button"
                            class="btn btn-primary"><i class="fa fa-plus"></i> Add Products</button>
                    </div>
                </div>
            </div>
        </div>
          <button type="button" class="btn waves-effect waves-light btn-success">Add Products</button>
          <button type="button" *ngIf="isEdit" (click)="updateLocationsv2()"
            class="btn waves-effect waves-light btn-success">Update</button>

        </div>
      </div>
    </div>
  </div>
</div> -->
