<div class="container-fluid" style="margin-top: 2px">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <div class="card-header bg-primary">
          <h4 class="m-b-0 text-white">Manage Account Settings</h4>
        </div> -->
        <div class="card-body">

          <div class="row p-t-20">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Company Name</label>
                <input type="text" [(ngModel)]="companyName" id="firstName" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 1</label>
                <input type="text" [(ngModel)]="address1" id="firstName" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Address Line 2</label>
                <input type="text" [(ngModel)]="address2" id="firstName" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">City</label>
                <input type="text" [(ngModel)]="city" id="firstName" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">State</label>
                <input type="text" [(ngModel)]="state" id="firstName" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Zipcode</label>
                <input type="text" [(ngModel)]="zipCode" id="firstName" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Country</label>
                <!-- <input type="text" [(ngModel)]="country" id="firstName" class="form-control"> -->
                <select id="select-type-basic" class="form-control custom-select" [(ngModel)]="selectedCountryvalue">
                 <option *ngFor="let list of country" value="{{list.country_code}}">
                    {{list.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input type="text" [(ngModel)]="phoneNumber" id="firstName" class="form-control">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group disabled">
                <label class="control-label">Admin Email</label>
                <input type="text" [(ngModel)]="emailAddress" id="firstName" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 form-group">
              <label class="custom-control custom-checkbox m-b-0">
                <input type="checkbox" [(ngModel)]="vatregistered" class="custom-control-input">
                <span class="custom-control-label">VAT registered</span>
              </label>
              <label class="control-label">Tick this box if you are a VAT registered business. It will set your default
                tax rate to 20%.</label>
            </div>
            <div class="col-md-4 form-group">
              <label class="control-label">VAT Registration Number</label>
              <input type="text" [(ngModel)]="vatnumber" id="firstName" class="form-control">
            </div>
          </div>

          <div class="form-actions text-right">
            <button type="submit" (click)="saveOrUpdateUser()" class="btn btn-success"> <i class="fa fa-check"></i>
              Save</button>
            <!-- <button type="button" (click)="clear()" class="btn btn-danger m-l-15">Clear</button> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
