
<app-ebay-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==1"></app-ebay-inte>
<app-amazon-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==2"></app-amazon-inte>
<app-rakuten [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==3"></app-rakuten>
<app-sears [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==4"></app-sears>
<app-cdiscount  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==5"></app-cdiscount>
<app-priceminister [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==6"></app-priceminister>
<app-bonanza  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==7"></app-bonanza>

<app-flubit [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==8"></app-flubit>
<app-etsy-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==9"></app-etsy-inte>

<app-jet [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==10"></app-jet>
<app-fruugo  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==11"></app-fruugo>

<app-ioffer  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==12"></app-ioffer>

<app-storenvy [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==13"></app-storenvy>
<app-opensky [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==14"></app-opensky>


<app-lazada [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==15"></app-lazada>
<app-walmart  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==16"></app-walmart>

<app-bolcom  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==17"></app-bolcom>

<app-onbuy-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==18"></app-onbuy-inte>
<app-tesco  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==19"></app-tesco>
<app-shopclues  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==20"></app-shopclues>

<app-flipkart  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==21"></app-flipkart>
<app-google  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==22"></app-google>
<app-shopee  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==24"></app-shopee>
<app-lelong  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==25"></app-lelong>


<app-snapdeal  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==27"></app-snapdeal>

<app-backmarket  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==28"></app-backmarket>

<app-elevenstreet  [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==26"></app-elevenstreet>
<app-amazon-v2-inte [isNewIntegration]="isNewCreation" [channelId]="channelId" *ngIf="channelType==29">
</app-amazon-v2-inte>



