<div  class="container-fluid" style="margin-top: 2px;">
    <div  class="col-lg-12 col-sm-12 col-md-12 align-self-center text-right">
        <div  class="d-flex justify-content-end align-items-center"><button 
                type="button" class="btn btn-warning d-lg-block m-l-15"><i 
                    class="fas fa-arrow-left"></i> Back To List</button></div>
    </div>
    <div  class="col-md-12 col-lg-12 text-center m-t-10"><img 
            src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubtesco.png" alt="user"
            class="img-responsive img-fixed img-fluid"></div>
    <div  class="card-body p-b-0">
        <ul  role="tablist" class="nav nav-tabs customtab2">
            <li  class="nav-item"><a  data-toggle="tab" role="tab"
                    aria-selected="true" class="nav-link active"><span  class="hidden-sm-up"><i
                             class="ti-home"></i></span><span 
                        class="hidden-xs-down"> Integration</span></a></li>
          
        </ul>
        <div  class="tab-content">
            <div class="tab-pane active"role="tabpanel">
                
                <div class="portlet light">
                    <div class="row">
                    <div class="col-md-12">
                         <div class="pull-right">

                        <button href="javascript:void(0)" type="button" style="margin-right: 4px;" class="btn btn-default btn-sm btn-success"><i class="fa fa-times font-red"></i> Remove All listings from KartzHub</button>
                        <button  class="btn btn-default btn-sm btn-danger"><i class="fa fa-times font-red"></i> Close</button>
                        </div>
                    </div>
                    </div>
                    <div class="portlet-body form">
                        

                        <form id="channeluser" role="form" class="form-horizontal" action="/settings/savetescodetails" method="POST">


                        <div class="form-body">
                        <input type="hidden" value="6506" id="id" name="id">
                        <input type="hidden" value="2110" id="kartzhubUserId" name="kartzhubUserId">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        <div class="form-group has-success">
                        <label class=" control-label">Channel Name</label><br>
                        <input type="text" value="Tesco.com Account" id="name" class="form-control" placeholder="Name to remember within KartzHub">
                        </div>

                        <div class="form-group has-success">
                        <label class="control-label">Tesco Access Token</label><br>
                        <input type="text" value="" id="token" name="token" class="form-control" placeholder="Tesco Access Token is empty">
                        </div>

                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group has-success">
                        <input type="checkbox" checked="" value="true" id="downloadamazoncatalogid" class="form-control">
                        <label class="control-label">Download the Listings into KartzHub</label>
                        </div>

                        <div class="form-group has-success">
                        <input type="checkbox" checked="" value="true" id="downloadamazonorderid" class="form-control">
                        <label class="control-label">Download the orders into KartzHub</label>
                        </div>

                        <div class="form-group has-success">
                        <label class=" control-label">SKU in title</label><br>
                        <input type="checkbox" value="true" id="skuInTitle" class="form-control">
                        <small>SKU at the end of the title</small>

                        </div>
                        </div>	

                        <div class="form-group has-success">
                        <div class="col-md-12">
                        <div class="pull-right">
                        <button type="submit" class="btn btn btn-sm btn-success "><i class="fa fa-check"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-default btn-danger"><i class="fa fa-refresh"></i> Reset</button>
                        </div>
                        </div>
                        </div>

                        <div class="form-group has-success">

                        <small>The term 'TESCO' is a trademark of Tesco, Inc. This application uses the Tesco API but is not endorsed or certified by Tesco.</small>

                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group has-success">
                              <label class="control-label">Max Listed</label>
                              <input type="text"  name="username" class="form-control" placeholder="Max Listed">
                              
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group has-success">
                              <label class="control-label">Stock Percentage</label>
                              <input type="text"  name="username" class="form-control" placeholder="Stock Percentage">
                              
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group has-success">
                              <label class="control-label">End When</label>
                              <input type="text"  name="username" class="form-control" placeholder="End When">
                              
                            </div>
                          </div> -->
                        </div>

                        </form>


                    </div>
                </div>

            </div>

         
        </div>
    </div>
</div>