<div class="col-md-12 col-lg-12" *ngIf="datasharingService.parentTab != 'warehouse'">
    <div class="row">
        <h4 class="card-title mt-3 ml-2">User Settings</h4>
        <a title="Description" href="https://www.sellershub.io/userguide/settings/" target="_blank"
            data-close-others="true" class="mt-2 mb-3 btn-sm m-l-15 btn btn-dark btn-circle text-white"><i
                class=" fas fa-info"></i> </a>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs customtab2" role="tablist">
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': generalSetting}"
                (click)="changeLabels(true, false, false, false, false, false,false)" role="tab"><span
                    class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down"> General
                    Settings</span></a> </li>
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': productAttribute}" role="tab"
                (click)="changeLabels(false, true, false, false, false, false,false)"><span class="hidden-sm-up"><i
                        class="ti-home"></i></span> <span class="hidden-xs-down"> Product Attribute
                    Settings</span></a> </li>
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': bulkActions}" role="tab"
                (click)="changeLabels(false, false, true, false, false, false,false)"><span class="hidden-sm-up"><i
                        class="ti-user"></i></span> <span class="hidden-xs-down"> Bulk
                    Actions</span></a> </li>
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': barcode}" role="tab"
                (click)="changeLabels(false, false, false, true, false, false,false)"><span class="hidden-sm-up"><i
                        class="ti-email"></i></span> <span class="hidden-xs-down"> Barcode
                    Management</span></a> </li>
        <!-- <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': inventary}" role="tab" (click)="changeLabels(false, false, false, false, true, false)"><span class="hidden-sm-up"><i
            class="ti-email"></i></span> <span class="hidden-xs-down"> Inventory
          Syncronize</span></a> </li> -->
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': shippingRules}" role="tab"
                (click)="changeLabels(false, false, false, false, false, true,false)"><span class="hidden-sm-up"><i
                        class="ti-email"></i></span> <span class="hidden-xs-down"> Shipping
                    Rules</span></a> </li>
        <li class="nav-item"> <a class="nav-link" [ngClass]="{'active': virtualPrinter}" role="tab"
                (click)="changeLabels(false, false, false, false, false,false, true)"><span class="hidden-sm-up"><i
                        class="ti-printer"></i></span> <span class="hidden-xs-down"> Virtual Printer</span>
                        <span class="label-loc-inner label-comingsoon">Beta</span></a> </li>
        
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane" id="GS" role="tabpanel" *ngIf="generalSetting">
            <div class="p-20">
                <div class="row">
                    <div class="col-md-6" *ngIf="false">
                        <div class="card border-success">
                            <div class="card-header bg-success">
                                <h4 class="m-b-0 text-white">About General Settings</h4>
                            </div>
                            <div class="card-body">
                                <app-generalsettings></app-generalsettings>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-success">
                            <div class="card-header bg-success">
                                <h4 class="m-b-0 text-white">Email Settings</h4>
                            </div>
                            <div class="card-body">
                                <app-email-settings></app-email-settings>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card border-success">
                        <div class="card-header bg-success">
                            <h4 class="m-b-0 text-white">Tax</h4>
                        </div>
                        <div class="card-body">
                            <app-generalsetting-tax></app-generalsetting-tax>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="false">
                    <div class="card border-success">
                        <div class="card-header bg-success">
                            <h4 class="m-b-0 text-white">Currency</h4>
                        </div>
                        <div class="card-body">
                            <app-currency-settings></app-currency-settings>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="false">
                    <div class="card border-success">
                        <div class="card-header bg-success">
                            <h4 class="m-b-0 text-white">Orders</h4>
                        </div>
                        <div class="card-body">
                            <app-orders-setting></app-orders-setting>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="false">
                    <div class="card border-success">
                        <div class="card-header bg-success">
                            <h4 class="m-b-0 text-white">Manage Notification Alerts</h4>
                        </div>
                        <div class="card-body">
                            <app-notifications></app-notifications>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="PAS" role="tabpanel" *ngIf="productAttribute">
            <app-product-attribute-tab></app-product-attribute-tab>
        </div>
        <div class="tab-pane" id="BAS" role="tabpanel" *ngIf="bulkActions">
            <app-bulk-action-tabs></app-bulk-action-tabs>
        </div>
        <div class="tab-pane" id="BMS" role="tabpanel" *ngIf="barcode">
            <app-barcode-tabs></app-barcode-tabs>
            <!-- <h1>Coming Soon....</h1> -->
        </div>
        <div class="tab-pane" id="ISS" role="tabpanel" *ngIf="inventary">
            <app-inventry-sync-tabs></app-inventry-sync-tabs>
        </div>
        <div class="tab-pane" id="SOS" role="tabpanel" *ngIf="shippingRules">
            <app-shippingriles></app-shippingriles>
        </div>
        <div class="tab-pane" id="SOS" role="tabpanel" *ngIf="virtualPrinter">
            <app-virtual-printer></app-virtual-printer>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-12" *ngIf="datasharingService.parentTab == 'warehouse'">
    <div>
        <app-bulk-action-tabs></app-bulk-action-tabs>
    </div>

</div>