<div *ngFor="let chaild of childrens;let j=index" class="ui-padding m-t-5">
  <div [ngSwitch]="chaild?.type">   
    <div *ngSwitchCase="'editor'">
      <div class="showoptions">
        <div class="action-icons hide">
          <i style="cursor: pointer;color: rgb(39 39 39 / 52%);" class=" fas fa-edit" (click)="openModal(chaild)"></i>
          <i style="cursor: pointer;color: rgb(39 39 39 / 52%);padding: 5px" class=" fas fa-trash"></i>
        </div>
        <angular-editor id="{{chaild.id+'-'+chaild.pid+'-view-builder'}}" [(ngModel)]="chaild.text" [config]="editorConfig_disable"></angular-editor>
        <!-- <ckeditor data="<p>Hello, world!</p>"></ckeditor> -->
      </div>
    </div>
    <div *ngSwitchCase="'field'" class="gridster-item-content">
      <app-text-field [data]="chaild"></app-text-field>
    </div>
    <div *ngSwitchCase="'image'" class="gridster-item-content">
      <app-company-logo [data]="chaild"></app-company-logo>
    </div>
    <div *ngSwitchCase="'label'" class="gridster-item-content">
      <app-company-label [data]="chaild"></app-company-label>
    </div>
   <div *ngSwitchDefault>This is Default</div>
  </div>
</div>



