<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
        <h4 class="card-title mt-3 ml-4">Categories</h4>
        <a title="Description" href="https://www.sellershub.io/userguide/user-guide/inventory-management/how-to-add-edit-and-delete-the-categories/" target="_blank" data-close-others="true" class="mt-2 mb-3 btn-sm m-l-15 btn btn-dark btn-circle text-white"><i
            class=" fas fa-info"></i> </a>
        </div>
    <div class="row">
        <div class="col-12">
            <div class="col-lg-12 col-sm-12 col-md-12 row pb-1" style="padding-right: 0px;">
                <div class="col-lg-12 col-sm-12 col-md-12  align-self-center text-right search-alignment "
                    style="padding-right: 0px;">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="m-l-15 m-r-15">
                            <button (click)="openModal();auditTrack(1)" title="Add Category" type="button" class="btn btn-primary"><i
                                    class="fa fa-plus"></i> Add Category</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive  p-20">
                <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                <table id="printabletable" class="table table color-bordered-table success-bordered-table table-bordered">
                    <thead class="text-center">
                            <th>Category</th>
                            <th>Descrption</th>
                            <th>Path</th>
                            <th>Action</th>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let cat of allCategories">
                            <td>{{cat.name}}</td>
                            <td>{{cat.details}}</td>
                            <td>{{cat.path}}</td>
                            <td>
                                <div class="row justify-content-center  align-items-center">
                                    <button type="button" class="btn btn-sm btn-success d-md-block mr-1" title="Add Subcategory" (click)="openSubCategory(cat);"><i class="fas fa-plus"></i>
                                    </button>
                                <button type="button" class="btn btn-sm btn-success d-md-block" title="Edit" (click)="openCategory(cat);auditTrack(2)"><i class="fas fa-edit"></i>
                                </button>
                                <button type="button" (click)="delete(cat);auditTrack(3)" title="Remove" class="btn btn-sm ml-1 btn-warning d-md-block"><i
                                        class="fa fa-times"></i> </button>
                                    </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="category-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h2 *ngIf="!isEditTrue && !isAddSubcategory" class="modal-title" style="color: rgb(255 165 0)">Category
                </h2>
                <h2 *ngIf="isEditTrue && !isAddSubcategory"  class="modal-title" style="color: rgb(255 165 0)">Edit Category
                </h2>
                <h2 *ngIf="!isEditTrue && isAddSubcategory"  class="modal-title" style="color: rgb(255 165 0)">Add SubCategory
                </h2>
                <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-lg-12 row">
                    <div class="form-group" style="width: 100%;">
                        <!-- <label>Category</label> -->
                        <input type="text" class="form-control" [(ngModel)]="categoryName" placeholder="Category Name" [disabled]="isEditTrue">
                    </div>
                    <div class="form-group" style="width: 100%;" *ngIf="!isEditTrue && isAddSubcategory">
                        <!-- <label>Category</label> -->
                        <input type="text" class="form-control" [(ngModel)]="subcategoryName" placeholder="Sub Category Name">
                    </div>
                    <div class="form-group" style="width: 100%;">
                        <!-- <label>Category</label> -->
                        <textarea class="form-control" rows="5" [(ngModel)]="categoryDesc"
                            placeholder="descrption"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button *ngIf="!isEditTrue && !isAddSubcategory" (click)="saveSelectedCate()" type="button" class="btn waves-effect waves-light btn-success"
                    data-dismiss="modal">Save</button>
                <button *ngIf="isEditTrue && !isAddSubcategory" (click)="updateSelectedCate()" type="button" class="btn waves-effect waves-light btn-success"
                    data-dismiss="modal">Save</button>
                    <button *ngIf="isAddSubcategory && !isEditTrue" (click)="addSubcategory()" type="button" class="btn waves-effect waves-light btn-success"
                    data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal"
                    (click)="modalclosed()">Close</button>
            </div>
        </div>
    </div>
</div>
