<div fxLayout="row wrap" fxLayoutAlign="end center" class="margin_top">
  <div>
    <mat-form-field appearance="outline" style="margin-right: 12px">
      <mat-label>Search By</mat-label>
      <mat-select [(ngModel)]="searchBy" id="searchname">
        <mat-option value="0">Search By</mat-option>
        <mat-option value="2">Sku</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" style="margin-right: 12px">
      <mat-label>Enter Search Value</mat-label>
      <input matInput [(ngModel)]="searchValue" id="pass3" />
      <mat-icon matSuffix (click)="getStockOverview(); auditTrack(1)"
        >search</mat-icon
      >
    </mat-form-field>
  </div>
  <div>
    <button
      style="margin-bottom: 18px; margin-right: 12px"
      (click)="reset(); auditTrack(2)"
      type="button"
      class="btn btn-warning"
    >
      <i class="fa fa-plus-circle"></i> Reset
    </button>
  </div>
  <div style="margin-right: 12px">
    <select
      style="margin-bottom: 18px"
      (change)="changespage(pageSize)"
      class="form-control custom-select select_height"
      [(ngModel)]="pageSize"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>
</div>
<div class="m-l-5">
  <mat-card class="col-xs-12">
    <mat-card-content class="start-xs fixed-table">
      <table mat-table [dataSource]="dataSource" matSort class="report-table">
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
          <td mat-cell *matCellDef="let row">
            {{ row.sku }}
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let row">
            {{ row.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">
            {{ row.sellingPrice }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>QTY</th>
          <td mat-cell *matCellDef="let row">
            {{ row.qty }}
          </td>
        </ng-container>
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier</th>
          <td mat-cell *matCellDef="let row">
            {{ row.supplier }}
          </td>
        </ng-container>
        <ng-container matColumnDef="order_history">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Order History
          </th>
          <td mat-cell *matCellDef="let row">
            <i
              title="view"
              style="cursor: pointer; color: #fec107"
              class="fas fa-eye fa-lg"
              (click)="orderHistory(row)"
            ></i>
          </td>
        </ng-container>
        <mat-card>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </mat-card>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-paginator
    #myPaginator
    fxLayout="row"
    fxLayoutAlign="end end"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
<!-- <div class="row col-lg-12 col-md-12">
    <div class="col-lg-6 col-md-6">
      <span
        >Showing {{ pageSize <= collectionsize ? pageSize : collectionsize }} of
        {{ collectionsize }} entries</span
      >
    </div>
  </div> -->

<div
  id="search-modal"
  class="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: none"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2
          class="modal-title"
          style="padding-left: 30%; color: rgb(255 165 0); font-weight: 400"
        >
          Search Criteria
        </h2>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modalclosed()"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <select
                class="form-control custom-select"
                aria-placeholder="filter By"
              >
                <option value="">Male</option>
                <option value="">Female</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                placeholder="John doe"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-light btn-success">
          Save
        </button>
        <button
          type="button"
          class="btn btn-danger waves-effect"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="order-history-modal"
  class="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: none"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2
          class="modal-title"
          style="padding-left: 30%; color: rgb(255 165 0); font-weight: 400"
        >
          Order Details
        </h2>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modalclosed()"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table
            class="table table color-bordered-table success-bordered-table"
          >
            <thead>
              <th>Date</th>
              <th>Order Id</th>
              <th>Out</th>
              <th>Channel</th>
            </thead>
            <tbody>
              <tr *ngFor="let order of orderDetails">
                <td>{{ order.purchaseDate | date : "dd MMM yyyy" }}</td>
                <td>{{ order.orderId }}</td>
                <td>{{ order.title }}</td>
                <td>{{ order.channel }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger waves-effect"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
