<div class="portlet-body">
  <div class="col-md-12 col-lg-12 text-right m-b-10">
    <button *ngIf="emailConfigs.length == 0" type="button" (click)="newTemplateOpen()" class="btn btn-primary mr-1">
      <i class="fa fa-times-circle-o"></i>New Smtp configuration
    </button>
    <!-- <button *ngIf="emailConfig" type="button" class="btn btn-danger ng-star-inserted" (click)="closeEmailConfig()">
      <i class="fa fa-times font-red"></i> Close </button> -->
  </div>
  <div class="portlet-body">
    <div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              User Name
            </th>
            <th>
              From Email
            </th>
            <th>
              Status
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of emailConfigs">
            <td>
              {{item.smtpUserName}}
            </td>
            <td>
              {{item.fromEmail}}
            </td>
            <td>
              {{item.enable? 'Active': 'Inactive'}}
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="ti-settings"></i>
                </button>

                <div class="dropdown-menu  animated flipInY ">
                  <a class="dropdown-item" href="javascript:void(0)"(click)="updateView(item)">Edit email configuration</a>
                  <a class="dropdown-item" href="javascript:void(0)" (click)="testEmailConfig(item.id)">Test email configuration</a>
                  <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="activateEmailConfig(item)" *ngIf="item.enable">Activate</a> -->
                  <a class="dropdown-item" href="javascript:void(0)" (click)="removeEmailConfig(item.id)">Remove email configuration</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="emailConfig">
    <div class="row" id="newTemplatepage">
      <div class="col-md-12 ">
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <h4>Smtp configuration</h4>
            </div>
            <div class="col-md-12 col-lg-12  m-b-10">
              <div class="container-fluid" style="margin-top: 2px">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table1 table stylish-table">
                                <thead>
                                    <tr>
                                        <th class="text-left">SMTP setting</th>
                                        <th class="text-left">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h6>SMTP Host</h6>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-group">
                                                <input type="text" id="smtHost" name="smtHost" [(ngModel)]="emailConfig.smtpHost" class="form-control" placeholder="SMTP Host">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>SMTP Port</h6>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-group">
                                                <input type="text" id="mailPort" name="mailPort" [(ngModel)]="emailConfig.smtpPort" class="form-control" placeholder="SMTP Port">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>SMTP Username</h6>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-group">
                                                <input type="text" id="smtpName" name="smtpName" [(ngModel)]="emailConfig.smtpUserName" class="form-control" placeholder="SMTP Username">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>SMTP Password</h6>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-group">
                                                <input type="password" id="smtpPass" name="smtpPass" [(ngModel)]="emailConfig.smtpPassword" class="form-control" >
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>From Email Address</h6>
                                        </td>
                                        <td class="text-left">
                                            <div class="form-group">
                                                <input type="text" id="mailFrom" name="mailFrom" [(ngModel)]="emailConfig.fromEmail" class="form-control" >
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12 col-lg-12 text-right m-b-10">
              <button type="button" (click)="newConfig= true" (click)="saveEmailConfig()"
                class="btn btn-primary mr-1 btn-success">
                <i class="fa fa-times-circle-o"></i>Save
              </button>
              <button (click)="closeEmailConfig()" type="button" class="btn btn-danger ng-star-inserted">
                <i class="fa fa-times font-red"></i> Close </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
