<div class="announcement">
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <!-- MEW IO -->
      <!--  <div class="row">
        <div class="col-md-7 col-sm-12" style="margin-top: 10px;">
                <label>What's New </label>
             </div>
         </div> -->
      <!-- NEW UI -->
      <!-- BEGIN PAGE HEADER-->
      <!-- BEGIN THEME PANEL -->

      <div id="maindivid">
        <div class="row">
          <div class="col-md-12">
            <div class="portlet light">
              <div class="portlet-body">
                <h2>What's New <i class="fa fa-bullhorn"></i></h2>
                <p>
                  This page contains key information on new features and
                  improvements of Sellershub.io for the year 2022.
                </p>
              </div>

              <div class="doc">
                <div id="content">
                  <div id="changelog-content">
                    <h2>{{ currentMonth }}</h2>
                    <div>
                      <h2>PROFIT CALCULATOR</h2>
                      <p style="font-size: 15px;">{{ title5.toUpperCase() }}</p>
                      <img
                        [src]="'assets/images/Frame 14s.jpg'"
                        alt="royalmail-print-label"
                        width="1000"
                        height="600"
                      />
                    </div>
                    <h2>{{ month }}</h2>
                    <div>
                      <h2>AMAZON BUY SHIPPING</h2>
                      <p>{{ title3.toUpperCase() }}</p>
                      <img
                        [src]="'assets/images/Amazon Buy Shipping.PNG'"
                        alt="royalmail-print-label"
                        width="400"
                        height="600"
                      />
                    </div>
                    <div>
                      <h2>DUPLEX PRINITING</h2>
                      <p>{{ title2.toUpperCase() }}</p>
                      <img
                        [src]="'assets/images/duplex-print.png'"
                        alt="royalmail-print-label"
                        width="400"
                        height="600"
                      />
                    </div>
                    <div>
                      <h2>PACKAGING SLIP</h2>
                      <p>{{ title.toUpperCase() }}</p>
                      <img
                        [src]="'assets/images/packingslip.png'"
                        alt="royalmail-print-label"
                        width="400"
                        height="600"
                      />
                    </div>

                    <table style="width: 100%">
                      <br />
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/g25s2S09/new.png"
                              width="80"
                              height="20"
                            />
                          </td>
                          <td style="width: 100%">
                            <h2>Amazon Shipping Label</h2>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>
                      We are pleased to announce that we have partnered with
                      Amazon Shipping and Users are able to process orders and
                      print label through Amazon Shipping Now.
                    </p>
                    <img
                      [src]="'assets/images/amazonlabel.png'"
                      alt="Amazon Buy Shipping"
                      width="400"
                      height="600"
                    />
                    <div>
                      <h2>PREMIUM AI DASHBOARD </h2>
                      <p>{{ title4.toUpperCase() }}</p>
                      <div class="col-sm-12 row">
                        <div class="col-sm-6">
                      <img
                        [src]="'assets/images/PRODUCTS AI DASHBOARD.PNG'"
                        alt="royalmail-print-label"
                        width="560"
                        height="600"
                      />
                    </div>
                        <div class="col-sm-6">
                          <img
                        [src]="'assets/images/PRODUCTS AI DASBOARD2.PNG'"
                        alt="royalmail-print-label"
                        width="560"
                        height="600"
                      />
                      </div>
                    </div>
                    <div class="col-sm-6 row mt-3 m-l-5">
                      <img
                    [src]="'assets/images/ORDERS PREMIUM AI DASHBOARD.PNG'"
                    alt="royalmail-print-label"
                    width="560"
                    height="600"
                  />
                  </div>
                    </div>
                    <table style="width: 100%">
                      <br />

                      <br />
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/g25s2S09/new.png"
                              width="80"
                              height="20"
                            /><strong
                              >&nbsp;official online partners for Big Boss
                              2022</strong
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="width: 100%">
                      <div>
                        <h2>ROYALMAIL PRINT LABEL</h2>
                        <p>
                          Great News for Sellershub Users!! Now you can process
                          the orders and print label through RoyalMail
                        </p>
                        <img
                          src="https://i.postimg.cc/x8xHX3G0/royalmail-print-label.jpg"
                          alt="royalmail-print-label"
                          width="400"
                          height="600"
                        />
                      </div>
                      <div>
                        <h2>Yodel Print Label</h2>
                        <p>
                          Great News for Sellershub Users!! Now you can process
                          the orders and print label through Yodel
                        </p>
                        <img
                          src="https://i.postimg.cc/Gm2sS1kZ/Print-label.jpg"
                          alt="Amazon Buy Shipping"
                          width="400"
                          height="600"
                        />
                      </div>
                      <br />
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/g25s2S09/new.png"
                              width="80"
                              height="20"
                            />
                          </td>
                          <td style="width: 100%">
                            <h2>Merge Orders</h2>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>
                      Great News for Sellershub Users now you can merge Order
                      for efficient handling of orders for same Address.
                    </p>
                    <img
                      src="https://i.postimg.cc/1zw52hLF/merge-orders.jpg"
                      alt="Amazon Buy Shipping"
                      height="350"
                    />

                    <img
                      src="https://i.postimg.cc/yxmCVCHq/linkedin-banner-updated.jpg"
                      width="900"
                      height="350"
                    />
                    <table style="width: 100%">
                      <br />
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/NMt1KWqn/UPDATE.png"
                            /><strong>&nbsp;Bulk Actions</strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 757px" colspan="2">
                            <p>
                              <span
                                >Settings-->Bulk Actions-->Bulk Imports/Exports
                                Updated with all the functionality changes<a
                                  rel="noopener"
                                  href=""
                                  target=""
                                ></a
                                >&nbsp;</span
                              ><span style="color: #87a6c5; font-size: 80%"
                                >-&nbsp;<span></span
                              ></span>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table style="width: 100%">
                      <h2></h2>
                      <br />
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/g25s2S09/new.png"
                            /><strong>&nbsp;onbuy.com</strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 757px" colspan="2">
                            <p>
                              <span
                                >We are happy to announce new integration
                                services for our UK customers coming soon. We
                                have now partnered with onbuy.com, where our
                                customers will be able to create listing,
                                download orders, process orders etc. directly
                                from sellershub.io and also we have special
                                discounted offer from onbuy.com for customer
                                joining from our application<a
                                  rel="noopener"
                                  href=""
                                  target=""
                                ></a
                                >&nbsp;</span
                              ><span style="color: #87a6c5; font-size: 80%"
                                >-&nbsp;<span>Sep 15, 2022</span></span
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table style="width: 100%">
                      <h2></h2>
                      <br />
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/NMt1KWqn/UPDATE.png"
                            /><strong>&nbsp; Royal Mail Click and Drop</strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 757px" colspan="2">
                            <p>
                              <span
                                >In Royal Mail Click and Drop Updated with the
                                all new services .&nbsp;</span
                              ><span style="color: #87a6c5; font-size: 80%"
                                >-&nbsp;<span>August 17, 2022</span></span
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="line-height: 100%; visibility: hidden">
                      &nbsp;
                    </div>
                    <!-- <table style="width: 100%;" > -->

                    <div style="line-height: 100%; visibility: hidden">
                      &nbsp;
                    </div>
                    <table style="width: 100%">
                      <tbody>
                        <tr>
                          <td style="width: 80px">
                            <img
                              src="https://i.postimg.cc/g25s2S09/new.png"
                              width="80"
                              height="20"
                            /><strong>&nbsp; Gift messages</strong>
                          </td>
                        </tr>

                        <tr>
                          <td style="width: 757px" colspan="2">
                            <p>
                              <span
                                >Checkout Message/ Gift messages in sales order
                                page.</span
                              >&nbsp;
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- docs -->
            </div>
          </div>
        </div>
      </div>

      <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->

    <!-- END QUICK SIDEBAR -->
  </div>
</div>
