<div class="container-fluid" style="margin-top: 2px">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <h3 *ngIf="!isEditInvoiceI" class="text-center m-t-5 text-danger">Packing Slip Creation <span *ngFor="let set of st">[{{set.name}}] </span></h3>
                <h3 *ngIf="isEditInvoiceI" class="text-center m-t-5 text-danger">Packing Slip Creation For <span >[ {{dashboard.type}} - {{dashboard.name}} ]</span> <span *ngFor="let set of st">[{{set.name}}]</span></h3>
                
                <div class="card-body p-b-0">
                    <div class="p-20"> 
                        <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>                              
                        <app-package-slip-template (selectedChannlesForsave)="selectedChannlesForsave($event)" [apiData]="apiData" *ngIf="!isEditInvoiceI"></app-package-slip-template>
                        <app-package-slip-edit-template  (selectedChannlesForsave)="selectedChannlesForsave($event)" [apiData]="apiData" *ngIf="isEditInvoiceI" [template]="dashboard"></app-package-slip-edit-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
