<div id="editchannelproductdivid" *ngIf="channelProduct">
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet transparent">
                <div class="portlet box">
                    <div class="row  margin-top-10">
                        <div class="col-md-2 col-sm-6 col-xs-6">
                            <label><img style="width:100px" src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubshopify.png"></label>
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <div class="form-gropu has-success">
                                <label><strong><i class="fa fa-cube"></i> Edit Shopify Item</strong></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="pull-right">
                                <button (click)="savechannelproduct()" class="btn btn-sm btn-success btn-circle-new"><i class="fa fa-check"></i> Save</button>
                                    <button (click)="updatetochannel()" class="btn btn-sm btn-default btn-circle-new btn-success"><i class="fa fa-upload"></i> Update Shopify</button>
                                    <!-- <button (click)="removeitemfromchannel(84411)" class="btn btn-sm btn-default btn-circle-new"><i class="fa fa-times font-red"></i> Delete Item</button> -->
                                    <button (click)="close()" class="btn btn-sm btn-default btn-danger btn-circle-new"><i class="fa fa-times font-red"></i> Close</button>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="">
                            <div class="portlet-body form">
                                <form role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-gropu has-success">
                                                    <label>Item Id:</label>
                                                    <div>
                                                        <input type="text" class="form-control" readonly="" [(ngModel)]="channelProduct.itemId" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Listing Template <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <select id="edittemplateId" class="form-control" >
                                                                <option *ngFor="let item of channelProduct.listingtemplates" [ngValue]="item.id">{{item.templateName}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>SKU: <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" readonly="" class="form-control" [(ngModel)]="channelProduct.sku" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Item Title: <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" class="form-control" id="edittitleid" [(ngModel)]="channelProduct.title" placeholder="Product title" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Item Description: <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <textarea id="editdescriptionid" class="form-control" [(ngModel)]="channelProduct.description" [ngModelOptions]="{standalone: true}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-gropu has-success">
                                                    <label>Selling Price: <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" class="form-control" id="editsellingprice" [(ngModel)]="channelProduct.sellingPrice" placeholder="BuyIt Now Price" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Product Type: <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" class="form-control" id="channelproduttype" [(ngModel)]="channelProduct.productType" placeholder="Product Type" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Tags (Comma Separated): <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" class="form-control" id="channeltags" [(ngModel)]="channelProduct.tags" placeholder="Tags" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Vendor: <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <input type="text" class="form-control" id="channelvendor" [(ngModel)]="channelProduct.vendor" placeholder="Vendor" [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>
                                                <div class="form-gropu has-success">
                                                    <label>Store Categories (Collections): <span class="required">*</span>
                                                    </label>
                                                    <div>
                                                        <div class="input-group">

                                                            <input type="text" class="form-control" id="storeCategoryName" [(ngModel)]="channelProduct.storeCategoryIdOne" placeholder="Store Categories/Collections" [ngModelOptions]="{standalone: true}">

                                                            <input type="hidden" class="form-control" id="storecategoryidone" [(ngModel)]="channelProduct.storeCategoryIdTwo" placeholder="Store Categories/Collections" [ngModelOptions]="{standalone: true}">

                                                            <span class="input-group-btn">
                                                                <a href="javascript:void(0)" (click)="shopifycategories()">
                                                                    <button class="btn-xs" type="button">Categories</button>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="variationsdivid" class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet transparent" *ngIf="false">
                            <div class="portlet box">
                                <div class="row  margin-top-10">
                                    <div class="col-md-6 col-sm-8 col-xs-8">
                                        <div class="form-gropu has-success">
                                            <label><strong><i class="fa fa-tasks"></i> Product Variations</strong></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body" *ngIf="false">


                                        <div class="alert alert-warning">
                                            <p>There are no variations for this product. Please add new variations from Variation tab and then add to your Shopify Product</p>
                                        </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-warning">
                                                <strong>Variation Theme:&nbsp;</strong>

                                                    <span class="label label-default">
                                                                Color </span>&nbsp;

                                                    <span class="label label-default">
                                                                Size </span>&nbsp;


                                                    <a class="btn btn-sm btn-circle-new btn-default" (click)="removevariationtheme(84411)" href="javascript:void(0)"><i class="fa fa-times font-red"></i> Remove</a>


                                                <a href="javascript:void(0)" (click)="managechannelvariationtheme(84411)" class="btn btn-sm btn-default btn-circle-new">Manage Variation Theme</a>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-hover order-column dataTable no-footer">
                                            <thead>
                                            <tr>
                                                <th>
                                                    SKU
                                                </th>
                                                <th>
                                                    UPC/EAN
                                                </th>

                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    Qty
                                                </th>
                                                <th>
                                                    Listing Status
                                                </th>

                                                    <th>
                                                        Color
                                                    </th>

                                                    <th>
                                                        Size
                                                    </th>

                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>


                                            </tbody>
                                        </table>
                                    </div>

                                        <div class="alert alert-warning">
                                                    <p>Following variations are available to add to the shopify item  <a class="btn btn-default btn-sm" (click)="addchannelvariation(-1, 84411)" href="javascript:void(0)">Add All</a></p>
                                        </div>

                                        <div class="table-scrollable">

                                        <table class="table  table-striped table-bordered table-hover order-column dataTable no-footer">
                                            <thead>
                                            <tr>
                                                <th>
                                                    SKU
                                                </th>

                                                <th>
                                                    Qty
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>
                                                            FANDELBIKE0018_WHT_S
                                                                <input type="hidden" value="45489" name="channelproductchildid">
                                                    </td>

                                                    <td>
                                                            2
                                                    </td>
                                                    <td>
                                                                <a href="javascript:void(0)" class="btn btn-xs btn-info" (click)="addchannelvariation(45489, 84411)">Add to Variations</a>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="modal fade bs-modal-lg in" id="categorywindow" tabindex="-1" role="basic" aria-hidden="true">

            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="caption alert alert-warning">
                  <h4>Manage Shopify Collections / Store Category</h4>
                </div>
                <div class="modal-body">
                  <h4>Please select an Shopify Collection / Store Category </h4>
                  <div class="form-group has-success">
                    <select class="form-control" id="shopifystorectegoriesid" [(ngModel)]="categoryID" name="catege">
                      <option value="-1">Please select</option>
                      <option *ngFor="let item of categoriesList" [ngValue]="item.id">{{item.name}}</option>
          
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm  btn-circle-new red-mint btn-danger" data-dismiss="modal">Close</button>
                  <button href="javascript:void(0)" type="button"
                    class="btn btn-sm btn-circle-new blue btn-success" (click)="setCategory()">Select</button>
                </div>
              </div>
            </div>
          
          </div>
    </div>
  </div>


  <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>

  






  