.showoptions:hover .hide {
    display: block;
  }
  
  .showoptions:hover {
    border: solid 1px;
    // border-color: #d8dadc;
    // background-color: lightgray
  }
  
  .hide {
    display: none;
  }