<div>
  <div *ngIf="datePopupOpen">
    <mat-form-field appearance="outline">
      <mat-label>{{ lable }} </mat-label>
      <input
        matInput
        [matDatepicker]="picker3"
        [min]="minDate"
        [max]="maxDate"
        autocomplete="off"
        [(ngModel)]="model"
        (dateChange)="onChange($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="!datePopupOpen">
    <mat-form-field appearance="outline">
      <mat-label>{{ lable }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        autocomplete="off"
        [(ngModel)]="newModel"
        name="dp2"
        (dateChange)="onChange($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>
