<div class="col-md-12">
    <div class="card">
        <div class="card-body p-b-0">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs customtab2" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#orderdetails" role="tab"><span
                            class="hidden-sm-up"><i class="ti-shopping-cart"></i></span> <span class="hidden-xs-down">
                            Order Details</span></a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#items" role="tab"><span
                            class="hidden-sm-up"><i class=" ti-menu"></i></span> <span class="hidden-xs-down">
                            Items</span></a> </li>
                <li (click)="getNotes()" class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages"
                        role="tab"><span class="hidden-sm-up"><i class=" ti-comment-alt"></i></span> <span
                            class="hidden-xs-down">
                            Notes</span></a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="orderdetails" role="tabpanel">
                    <div class="col-12">
                        <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                        <form action="#" class="form-horizontal">
                            <div class="form-body  m-t-20">

                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Channel Reference ID # :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Date :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled
                                                    [value]="orderDetails?.order?.purchaseDate | date:'dd/MM/yyyy'  "
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Source :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.channel"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class="control-label text-left col-md-3">Sub subtotal :</label>
                                        <div class="col-md-9">
                                            <input type="text" disabled [value]="orderDetails?.order?.subTotal"
                                                class="form-control">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--/row-->
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Reference :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Disc before subtotal
                                                :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Channel Reference :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                          <label class="control-label text-left col-md-3">Sub Source :</label>
                                          <div class="col-md-9">
                                              <input type="text" disabled [value]="orderDetails?.order?.channel"
                                                  class="form-control">
                                          </div>
                                      </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class="control-label text-left col-md-3">Shipping Cost
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" disabled [value]="orderDetails?.order?.shippingPrice"
                                                class="form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">External Reference
                                                :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div> -->
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Status :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderStatus"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Tax :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.taxAmount"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Payment Method :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Shipping Cost :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.shippingPrice"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Channel Buyer Name
                                                :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.buyerName"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Total :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.totalPrice"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Profit Marigin :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.orderId"
                                                    class="form-control">
                                            </div>
                                        </div> -->
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">

                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row m-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3"> Billing Address :</label>
                                            <div class="col-md-9">
                                                <textarea disabled class="form-control" rows="5">
                                                  {{ orderDetails?.order?.shipAddress1}},
                                                  {{ orderDetails?.order?.shipAddress2}},
                                                  {{ orderDetails?.order?.shipAddress3}},
                                                  {{ orderDetails?.order?.shipCity}},
                                                  {{ orderDetails?.order?.shipCountry}},
                                                  {{ orderDetails?.order?.shipPostalCode}},
                                                  {{ orderDetails?.order?.shipPhoneNumber}},
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3">Shipping Address :</label>
                                            <div class="col-md-9">
                                                <textarea disabled class="form-control" rows="5">
                                                   {{ orderDetails?.order?.shipAddress1}},
                                                   {{ orderDetails?.order?.shipAddress2}},
                                                   {{ orderDetails?.order?.shipAddress3}},
                                                   {{ orderDetails?.order?.shipCity}},
                                                   {{ orderDetails?.order?.shipCountry}},
                                                   {{ orderDetails?.order?.shipPostalCode}},
                                                   {{ orderDetails?.order?.shipPhoneNumber}},
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>

                                <div class="row m-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3"> Shipping Method :</label>
                                            <div class="col-md-9">
                                              <input type="text" disabled [value]="orderDetails?.order?.shippingMethod"
                                              class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-left col-md-3"> Tracking Number :</label>
                                            <div class="col-md-9">
                                                <input type="text" disabled [value]="orderDetails?.order?.trackingNumber"
                                                class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row m-t-20" *ngIf="orderDetails?.order?.labelPdfURLS.length > 0">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                        <label class="control-label text-left col-md-3"> Label:</label>
                                        <div class="col-md-9" >
                                        <a (click)="labelicon(orderDetails?.order)">
                                        <i  class="fa-lg fas fa-file-pdf ng-star-inserted" style="cursor: pointer; color: #fec107;"></i>
                                        </a>
                                        </div>
                                        </div>
                                        </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane  p-20" id="items" role="tabpanel">
                    <div class="table-responsive">
                        <table id="salesTable" class="table table color-bordered-table success-bordered-table">
                          <thead>
                            <th>Product Image</th>
                            <!-- <th style="min-width: 140px;">Order Date <app-sorting></app-sorting>  </th> -->
                            <th style="min-width: 155px;">Order Id</th>
                            <th style="min-width: 150px">Status </th>
                            <th>Channel</th>
                            <th>Product  </th>
                            <th style="min-width: 150px">Qty <br>Item Total / Ship Cost </th>
                            <!-- <th style="min-width: 110px"> <app-sorting></app-sorting>
                            </th> -->
                            <th style="min-width:300px">Ship Address</th>
                            <!-- <th>Notes </th> -->
                            <!-- <th>Actions</th> -->
                          </thead>
                          <tbody class="text-left">
                            <tr *ngFor="let sale of orderDetails?.sales;let i=index">

                              <td>
                                <img [src]="sale.imageUrl" style="width: 100px;" class="img-responsive prod-img">
                              </td>
                              <!-- <td>{{sale.purchaseDate | date:'dd/MM/yyyy h:mm:ss'}}</td> -->
                              <td>
                                {{sale.purchaseDate | date:'dd/MM/yyyy h:mm:ss'}}<br>
                                #{{sale.orderId}} <br>
                                <span class="badge badge-success badge-pill"> {{sale.khubOrderId?sale.khubOrderId:sale.channelOrderId}}</span>
                              </td>
                              <td>
                                <span class="label "
                                  [ngClass]="sale.orderStatus=='Unshipped'?'label-danger':'label-success'">{{sale.orderStatus}}</span><br>
                                <div class="row fa-lg m-t-5">
                                  <i *ngIf="sale.invoicePrinted" class=" fas icon-space fa-print" title="Invoice Printed"></i>
                                  <i *ngIf="sale.labelPrinted" class="icon-space fas fa-envelope" title="Label Generated"></i>
                                  <i class="fas icon-space fa-microchip" title="Order processed"></i>
                                  <i *ngIf="sale.paymentsStatus!=null || sale.orderStatus=='Unshipped'"
                                    class="far icon-space fa-money-bill-alt" title="Paid"></i>
                                  <i *ngIf="sale.isPrime" class="fas icon-space fa-gift" title="Prime Order"></i>
                                </div>
                                <span *ngIf="sale.khubOrderId" class="label label-warning">Merged</span><br>
                              </td>
                              <td>
                                <img class="img-responsive" [src]="getImage(sale.channel)"  style="width: 100px;" >
                                <img *ngIf="sale.site" class="img-responsive"  style="width: 100px;"  [src]="getSiteImage(sale.site)">
                              </td>
                              <td>
                                SKU : {{sale.sku}}
                                <br>
                                <b> Item id :{{sale.orderItemId}} </b>
                                <br>
                                <b>{{sale.title}}</b>
                              </td>
                              <td><span class="badge badge-info badge-pill">{{sale.quantityPurchased}} /
                                  {{sale.productTotalQty}}</span> <br>
                                <span class="badge badge-success badge-pill">{{sale.totalPrice}} / {{sale.shippingfee}}</span>
                              </td>
                              <!-- <td><span class="badge badge-success badge-pill">{{sale.totalPrice}} / {{sale.shippingfee}}</span>
                              </td> -->
                              <td>
                                <span><b><span style="color: #041A41;">Name : </span> </b>{{sale.buyerName}}</span> <br>
                                <span><b><span style="color: #041A41;">Email :</span> </b>{{sale.buyerEmail}}</span><br>
                                <span><b><span style="color: #041A41;">Address :</span> </b>{{sale.shipAddress1}}</span><br>
                                <span><b><span style="color: #041A41;">PostCode:</span> </b> {{sale.shipPostalCode}}</span><br>
                                <span><b><span style="color: #041A41;">Country:</span> </b> {{sale.shipCountry}}</span><br>
                                <span><b><span style="color: #041A41;">Shipping Method:</span> </b>{{sale.shipState}}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class="tab-pane p-20" id="messages" role="tabpanel">
                    <h4>Comments ({{notes.length}})</h4>
                    <div class="d-flex no-block comment-row" *ngFor="let comment of notes">
                        <div class="p-2"><span class="round">
                          <!-- <img src="../assets/images/users/1.jpg" alt="user" width="50"> -->
                        </span>
                        </div>
                        <div class="comment-text w-100">
                            <h5 class="font-medium">{{comment.commentBy}}</h5>
                            <p class="m-b-10 text-muted">{{comment.comment}}</p>
                            <div class="comment-footer">
                                <!-- <span class="text-muted pull-right">{{comment.date | date:'dd MMM yyyy'}}</span>  -->
                                <span class="badge badge-pill badge-info">{{comment.date | date:'dd MMM yyyy'}}</span>
                                <span class="action-icons">
                                    <!-- <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                                    <a href="javascript:void(0)"><i class="ti-close"></i></a> -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

