<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 row option-alignment row" style="padding-bottom: 10px;">
              <div class="col-lg-6 col-sm-12 col-md-6">
                <h4 class="card-title">Upload File Status</h4>
              </div>
              <div>
                <div>
                  <h5>Unused barcodes and SKUs are displayed below.</h5>
                 <!--  <input class="form-control" type="text" name="file"> -->
                  <div class="input-group">
                    <input type="text" [(ngModel)]="toSearchtext"  class="form-control" placeholder="" aria-label="Username">
                    <div class="input-group-append">
                      <span (click)="getUnusedbarcode()" class="input-group-text"><i class="ti-search"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body  box bg-warning text-center">
                    <!-- <h5 class="text-left text-white">Description : </h5> -->
                    <p class="text-left"> There are no unused barcodes available for your new products. Please upload a new file</p>                
                </div>
            </div>
            <!-- <div class="row">
              
            </div> -->
            <div class="table-responsive" style="padding-top: 10px;">
  
              <table id="printabletable" class="display wrap table table-hover table-striped table-bordered"
                cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>UPC</th>
                    <th>EAN</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let code of allCodes">
                    <td class="text-left" >{{ code.upc }}</td>
                    <td class="text-left">{{ code.ean }}</td>
                    <!-- <td>{{ import.fileType }}</td>
                    <td >{{ import.status }} <span style="color: red; font-size: small;">{{ import.error }}</span></td> -->
                    <td><button type="button" class="btn btn-sm btn-success"><i class="fa fa-edit font-blue"></i></button> &nbsp;&nbsp; <button type="button" class="btn btn-sm btn-success"><i class="fa fa-times font-red"> </i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 ">
                  <!-- <span>Showing {{pageSize <= collectionsize ? pageSize : collectionsize}} of
                          {{collectionsize}} entries</span> -->
              </div>
              <div class="col-lg-6 col-md-6 text-right">
                  <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page"
                      [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="changespage(page);">
                  </ngb-pagination>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <app-apploader [Uloading]="loading"></app-apploader> -->
  