<div class="row">
    <div class="col-md-12 col-sm-12">
    
        <!-------->
        <div class="portlet transparent" *ngIf="listPage">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <!-- <i class="fa-brands fa-amazon"></i> -->
                        Repricer Settings
                    </div>
                    <div class="actions">
                        <a  class="btn btn-default btn-success" style="float:right"><i class="fa fa-plus-circle"></i> Configure Amazon Seller Accounts</a>
                    </div>
                </div>
                <!-----------portlet_body div start------------>
                <div class="portlet-body">
                    <div class="portlet-body">
                        <div id="amazonsettingsdivid">
                            <div class="dataTables_wrapper no-footer">
                                <div class="table-scrollable">
                                    <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
                                    <table class="table  table-striped table-bordered table-hover order-column dataTable no-footer" id="allproducts_table" role="grid" aria-describedby="allproducts_table_info">
                                        <thead>
                                            <tr>
                                                <th>Account Name</th>
                                                <th>Site</th>
                                                <th>Merchant Identifier</th>
                                                <th>Access Key</th>
                                                <th>Secret Key</th>
                                                <th>Pricing Rules</th>
                                                <th>Repricer Enable</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        <tr *ngFor="let channel of allChannel; let i = index">
                                            <td>{{channel.name}}</td>
                                            <td>{{ channel?.site }}</td>
                                            <td>{{channel?.merchantIdentifier}}</td>
                                            <td>{{channel?.awsAccessKey}}</td>
                                            <td>{{channel?.secretKey}}</td>
                                            <td><a style="color:blue; cursor:pointer" (click)="getAmazonRepriceRules(channel?.id)">Rules</a></td>
                                            <td><input id="6435repricercheckbox" [checked]="channel?.enable" type="checkbox"></td>
                                            <td class="text-center">
                                                <button title="Edit" (click)="editIntegration(channel)" type="button"
                                                class="btn btn-info btn-circle-new btn-success"><i class="far fa-edit"></i>
                                                </button>
                                                <button (click)="removeMarketPlace(channel)" title="Remove" type="button"
                                                class="m-l-5  btn btn-primary btn-circle-new btn-danger"><i class="fas fa-trash-alt"></i> </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div class="col-lg-6 col-md-6 text-right">
                                        <ngb-pagination [collectionSize]="collectionsize" [pageSize]="pageSize" [(page)]="page" [maxSize]="3" [rotate]="true"
                                         [boundaryLinks]="true" (pageChange)="changespage(page);">
                                        </ngb-pagination>
                                    </div> -->
                                </div>
                            </div>
                        </div>	
                    </div>
                    <div id="amazonusereditdivid" style="display: none">

                    </div>
                    
                </div>
                <!-----------portlet_body div end------------>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->



        </div>
        <!-------->


        <div class="portlet-body" *ngIf="editSettings">
            <div id="amazonusereditdivid" style="">
            <div class="row">
            <div class="col-md-12">
            <div class="portlet transparent" style="margin-top:20px;">
            <div class="portlet-title">
            <div class="caption">

                <span class="caption-subject font-green-sharp bold uppercase">Please set Global Repricing rules for the selected Amazon Account</span>
            </div>
            <div class="tools">

            </div>
            </div>
            <div class="portlet-body" id="blockui_sample_1_portlet_body">
            <div class="well" style="margin-top:40px;">
            <strong>Below default re-pricing rules will be applied by SellersHub</strong><br>

            <ul>
                <li>SellersHub will use your minimum price when the Amazon lowest price is below your minimum lowest price</li>
                <li>SellersHub will move your selling price both up/down between your target lowest price and target highest price whenever Amazon lowest price moves up and down</li>
            </ul>
            </div>

            <form class="form-horizontal" role="form">

                <div class="form-body card-body">
                    <div class="form-group has-success row">
                        <label class="col-md-3 control-label">Amount to Reduce</label>
                        <div class="col-md-9">

                            <input [(ngModel)]="decrevalue" name="decrevalue" type="text" value="" class="form-control" id="amounttoreduce" placeholder="Amount to reduce/increase from current Amazon lowest stock price">
                            <span class="help-block">
                            Amazon lowest price will be reduced/increase by this amount and set it as your selling price. </span>
                        </div>

                    </div>
                    <div class="form-group has-success row">
                        <label class="col-md-3 control-label">Seller Ids to exlcude from Repricing</label>
                        <div class="col-md-9">

                            <input type="text" value="" class="form-control" id="selleridstoexclude" placeholder="Seller ids list to exclude">
                        <span class="help-block">
                        Please enter comma separated Amazon seller ids to exlude from repricing</span>
                        </div>

                    </div>

                    <div class="form-group has-success row">
                        <label class="col-md-3 control-label">&nbsp;</label>
                        <div class="col-md-9">
                            <div class="btn-wrapper">
                                <a class="btn btn-xs btn-success" (click)="updateStockrepricer()"> Save</a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"> Close</a>
                            </div>
                        </div>
                    </div>


                </div>

            </form>

            </div>
            </div>
            </div>

            </div></div>
            
        </div>
    </div>	
</div>

