.title {
  overflow: hidden !important;
  width: 150px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}
mat-form-field {
  width: 92% !important;
}
.faTimes {
  margin-bottom: 20px;
}
.select_height {
  min-height: 52px !important;
}
h1 {
  font-size: 2.25rem !important;
  font-family: Poppins, sans-serif;
}
h4 {
  font-size: 0.875rem !important;
  font-family: Poppins, sans-serif;
}

table {
  width: 100%;
  max-height: 300px !important;
  overflow: auto !important;
}
table th {
  background-color: #424141b3;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, sans-serif !important;
  font-weight: 600;
}
table td,
.description_text {
  white-space: initial !important;
  font-family: Poppins, sans-serif !important;
}
tr.mat-row,
tr.mat-footer-row {
  height: 10vh !important;
}
.description {
  font-size: 1rem !important;
  font-family: Poppins, sans-serif !important;
}
.descriptionBox {
  margin-bottom: 10px;
}
