.card-body {
    padding: 0.5rem;
}

.search-alignment{
    padding-right: 0px;
    margin-bottom: 0.5%;
}

.option-alignment{
    padding-right: 0px;
    margin-bottom: 0.5%;
}

.table1 td, .table1 th {
    padding: 0.2rem;
    vertical-align: unset;
    border-top: 1px solid #e9ecef;
}