.left-icons-color {
    /* color: rgb(255, 72, 0); */
    font-weight: 600;
}

.handicon {
    cursor: pointer;
}

@media (max-width: 767px) {
    .sidebar-bar-mobile {
        left: 0px;
    }
}

.label-loc {
    position: absolute;
    top: -1px;
    font-size: 11px;
    font-weight: 400;
    right: 50px;
}

.label-prime {
    color: rgb(10, 226, 172);
    font-style: italic;
}

.label-comingsoon {
    color: rgba(255, 187, 0, 0.938);
    font-style: italic;
}

.label-loc-inner {
    position: absolute;
    /* top: -6px; */
    font-size: 10px;
    font-weight: 400;
    right: 50px;
}

/* color: blue;
    font-style: italic; */