<mat-accordion>
  <mat-expansion-panel
    *ngFor="let menu of allMenus"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header
      (click)="setMenuName(menu)"
      [ngClass]="{ active: menu.pmenu === selectedMenuName }"
    >
      <mat-panel-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <a *ngIf="!menu.haschildrens">
            <i [class]="menu.icon"></i>&nbsp;
            <span matTooltip="{{ menu.menuname }}" class="active">{{
              menu.menuname
            }}</span>
            <span *ngIf="menu.isPremium" class="label-loc label-prime"
              >Premium</span
            >
            <span *ngIf="menu.isComingSoon" class="label-loc label-comingsoon"
              >Coming soon</span
            >
            <span *ngIf="menu.isBeta" class="label-loc label-comingsoon"
              >Beta</span
            >
          </a>
          <a *ngIf="menu.haschildrens">
            <span> <i [class]="menu.icon"></i>&nbsp;&nbsp;</span>
            <span *ngIf="menu.isPremium" class="label-loc label-prime"
              >Premium</span
            >
            <span *ngIf="menu.isComingSoon" class="label-loc label-comingsoon"
              >Coming soon</span
            >
            <span *ngIf="menu.isBeta" class="label-loc label-comingsoon"
              >Beta</span
            >
            <span
              matTooltip="{{ menu.menuname }}"
              routerLinkActive="active-link"
              >{{ menu.menuname }}</span
            >
          </a>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>

    <div fxLayout="column" *ngIf="menu.chaildrens && menu.haschildrens">
      <div *ngFor="let cmenu of menu.chaildrens">
        <div
          fxLayout="row"
          fxLayoutAlign="start start"
          style="border-left: 1px solid #f0eded"
          [ngClass]="{ active: menu.pmenu === selectedMenuName }"
        >
          <span *ngIf="cmenu.isPremium" class="label-loc-inner label-prime"
            >Premium</span
          >
          <span
            *ngIf="cmenu.isComingSoon"
            class="label-loc-inner label-comingsoon"
            >Coming soon</span
          >
          <span *ngIf="cmenu.isBeta" class="label-loc-inner label-comingsoon"
            >Beta</span
          >
          <a
            *ngIf="
              status == 'ACTIVE' || status == 'active' || status == 'Active'
            "
            style="margin: 10px 0px 10px 45px; cursor: pointer"
            (click)="setMenuName(cmenu)"
            routerLinkActive="active-link"
            >{{ cmenu.menuname }}</a
          >
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <br />
</mat-accordion>
