/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100% !important;
  width: 100% !important;
  white-space: nowrap !important;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
  white-space: initial !important;
}
.card {
  background-color: #fff;
  border: 0 solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  height: 100%;
}
h4 {
  font-size: 1.125rem !important;
}
.text-info {
  color: #03a9f3 !important;
}
.text-center {
  text-align: center;
}
.mat-expansion-panel-spacing {
  margin: 0px !important;
}
.mat-drawer-inner-container {
  height: 100vh !important;
  overflow: hidden !important;
}
.mat-drawer {
  overflow-y: hidden !important;
}
.fixed-table {
  max-height: 500px;
  overflow-y: auto;
}
th.mat-row {
  padding: 10px 0px !important;
}
.activeMenu {
  /* background-color: #05aaf3 !important; */
  color: #ffffff;
  /* border-right: 5px solid #0081bd !important;
   color: #05aaf3; */
}

.activeMenu .arrow svg path {
  stroke: rgba(0, 0, 0, 0.87);
}
.activeMenu .arrow svg {
  transform: rotate(90deg);
}
.miniActiveMenu {
  /* border-left: 5px solid #0081bd !important; */
  color: #05aaf3 !important;
}
.miniActiveMenu .new svg g,
.miniActiveMenu .list svg g {
  fill: #05aaf3;
}
.mat-table {
  font-family: Poppins, sans-serif !important;
}
