<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <div fxFlex="60">
    <img [src]="'assets/images/sign up1.jpg'" alt="" class="images" />
  </div>
  <div fxFlex="40">
    <div class="card">
      <h4 class="text-gradient text-center" style="font-weight: 600">
        BEST MULTICHANNEL ECOMMERCE SOFTWARE
      </h4>
      <h4 class="mt-2 text-center" style="font-weight: 400">
        "Sellershub has changed the world of Multichannel Selling forever in so
        many ways, start your journey with us"
      </h4>
    </div>
  </div>
</div>
