
<div  class="container-fluid" style="margin-top: 2px;">
    <div  class="col-md-12 col-lg-12 text-center m-t-10">
        <img  src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubvolusion.png" alt="user" class="img-responsive img-fixed img-fluid"></div>
        <div  class="card-body p-b-0">
            <ul  role="tablist" class="nav nav-tabs customtab2">
                <li  class="nav-item">
                <a  data-toggle="tab" href="#vol_1_1" role="tab" aria-selected="false" class="nav-link active">
                    <span  class="hidden-sm-up"><i  class="ti-home"></i></span>
                    <span  class="hidden-xs-down"> Integration</span></a></li>
                    <li  class="nav-item"><a  data-toggle="tab" href="#vol_1_2" role="tab" aria-selected="true" class="nav-link">
                        <span  class="hidden-sm-up"><i  class="ti-user"></i></span>
                        <span  class="hidden-xs-down"> Listing Templates</span></a></li>
            </ul>
            <div  class="tab-content">
                <div  id="vol_1_1" role="tabpanel" class="tab-pane active">
                    <div class="portlet-body form">
                        <!-----------------------------Form Start----------------------------------->
                        <div class="portlet box">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="portlet transparent row">
                                                <!-- <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <a  class="btn btn-sm btn-success btn-circle-new"> Save</a>
                                                        <a class="tooltips btn btn-sm btn-circle-new btn-default btn-success" data-container="body" data-placement="top" data-html="true" data-original-title="Download Volusion Catalog"> <i class="fa fa-download"></i> Catalog</a>
                                                        <a  type="button"  class="tooltips btn btn-sm btn-circle-new btn-default btn-success" data-container="body" data-placement="top" data-html="true" data-original-title="Remove All listings from Sellershub"><i class="fa fa-times font-red"></i> Remove All listings from Sellershub</a>
                                                        <a  class="btn btn btn-sm btn-circle-new btn-default btn-danger"> Close</a>
                                                    </div>
                                                </div> -->
                                                <div class="col-md-12 col-lg-12 text-right">
                                                    <button *ngIf="isNewIntegration" (click)="savewalmartData()" type="submit" class="btn btn-success m-r-10">
                                                      <i class="fa fa-check"></i> Save</button>
                                                    <button *ngIf="!isNewIntegration" (click)="updatewalmartData()" type="submit"
                                                      class="btn btn-success m-r-10"> <i class="fa fa-check"></i> Update</button>
                                                    <button *ngIf="!isNewIntegration" (click)="testConnection()" type="submit" class="btn btn-success m-r-10">
                                                      <i class="fa fa-check"></i> Test Connection</button>
                                                    <button *ngIf="!isNewIntegration" (click)="downloadOrders()" type="submit" class="btn btn-success m-r-10">
                                                      <i class="fa fa-check"></i>Catalog</button>
                                                    <button *ngIf="!isNewIntegration" (click)="deletewalmartAccount()" type="submit"
                                                      class="btn btn-success m-r-10">
                                                      <i class="fa fa-check"></i> Remove All Listings</button>
                                                    <button (click)="closeIntegration()" type="button" class="btn btn-danger">Close</button>
                                                  </div>
                                                 <div class="col-md-12 mt-3">
                                                <div class="portlet-body form">
                                                    <form>
                                                        <div class="form-body row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Enter Name to Remmember</label>
                                                                    <div>
                                                                        <input type="text" value="Volusion Account" class="form-control" id="name" placeholder="Enter name to remember this channelL"
                                                                        [(ngModel)]="apisecret" [ngModelOptions]="{standalone: true}">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Volusion Product Url</label>
                                                                    <div>
                                                                        <input type="text" value="" class="form-control" id="apiurl" placeholder="Enter Volusion Product Url"
                                                                        [(ngModel)]="apisecret" [ngModelOptions]="{standalone: true}">
                                                                        <span class="help-block">
                                                                            <strong>Note:</strong> Please note that the API access is only supported in following Volusion plans (Pro and Premium). Sellers on other Volusion
                                                                                packages (Mini and Plus) will not be able to use the API integration in Volusion
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Volusion Order Url</label>
                                                                    <div>
                                                                        <input type="text" value="" class="form-control" id="apikey" placeholder="Enter Volusion Order Url"
                                                                        [(ngModel)]="apisecret" [ngModelOptions]="{standalone: true}">
                                                                        <span class="help-block">
                                                                            <strong>Note:</strong> Please note that the API access is only supported in following Volusion plans (Pro and Premium). Sellers on other Volusion
                                                                            packages (Mini and Plus) will not be able to use the API integration in Volusion
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Volusion FTP Server</label>
                                                                    <div>
                                                                        <input type="text" value="" class="form-control" id="ftpserver" placeholder="FTP Servername"
                                                                        [(ngModel)]="apisecret" [ngModelOptions]="{standalone: true}">
                                                                        <span class="help-block">
                                                                            <strong>Note:</strong> This is required for  updating product images into Volusion from Sellershub
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Volusion FTP Username</label>
                                                                    <div>
                                                                        <input type="text" value="" class="form-control" id="ftpusername" placeholder="FTP Username"
                                                                        [(ngModel)]="apisecret" [ngModelOptions]="{standalone: true}">
                                                                        <span class="help-block">
                                                                            <strong>Note:</strong> This is required for  updating product images into Volusion from Sellershub. Please dont use '@' in your FTP username or pasword
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Volusion FTP Password</label>
                                                                    <div>
                                                                        <input type="text" value="" class="form-control" id="ftppassword" placeholder="FTP Password"
                                                                        [(ngModel)]="apisecret" [ngModelOptions]="{standalone: true}">
                                                                        <span class="help-block">
                                                                            <strong>Note:</strong> This is required for  updating product images into Volusion from Sellershub.  Please dont use '@' in your FTP username or pasword
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Download Volusion Categories</label>
                                                                    <div>
                                                                        <div class="alert alert-warning">
                                                                            <div class="row">
                                                                                <input type="hidden" value="6358" name="channelUserId">
                                                                                <div class="col-md-12">
                                                                                    <h5>Please select the Volusion Store category CSV file to upload</h5>
                                                                                    <input class="form-control" type="file" name="file">
                                                                                    <input class="btn btn-sm btn-default btn-circle-new" type="submit" value="Upload">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <span class="help-block">Volusion does not allow an automatic download of Store categories via API Hence please uplad the category export from Volusion store into Sellershub via CSV file</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label>View Store Categories</label>
                                                                        <div class="form-group">
                                                                            
                                                                                <a  href="javascript:void(0)" class="icon-btn">
                                                                                    <i class="fa fa-sitemap"></i>
                                                                                    <div>
                                                                                        Categories
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <div class="row">
                                                                            <div class="form-group">
                                                                                <div class="col-md-1">
                                                                                    <input id="downloadamazoncatalogid" checked="" type="checkbox" value="">
                                                                                </div>
                                                                                <label class="col-md-11">Download the catalog into Sellershub</label>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="row">
                                                                            <div class="form-group">
                                                                                <div class="col-md-1">
                                                                                    <input id="downloadamazonorderid" checked="" type="checkbox" value="">
                                                                                </div>
                                                                                <label class="col-md-11">Download the Orders into Sellershub</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-md-6 alert-info">
                                                                <div class="mt-element-ribbon">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-info" style="color:black;">
                                                                        <div class="ribbon-sub ribbon-clip"></div>Please follow the below steps to generate the Volusion API
                                                                    </div>
                                                                    <ul class="ribbon-content " style="color:black;">
                                                                       <li>If you dont see any Volusion products downloading into Sellershub after one clicking the download button, please reset your Volusion API as per the steps below.</li>
                                                                       <li>You can access the generic product export functions through the main Volusion API access page. In your Admin Area, go Inventory &gt; Import/Export and click on the Volusion API tab.</li>
                                                                       <li>Enabling generic exports is easy. Select Enable Public XML for Featured Products and Enable Public XML for All Products, then click Save next to each export option.</li>
                                                                       <li><a  target="_blank">View help article on Volusion API</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            
                                                            <!-- <div class="col-md-6">
                                                                <div class="form-group has-success">
                                                                  <label class="control-label">Max Listed</label>
                                                                  <input type="text"  name="username" class="form-control" placeholder="Max Listed">
                                                                  
                                                                </div>
                                                              </div>
                                                              <div class="col-md-6">
                                                                <div class="form-group has-success">
                                                                  <label class="control-label">Stock Percentage</label>
                                                                  <input type="text"  name="username" class="form-control" placeholder="Stock Percentage">
                                                                  
                                                                </div>
                                                              </div>
                                                              <div class="col-md-6">
                                                                <div class="form-group has-success">
                                                                  <label class="control-label">End When</label>
                                                                  <input type="text"  name="username" class="form-control" placeholder="End When">
                                                                  
                                                                </div>
                                                              </div> -->

                                                        </div>
                                                    </form>
                                                </div>
                                                </div>
                                            </div>


                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        <!-----------------------------Form Ends----------------------------------->
                    </div>
                    
                </div>
                <div  id="vol_1_2" role="tabpanel" class="tab-pane p-20">
                    <div class="portlet box">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-sm btn-circle-new btn-default btn-success" >New Listing Template <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                        
                        <div class="portlet-body">

                        <div class="portlet transparent" id="maintemplatelist">

                        <div class="portlet-body">

                        <div id="etsylistingtemplatediv1" class="table-scrollable" style="display: none;">

                        <table class="table tableFixHead table-hover order-column v2">
                        <thead>
                        <tr>
                        <th>Template Name</th>
                        <th>Modified Date</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>



                        </tbody>

                        </table>

                        </div>

                        <div id="etsylistingtemplatediv2">


                        <div class="portlet-body">
                        <div class="row">
                        <div class="col-md-12">
                        <div class="portlet transparent">
                        <h4>Please Enter Volusion Listing Template Details</h4>
                        <div class="portlet-body form">
                        <form class="form-horizontal" role="form">
                        <div class="form-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Template Name</label>
                                <div>
                                <input type="text" value="" class="form-control" id="templatename" placeholder="Enter Template Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Store Category</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" value="" class="form-control" id="selectedcategorynameid" placeholder="Enter Store Category Id">
                                        <span class="input-group-btn">
                                            <a  href="javascript:void(0)">
                                                <button class="btn-xs" type="button">Categories</button>
                                            </a>	
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Pricing Rule</label>
                                <div>
                                <input type="text" value="" class="form-control" id="pricingRule" placeholder="Pricing Rule">
                                <!-- <span class="help-block">e.g  <strong>${cost_price!}*1.6 + 1 </strong><span><br>
                                    <span class="help-block">
                                        This make the selling price by multiplying cost price by 1.6 and add 1
                                        Tags available are  <strong>${cost_price!} and ${selling_price!}</strong>
                                    </span>
                                </span></span> -->
                            </div>
                            </div>
                            <div class="form-group">
                                <label>Default Weight</label>
                                <div>
                                <input type="text" value="" class="form-control" id="weightid" placeholder="Default weight">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <a href="javascript:void(0)"  type="submit" class="btn btn-sm btn-circle-new btn-success "><i class="fa fa-check"></i> Save</a>
                                    <a href="/settings/findchanneluser?id=6358"  type="button" class="btn btn-sm btn-circle-new btn-default btn-danger "><i class="fa fa-times font-red"></i> Cancel</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div></div>

                        </div>

                        </div>
                        </div>
                    </div>
                    
                </div>

            </div>

            </div>
   </div>         
           












