gridster {
  position: relative;
  box-sizing: border-box;
  background: grey;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  display: block;
}


.page_a4 {
  // background: white;
  width: 4in;
  height: 6in;
  display: block;
  margin: 0.2cm auto 0.2cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}


.ui-padding {
  padding: 10px 10px 0px 10px
}

.action-icons {
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 1;
}

gridster.mobile gridster-item {
  position: relative;
  min-height: 570px;
}

.img-abs {
  position: absolute;
  right: 3px;
  opacity: 0.3;
  left: 2px
}

table,
th,
td {
  border: 1px solid black;
}

.add {
  float: right;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  margin-top: -25px;
  cursor: pointer;
}