<div class="row">
  <div *ngIf="!isView" class="col-md-12 col-lg-12 container-fluid">
    <div class=" row col-md-12 col-lg-12">
      <div class="col-md-6 col-lg-6 text-left">
        <h4 class="mt-1" style="font-weight: 400;">Custom Label Design :</h4>
      </div>
      <div class="col-md-6 col-lg-6 text-right">

        <button (click)="saveTemplateV2()" title="Title" type="button" class="btn m-l-5 btn-sm btn-success "><i
            class="fas fa-eye"></i>
          Save Template</button>
      </div>
    </div>
    <!-- <gridster [options]="options" class="page_a4" id="section-to-print">
      <gridster-item [item]="item" *ngFor="let item of dashboard;let i=index" (itemChange)="itemChange($event)"
        style="height:570px">
        <div [ngSwitch]="item?.type" class="gridster-item-content col-md-12 col-lg-12">
          <div *ngSwitchCase="'GeneralDetails'" class="p-10">
            <img src='assets/images/sample_label.png' class="img-responsive img-abs">
           <div class="action-icons" >
                <i style="cursor: pointer;color: rgb(39 39 39 / 52%);" (click)="openModal(item,'fromaddress')"
                  class="fa-lg fas fa-plus-circle"></i>               
              </div> -->
    <!-- <div class="col-md-12 col-lg-12" *ngFor="let chaild of item.childs">
              <div *ngIf="chaild.type==='editor'">
                <angular-editor id="editor1" [(ngModel)]="chaild.text" [config]="editorConfig"></angular-editor>
              </div>
            </div> 
          </div>
        </div>
      </gridster-item>
    </gridster> -->
    <div class="page_a4">
      <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
      <table style="width:100%; background-image: url({{imageURL}});">
        <tbody>
          <tr *ngFor="let row of lableTemplate.rows;let i=index">
            <td *ngFor="let col of row.cols;let j=index" style="height: 57.6px;width: 128px;"
              (click)="selectCell(i,j, col)">
              <ng-container *ngIf="col.fields" style="overflow: hidden;">
                <ng-container *ngFor="let item of col.fields">
                  <span style="font-size: 12px;">{{item?.value}} : xxxxx </span><br />
                </ng-container>
              </ng-container>
              <i class="fa fa-plus-circle add" (click)="editCell(i,j,col);$event.stopPropagation()"></i>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div id="template-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 600">Add Fields</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideModal()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="col-md-12" *ngIf="activetype=='itemcard'">
          <ng-multiselect-dropdown [settings]="dropdownSettings_item" [placeholder]="'Select Card Type'"
            id="allCardTypes" name="allCardTypes" style="width: 100%;" [data]="allCardTypes" ngDefaultControl
            [(ngModel)]="selectedCards">
          </ng-multiselect-dropdown>
        </div>

        <div class="col-md-12" *ngIf="activetype=='fromaddress'">
          <ng-multiselect-dropdown [settings]="dropdownSettings_from" [placeholder]="'Select Fields'" id="fromaddress"
            name="fromaddress" style="width: 100%;" [data]="allFromAddressFields" ngDefaultControl
            [(ngModel)]="selectedFromAddress">
          </ng-multiselect-dropdown>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="addFields()" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" (click)="hideModal()" class="btn btn-danger waves-effect"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="editor-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 600">Text Editor</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideModalEditor()"
          aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <angular-editor (focusout)="emithtml($event)" [(ngModel)]="selectedHtml" id="editor1" [config]="editorConfig">
          </angular-editor>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="saveEditorData()" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" (click)="hideModalEditor()" class="btn btn-danger waves-effect"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="label-template-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: 600">Add Fields</h4>
        <button type="button" class="close" (click)="hideModal()" aria-hidden="true">×</button>
      </div>
      <div class="modal-body" *ngIf="selectedColum">
        <div class="custom-control custom-checkbox" style="float: right;">
          <input type="checkbox" id="checkall" [(ngModel)]="selectedColum.withBarcode" name="checkall"
            class="custom-control-input checkallP">
          <label class="custom-control-label" for="checkall">With Barcode</label>
        </div>
        <br />
        <div class="col-md-12">
          <ng-multiselect-dropdown [settings]="dropdownSettings_item" [placeholder]="'Select Card Type'"
            id="allCardTypes" name="allCardTypes" style="width: 100%;" [data]="labelFields" ngDefaultControl
            [(ngModel)]="selectedColum.fields">
          </ng-multiselect-dropdown>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="addLabelFields()" class="btn waves-effect waves-light btn-success">Save</button>
        <button type="button" (click)="hideModal()" class="btn btn-danger waves-effect">Close</button>
      </div>
    </div>
  </div>
</div>


