<div class="container-fluid" style="margin-top: 2px">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table1 table stylish-table">
          <thead>
            <tr>
              <th class="text-left">Setting Type</th>
              <th class="text-left">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h6>Weight (lb)</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <input type="text" id="weight-lb" [(ngModel)]="weightLb" name="weight-lb" class="form-control" placeholder="Weight (lb)">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Weight (kg)</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <input type="text" id="weight-kg" [(ngModel)]="weightKg" name="weight-kg" class="form-control" placeholder="Weight (kg)">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Length</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <input type="text" id="length" [(ngModel)]="lengths" name="length" class="form-control" placeholder="Length">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Width</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <input type="text" id="width" [(ngModel)]="widths" name="width" class="form-control" placeholder="Width">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Depth/Height</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <input type="text" id="height" [(ngModel)]="heights" name="height" class="form-control" placeholder="Depth/Height">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Dimension Unit</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <select name="unit" (change)="getUnit()" [(ngModel)]="dimensionUnit" class="form-control custom-select" aria-placeholder="filter By">
                    <option value="cm">Centimeters (cm)</option>
                    <option value="m">Meters (m)</option>
                    <option value="inch">Inches (inch)</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h6>Currency</h6>
              </td>
              <td class="text-left">
                <div class="form-group">
                  <select name="currency" (change)="onCurrencychange()" [(ngModel)]="isCur" class="form-control custom-select" aria-placeholder="filter By">
                    <option *ngFor="let cur of showCurrency" [value]=" cur.code ">{{ cur.name }}</option>
                  </select>
                </div>

              </td>
            </tr>
            <tr>
              <td>
                <h6>Auto merge</h6>
              </td>
              <td class="text-left">
                <div class="custom-control custom-checkbox mr-sm-2 mb-3">
                  <input (click)="updateAutomerge()" [checked]="isAytomerge" type="checkbox" class="custom-control-input" id="checkbox0" value="check">
                  <label class="custom-control-label" for="checkbox0"></label>
              </div>
              </td>
            </tr>
         
          </tbody>
        </table>
      </div>
      <div class="form-group" >
        <button (click)="saveDefaultSetting()" class="btn btn-success text-white form-control">Submit</button>
      </div>
    </div>
  </div>
</div>

  <!-- <app-apploader [Uloading]="loading"></app-apploader> -->
