<div class="portlet-body form">
  <div class="portlet box ">
    <div class="portlet-body">
      <div class="col-md-12 col-lg-12 text-right m-b-10">
        <button type="button" *ngIf="!isEditTemplate" (click)="newTemplateObj()" class="btn btn-primary mr-1">
          <i class="fa fa-times-circle-o"></i>New Template
        </button>
        <button type="button" *ngIf="!isEditTemplate" (click)="close()" class="btn btn-danger ng-star-inserted">
          <i class="fa fa-times font-red"></i> Close </button>
        <button type="button" *ngIf="isEditTemplate" (click)="updateTemplate()"
          class="btn btn-success ng-star-inserted">
          Update </button>
      </div>
      <div class="portlet transparent" id="maintemplatelist" *ngIf="!(newTemplate || isEditTemplate)">
        <div class="portlet-body">
          <div class="col-md-12">
          <div class="table-scrollable">
            <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
            <table class="table tableFixHead table-hover order-column v2 table-bordered">
              <thead>
                <tr>
                  <th>
                    Template Name
                  </th>
                  <th>
                    Modified Date
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="templates?.length>0">
                <tr *ngFor="let item of templates">
                  <td> {{item.templateName}}</td>
                  <td> {{item.modifiedDate | date:short}}</td>
                  <td>
                    <button class="btn btn-sm btn-success btn-circle-new" (click)="editTemplate(item)">Edit</button>
                    <button class="btn btn-sm btn-danger btn-circle-new" (click)="removeTemplate(item)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      <div id="edittempalteid" *ngIf="newTemplate || isEditTemplate">
        <div class="portlet-body m-t-20">
          <div class="row">
            <h3 class="mb-4">Please enter Shopwired Listing details</h3>
            <div class="col-md-12">
              <div class="portlet transparent">
                <div class="portlet-body form">
                  <form class="form-horizontal" role="form">
                    <div class="form-body row">
                      <div class="col-md-12">
                        <div class="form-group has-success row">
                          <label class="col-md-4 control-label">Template Name</label>
                          <div class="col-md-6">
                            <input type="text" [(ngModel)]="templateModel.name" name="templatename"
                              [ngModelOptions]="{standalone: true}" class="form-control input-inline input-medium"
                              id="templatename" placeholder="Enter Template Name">
                          </div>
                        </div>
                        <div class="form-group has-success row">
                          <label class="col-md-4 control-label">Category Id</label>
                          <div class="col-md-6">
                            <input type="text" id="primarycategory" [(ngModel)]="templateModel.categoryId"
                              class="form-control" [ngModelOptions]="{standalone: true}"
                              placeholder="Enter Store Category Ids">
                          </div>
                          <div class="col-md-2">
                            <button (click)="categoryIndex = 1;openCategories();" class="btn btn-success">
                              Categories
                            </button>
                          </div>
                        </div>
                        <div class="form-group has-success row" *ngIf="newTemplate">
                          <div class="col-md-4"></div>
                          <div class="col-md-8">
                            <button (click)="saveShopwiredTemplate()" type="submit" style="margin-right: 6px;"
                              class="btn green btn-success">Save</button>
                            <button type="button" class="btn default btn-danger"
                              (click)="newTemplate = false">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-modal-lg in" id="categorywindow" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="caption alert alert-warning">
        <h4>Manage Shopify Collections / Store Category</h4>
      </div>
      <div class="modal-body">
        <h4>Please select an Shopify Collection / Store Category </h4>
        <div class="form-group has-success">
          <select class="form-control" id="shopifystorectegoriesid" [(ngModel)]="categoryID" name="catege">
            <option value="-1">Please select</option>
            <option *ngFor="let item of categoriesList" [ngValue]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm  btn-circle-new red-mint btn-danger" data-dismiss="modal">Close</button>
        <button href="javascript:void(0)" type="button" class="btn btn-sm btn-circle-new blue btn-success"
          (click)="setCategory()">Select</button>
      </div>
    </div>
  </div>
</div>
