<div class="container-fluid" style="margin-top: 2px">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 row option-alignment">
              <div class="col-lg-6 col-sm-12 col-md-6">
                <h4 class="card-title">Manage your Product Attributes</h4>
              </div>
              <div style="padding-left: 250px;">
                <button (click)="getEditAttribute('-1');auditTrack(1)" type="button" class="btn btn-sm btn-success">New Attribute <i class="fa fa-angle-right font-blue"></i></button> &nbsp;
                <button (click)="getAttribute();auditTrack(2)" type="button" class="btn btn-sm btn-success"><i class="fa fa-refresh"></i> Refresh </button> &nbsp;
                <button type="button" class="btn btn-sm btn-success"><i class="fa fa-times font-red"></i> Close</button>
              </div>
            </div>

            <div class="table-responsive" style="padding-top: 10px;">
              <app-apploader [Uloading]="loading" *ngIf="loading"></app-apploader>
              <table id="printabletable" class="display nowrap table table-hover table-striped table-bordered"
                cellspacing="0" width="100%">
                <thead class="text-center">
                  <tr>
                    <th>Sellershub Name</th>
                    <th>Channel Display Name</th>
                    <th>Default Value</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let attr of allAttribute">
                    <td>{{ attr.name }}</td>
                    <td>{{ attr.value1 }}</td>
                    <td>{{ attr.value2 }}</td>
                    <td><button (click)="getEditAttribute(attr.id);auditTrack(3)" type="button" class="btn btn-sm btn-success"><i class="fa fa-edit font-blue"></i></button> &nbsp;&nbsp; <button (click)="removeAttribute(attr.id);auditTrack(4)" type="button" class="btn btn-sm btn-success"><i class="fa fa-times font-red"> </i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="col-lg-12 col-md-12  align-self-center text-right">
                <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

    <div id="attribute-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-center">Please enter values for the attribute <b>{{ chandisplayName }}</b></h2>
            <button type="button" class="close" data-dismiss="modal" (click)="modalclosed()" aria-hidden="true">×</button>
          </div>
          <div class="modal-body modal-body-min-height">
            <div class="row">
              <!-- <div  class="col-md-6 col-lg-6 col-xl-4"> -->
              <div class="card card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Attribute Channel Display Name</label>
                        <input type="text" id="chandisplayName" placeholder="Enter Attrbute Name" [(ngModel)]="chandisplayName" name="chandisplayName"  class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Attribute Sellershub Name</label>
                        <input type="text" id="sellersdisplayname" placeholder="Name to remember within Sellershub" [(ngModel)]="sellersdisplayname" name="sellersdisplayname"  class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Default Value</label>
                        <input type="text" id="defaultvalue" placeholder="Default Value" name="defaultvalue" [(ngModel)]="defaultvalue" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="table-responsive" style="padding-top: 10px;">

                        <table id="printabletable" class="display nowrap table table-hover table-striped table-bordered"
                          cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Value</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let val of resultValue">
                              <td><input type="text" name="{{ val.value }}"  value="{{ val.value }}" class="form-control"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="control-label">Enter Value</label>
                          <input type="text" id="value1" name="value1" [(ngModel)]="value1"  class="form-control">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="control-label">Enter Value</label>
                          <input type="text" id="value2" name="value2" [(ngModel)]="value2" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="control-label">Enter Value</label>
                          <input type="text" id="value3" name="value3" [(ngModel)]="value3" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Enter Value</label>
                            <input type="text" id="value4" name="value4" [(ngModel)]="value4" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Enter Value</label>
                            <input type="text" id="value5" name="value5" [(ngModel)]="value5" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Enter Value</label>
                            <input type="text" id="value6" name="value6" [(ngModel)]="value6" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Enter Value</label>
                            <input type="text" id="value7" name="value7" [(ngModel)]="value7" class="form-control">
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
              <!-- </div> -->
            </div>

          </div>
          <div class="modal-footer">
            <button (click)="saveAttribute()"  data-dismiss="modal" type="button" class="btn waves-effect waves-light btn-success"> Save</button>
            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  
