<div id="editchannelproductdivid">



    <!-- NEW UI HEADER -->
    <div class="row form-group has-success" style="margin-top: 10px;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <strong><i class="fa fa-cube"></i> Edit OnBuy Item </strong>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="actions pull-right">

                <button class="btn btn-sm btn-circle-new btn-success"><i class="fa fa-check"></i> Save</button>

                <button  (click)="close()"  class="btn btn-sm btn-circle-new btn-success"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>

    <!-- NEW UI HEADER END -->
    <div class="portlet box">
        <div class="portlet-body">
            <div class="row form-group has-success">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase"><img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubonbuy.png" height="40"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="actions">

                    </div>
                </div>
            </div>

            <form role="form" *ngIf="channelProduct">
                <div class="row form">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class=" control-label">Item Id:</label>
                                    <input type="text" readonly="" class="form-control" [(ngModel)]="channelProduct.itemId" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class="control-label">SKU:</label>
                                    <input type="text" class="form-control" readonly="" [(ngModel)]="channelProduct.sku" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class=" control-label">Item Title:</label>
                                    <input type="text" class="form-control" id="edittitleid" [(ngModel)]="channelProduct.title" [ngModelOptions]="{standalone: true}" placeholder="Product title">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class=" control-label">Listing Template:</label>
                                    <select id="edittemplateId" class="form-control">

                                    </select>
                                </div>
                        </div>

                         <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class=" control-label">Selling Price (USD):</label>
                                    <input type="text" class="form-control" id="editsellingprice" [(ngModel)]="channelProduct.sellingPrice" [ngModelOptions]="{standalone: true}" placeholder="Selling Price">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group has-success">
                                <label class=" control-label">On Buy Category:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="selectedcategorynameid" [(ngModel)]="channelProduct.storeCategoryIdOne" [ngModelOptions]="{standalone: true}" placeholder="OnBuy Category">
                                    <span class="input-group-btn">
                                        <a href="javascript:void(0)" >
                                            <button class="btn-xs" type="button">Categories</button>
                                        </a>
                                    </span>
                                </div>
                           </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div class="form-group has-success">
                                <label class="ontrol-label">Item Description:</label>
                                    <textarea id="editdescriptionid" class="form-control" rows="5" [(ngModel)]="channelProduct.description" [ngModelOptions]="{standalone: true}"></textarea>
                           </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <div id="variationsdivid">



    <br>
    <div class="portlet box ">
        <div class="row form-group has-success" style="margin-top: 10px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="caption">
                    <strong><i class="fa fa-tasks"></i> Product Variations</strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="actions">
                </div>
            </div>
        </div>
        <div class="portlet-body" *ngIf="productImages">

          <img height="50px" src="{{item.url}}" alt="" *ngFor="let item of productImages">

        </div>

        <div class="portlet-body">

                <div class="alert alert-warning">
                    <p>There are no variations for this product. Please add new variations from Variation tab and then add to your Bonanza product</p>
                </div>


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-warning">
                        <strong>Variation Theme:&nbsp;</strong>



                        <a href="javascript:void(0)"  class="btn btn-sm btn-circle-new red-mint">Manage Variation Theme</a>
                    </div>
                </div>
            </div>
            <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>
                                SKU
                            </th>
                            <th>
                                UPC/EAN
                            </th>

                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Listing Status
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>

                        <tbody>


                        </tbody>
                    </table>
                   </div>

                    <div class="alert alert-warning">
                        <p>Following variations are available to add to the onbuy item</p>



                                <p>Please add new variation SKUs from variation tab</p>




                    </div>

                    <div class="table-scrollable">

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
                                SKU
                            </th>

                            <th>
                                Quantity
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>

                        <tbody>


                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    </div>
    <div class="modal" id="editattributemodal" tabindex="-1" role="basic" aria-hidden="true">
    <!-- /.modal-dialog -->
    </div>
    <div class="modal" id="categorywindow" tabindex="-1" role="basic" aria-hidden="true" style="display: none">
    </div></div>
