.card-body {
    padding: 0.5rem;
}

.search-alignment{
    padding-right: 0px;
    margin-bottom: 0.5%;
}

.option-alignment{
    padding-right: 0px;
    margin-bottom: 0.5%;
}

ngb-pagination{
  float: right;
}

.prod-img{
    width: 50px!important;
}